# Google Distance Matrix API Key

AIzaSyAMACBvvccyyiV8vYF7jetNBDPuZcbtSBQ

In [1]:
from bs4 import BeautifulSoup

In [2]:
from bs4 import BeautifulSoup
import requests
from urllib.request import urlopen,Request

In [3]:
import pandas as pd
import googlemaps
from itertools import tee
import os
os.getcwd()

'C:\\Users\\Carl\\Housing'

In [6]:
stations=pd.read_csv("C:\\Users\\Carl\\Housing\\Data\\uk-train-stations.csv",engine='python')
stations=stations.drop_duplicates(subset=["station_name"])

In [7]:
stations[stations["station_name"]=="Highbury & Islington Rail Station"]

     3alpha                       station_name   latitude  longitude
1086    HHY  Highbury & Islington Rail Station  51.546178  -0.103737

In [5]:
stationnames=stations.station_name.to_list()

In [6]:
stations.set_index("station_name",inplace=True,drop=True)

In [7]:
API_key="AIzaSyAMACBvvccyyiV8vYF7jetNBDPuZcbtSBQ"
gmaps=googlemaps.Client(key=API_key)

In [8]:
stations.head()

                              3alpha   latitude  longitude
station_name
Alexandra Palace Rail Station    AAP  51.597925  -0.120210
Achanalt Rail Station            AAT  57.609576  -4.913846
Aberdare Rail Station            ABA  51.715060  -3.443095
Altnabreac Rail Station          ABC  58.388133  -3.706287
Aberdeen Rail Station            ABD  57.143687  -2.098693

In [171]:
stationnames="Highbury & Islington Rail Station"

SyntaxError: invalid syntax (<ipython-input-171-f4c9df7e1b7f>, line 1)

In [11]:
stations.loc["Highbury & Islington Rail Station"][1]

51.54617770189999

In [ ]:
dest=(51.50275, -0.0169)
new_dict1={}

for station in stationnames:
    try:
        name=stations.loc[str(station)][0]
        latitude=stations.loc[str(station)][1]
        longitude=stations.loc[str(station)][2]
        origins=(latitude,longitude)
        time_by_train=5
        #response = gmaps.distance_matrix(origins, dest, mode='transit',arrival_time=1651563981)
        #time_by_train=response["rows"][0]["elements"][0]["duration"]["value"]/60
        print(time_by_train,station,latitude,longitude)
        new_dict1[station]=time_by_train
    except:
        print(station,"failed")

In [24]:
journeytimesdf=pd.DataFrame.from_dict(new_dict,orient="index")

In [17]:
journeytimesdf.to_excel("Journey Times.xlsx")

In [28]:
journeytimesdf=journeytimesdf.reset_index()

In [31]:
stations.reset_index(inplace=True)

In [32]:
stations

                          station_name 3alpha   latitude  longitude
0        Alexandra Palace Rail Station    AAP  51.597925  -0.120210
1                Achanalt Rail Station    AAT  57.609576  -4.913846
2                Aberdare Rail Station    ABA  51.715060  -3.443095
3              Altnabreac Rail Station    ABC  58.388133  -3.706287
4                Aberdeen Rail Station    ABD  57.143687  -2.098693
...                                ...    ...        ...        ...
2588       Southease - Piddinghoe Road    ZBU  50.829619   0.017846
2589         Canada Water Rail Station    ZCW  51.497989  -0.049694
2590  Farringdon (London) Rail Station    ZFD  51.520167  -0.105179
2591          Whitechapel Rail Station    ZWL  51.519469  -0.059731
2592              Lintley Rail Station    ZZT  54.853558  -2.488317

[2593 rows x 4 columns]

In [37]:
journeytimesdf.rename(columns={"index":"station_name"},inplace=True)

In [39]:
journeytimesdf.rename(columns={0:"train time to work"},inplace=True)

In [40]:
journeytimesdf.head()

                    station_name  train time to work
0  Alexandra Palace Rail Station           44.966667
1          Achanalt Rail Station          957.300000
2          Aberdare Rail Station          436.133333
3        Altnabreac Rail Station         1055.300000
4          Aberdeen Rail Station          698.300000

In [41]:
stations

                          station_name 3alpha   latitude  longitude
0        Alexandra Palace Rail Station    AAP  51.597925  -0.120210
1                Achanalt Rail Station    AAT  57.609576  -4.913846
2                Aberdare Rail Station    ABA  51.715060  -3.443095
3              Altnabreac Rail Station    ABC  58.388133  -3.706287
4                Aberdeen Rail Station    ABD  57.143687  -2.098693
...                                ...    ...        ...        ...
2588       Southease - Piddinghoe Road    ZBU  50.829619   0.017846
2589         Canada Water Rail Station    ZCW  51.497989  -0.049694
2590  Farringdon (London) Rail Station    ZFD  51.520167  -0.105179
2591          Whitechapel Rail Station    ZWL  51.519469  -0.059731
2592              Lintley Rail Station    ZZT  54.853558  -2.488317

[2593 rows x 4 columns]

In [42]:
new_df=pd.merge(stations[["station_name","latitude","longitude"]],journeytimesdf,on="station_name")

In [46]:
new_df.head()

                    station_name   latitude  longitude  train time to work
0  Alexandra Palace Rail Station  51.597925  -0.120210           44.966667
1          Achanalt Rail Station  57.609576  -4.913846          957.300000
2          Aberdare Rail Station  51.715060  -3.443095          436.133333
3        Altnabreac Rail Station  58.388133  -3.706287         1055.300000
4          Aberdeen Rail Station  57.143687  -2.098693          698.300000

In [22]:
new_dict["Achanalt Rail Station"]

957.3

In [72]:
latitude=new_df.loc[station][0]
longitude=new_df.loc[station][1]

latitude              51.597925
longitude             -0.120210
train time to work    44.966667
Name: Alexandra Palace Rail Station, dtype: float64

In [77]:
names=new_df.reset_index()["station_name"].to_list()
names[1:20]

['Achanalt Rail Station',
 'Aberdare Rail Station',
 'Altnabreac Rail Station',
 'Aberdeen Rail Station',
 'Aber Rail Station',
 'Abererch Rail Station',
 'Abbey Wood (London) Rail Station',
 'Ashburys Rail Station',
 'Acton Bridge Rail Station',
 'Acton Central Rail Station',
 'Acocks Green Rail Station',
 'Achnashellach Rail Station',
 'Acklington Rail Station',
 'Acle Rail Station',
 'Achnasheen Rail Station',
 'Accrington Rail Station',
 'Ascot Rail Station',
 'Abercynon Rail Station',
 'Adlington (Cheshire) Rail Station']

In [103]:
new_df.head()

                                latitude  longitude  train time to work
station_name
Alexandra Palace Rail Station  51.597925  -0.120210           44.966667
Achanalt Rail Station          57.609576  -4.913846          957.300000
Aberdare Rail Station          51.715060  -3.443095          436.133333
Altnabreac Rail Station        58.388133  -3.706287         1055.300000
Aberdeen Rail Station          57.143687  -2.098693          698.300000

In [104]:
names=new_df.reset_index()["station_name"].to_list()

In [98]:
import re

In [105]:
names[0:5]

['Alexandra Palace Rail Station',
 'Achanalt Rail Station',
 'Aberdare Rail Station',
 'Altnabreac Rail Station',
 'Aberdeen Rail Station']

In [8]:
import pandas as pd
new_df=pd.read_excel(open("C:\\Users\\Carl\\Housing\\df with times and lats.xlsx","rb"))

In [23]:
new_df

                                   latitude  longitude  train time to work
station_name
Alexandra Palace Rail Station     51.597925  -0.120210           44.966667
Achanalt Rail Station             57.609576  -4.913846          957.300000
Aberdare Rail Station             51.715060  -3.443095          436.133333
Altnabreac Rail Station           58.388133  -3.706287         1055.300000
Aberdeen Rail Station             57.143687  -2.098693          698.300000
...                                     ...        ...                 ...
Southease - Piddinghoe Road       50.829619   0.017846          117.666667
Canada Water Rail Station         51.497989  -0.049694            3.300000
Farringdon (London) Rail Station  51.520167  -0.105179           25.300000
Whitechapel Rail Station          51.519469  -0.059731           13.300000
Lintley Rail Station              54.853558  -2.488317          356.566667

[2585 rows x 3 columns]

In [22]:
names=new_df.reset_index()["station_name"].to_list()

In [24]:
new_df.loc["Alexandra Palace Rail Station"]

latitude              51.597925
longitude             -0.120210
train time to work    44.966667
Name: Alexandra Palace Rail Station, dtype: float64

In [122]:
url = "https://findthatpostcode.uk/points/"+str(latitude)+"%2C"+str(longitude)+".html"
#print(URL)
req=Request("https://findthatpostcode.uk/points/51.597925%2C-0.120210.html",headers={'User-Agent': 'Mozilla/5.0'})
postcode_html = urlopen(req).read()
soup = BeautifulSoup(postcode_html,"html.parser")
tags=soup.find_all("h3", {"class": "f3-ns f4 lh-solid mv0 normal gray"})
print(tags)

[<h3 class="f3-ns f4 lh-solid mv0 normal gray">
        Closest postcode to point 51.59792, -0.12021 is <a href="/postcodes/N22%207SS.html">N22 7SS</a>.<br/>Centre of N22 7SS is 50.8 meters away.
        </h3>]

In [ ]:
postcode_dict={}
counter=0
for station in names:
    try:
        latitude=new_df.loc[station][0]
        longitude=new_df.loc[station][1]
        url = "https://findthatpostcode.uk/points/"+str(latitude)+"%2C"+str(longitude)+".html"
        #print(URL)
        req=Request(url,headers={'User-Agent': 'Mozilla/5.0'})
        postcode_html = urlopen(req).read()
        soup = BeautifulSoup(postcode_html,"html.parser")
        tags=soup.find_all("h3", {"class": "f3-ns f4 lh-solid mv0 normal gray"})
        for tag in tags:
            postcodewlink=tag.find("a")
            #print(station,postcodewlink)
            postcode_dict[station]=postcodewlink
            counter+=1
            print(counter,"out of ",len(names),"areas complete")
    except:
        postcode_dict[station]="NOT FOUND"

In [ ]:
postcode_dict.items()

In [52]:
postcode_dict["Wendover Rail Station"]="<a href=\"/postcodes/HP22%206BT.html\">HP22 6BT</a>"

In [53]:
postcode_dict["Wendover Rail Station"]

'<a href="/postcodes/HP22%206BT.html">HP22 6BT</a>'

In [54]:
station_postcodes={}
for station,string in list(postcode_dict.items()):
    try:
        string=str(string)
        postcode=string.split("html\">")[1].split("</a>")[0]
        station_postcodes[station]=postcode
    except:
        print(string,"failed to split")
stationpostcodedf=pd.DataFrame.from_dict(station_postcodes,orient="index")
stationpostcodedf.rename(columns={0:"postcode"},inplace=True)

In [55]:
stationpostcodedf.reset_index(inplace=True)
stationpostcodedf.rename(columns={"index":"station_name"},inplace=True)
stationpostcodedf

                          station_name  postcode
0        Alexandra Palace Rail Station   N22 7SS
1                Achanalt Rail Station  IV23 2QD
2                Aberdare Rail Station  CF44 7BP
3              Altnabreac Rail Station  KW12 6UR
4                Aberdeen Rail Station  AB11 6LX
...                                ...       ...
2580       Southease - Piddinghoe Road   BN7 3HX
2581         Canada Water Rail Station  SE16 7AR
2582  Farringdon (London) Rail Station  EC1M 6BY
2583          Whitechapel Rail Station    E1 1BY
2584              Lintley Rail Station   CA8 7NN

[2585 rows x 2 columns]

In [56]:
stationpostcodedf

                          station_name  postcode
0        Alexandra Palace Rail Station   N22 7SS
1                Achanalt Rail Station  IV23 2QD
2                Aberdare Rail Station  CF44 7BP
3              Altnabreac Rail Station  KW12 6UR
4                Aberdeen Rail Station  AB11 6LX
...                                ...       ...
2580       Southease - Piddinghoe Road   BN7 3HX
2581         Canada Water Rail Station  SE16 7AR
2582  Farringdon (London) Rail Station  EC1M 6BY
2583          Whitechapel Rail Station    E1 1BY
2584              Lintley Rail Station   CA8 7NN

[2585 rows x 2 columns]

In [59]:
postcodedfwithtimesdf=pd.merge(stationpostcodedf,new_df,on="station_name")
postcodedfwithtimesdf.head()

,station_name,postcode,latitude,longitude,train time to work
0,Alexandra Palace Rail Station,N22 7SS,51.597925,-0.120210,44.966667
1,Achanalt Rail Station,IV23 2QD,57.609576,-4.913846,957.300000
2,Aberdare Rail Station,CF44 7BP,51.715060,-3.443095,436.133333
3,Altnabreac Rail Station,KW12 6UR,58.388133,-3.706287,1055.300000
4,Aberdeen Rail Station,AB11 6LX,57.143687,-2.098693,698.300000

In [60]:
postcodedfwithtimesdf.to_excel("postcodedfwithtimedf.xlsx")

In [4]:
os.getcwd()

'C:\\Users\\Carl\\Housing'

In [72]:
postcodedfwithtimesdf=pd.read_excel("C:\\Users\\Carl\\Housing\\postcodedfwithtimedf.xlsx")

In [74]:
names=postcodedfwithtimesdf["station_name"].tolist()

In [77]:
len(names)

2585

In [87]:
postcodedfwithtimesdf.head(20)

,postcode,latitude,longitude,train time to work
station_name,,,,
Alexandra Palace Rail Station,N22 7SS,51.597925,-0.120210,44.966667
Achanalt Rail Station,IV23 2QD,57.609576,-4.913846,957.300000
Aberdare Rail Station,CF44 7BP,51.715060,-3.443095,436.133333
Altnabreac Rail Station,KW12 6UR,58.388133,-3.706287,1055.300000
Aberdeen Rail Station,AB11 6LX,57.143687,-2.098693,698.300000
Aber Rail Station,CF83 1BR,51.574966,-3.229839,402.666667
Abererch Rail Station,LL53 6PJ,52.898598,-4.374184,688.566667
Abbey Wood (London) Rail Station,SE2 9PY,51.491061,0.121422,39.533333
Ashburys Rail Station,M12 5DD,53.471652,-2.194435,195.633333
Acton Bridge Rail Station,CW8 2RF,53.266521,-2.603126,455.316667
Acton Central Rail Station,W3 6BH,51.508716,-0.262948,50.050000
Acocks Green Rail Station,B27 6NT,52.449336,-1.818970,165.083333
Achnashellach Rail Station,IV54 8YU,57.482052,-5.333050,975.300000
Acklington Rail Station,NE65 9BT,55.307100,-1.651848,558.750000
Acle Rail Station,NR13 3BZ,52.634706,1.543938,473.300000
Achnasheen Rail Station,IV22 2EN,57.579268,-5.072328,990.300000
Accrington Rail Station,BB5 1LJ,53.752984,-2.369547,482.183333
Ascot Rail Station,SL5 9EG,51.406242,-0.675816,78.300000
Abercynon Rail Station,CF45 4SE,51.644711,-3.327001,406.533333
Adlington (Cheshire) Rail Station,SK10 4NA,53.319570,-2.133562,483.300000

In [81]:
postcodedfwithtimesdf.set_index("station_name",inplace=True)
postcodedfwithtimesdf.drop(columns=["Unnamed: 0"],inplace=True)

KeyError: "None of ['station_name'] are in the columns"

In [83]:
postcodedfwithtimesdf.shape

(2585, 4)

def sold_prices(longitude,latitude,radius_from_location,max_price,min_year):
    #url="https://www.home.co.uk/sold_properties/results.htm?long="+str(longitude)+"&lat="+str(latitude)+"&location=&TOWN_SEARCH=&MAP_SEARCH="+str(radius_from_location)+"&high="+str(max_price)+"&low=&maxYear=&minYear="+str(min_year)+"&house=true&radius="+str(radius_from_location)+"&sort=FOUND_DESC&showmap=0"
    page=1
    url="https://www.home.co.uk/sold_properties/results.htm?MAP_SEARCH=1&high="+str(max_price)+"&house=true&lat="+str(latitude)+"&long="+str(longitude)+"&loose=0&minYear="+str(min_year)+"&house=true&radius="+str(radius_from_location)+"&page="+str(page)
#    try:
    new_dict2={}
    new_dict3={}
    new_dict4={}
    property_index=1
    station_index=1
    req=Request(url,headers={'User-Agent': 'Mozilla/5.0'})
    sold_prices_html = urlopen(req).read()
    soup = BeautifulSoup(sold_prices_html,"html.parser")
    tags=soup.find_all("div", {"class": "sold-property-listing-details"})
    for tag in tags:
        #print(tag)
        price_span=tag.find_all("span",{"class": "text-bold"})
        date_span=tag.find_all("span")[1]
        property_span=tag.find_all("span")[2]
        for datespan in date_span:
            sold_date=str(datespan)
            new_dict2["sold date"]=sold_date
            #print(new_dict2)
        for pricespan in price_span:
            price=str(pricespan).split("<span class=\"text-bold\">")[1].split("</span>")[0]
            new_dict2["sold price"]=price
            #print(new_dict2)
        for propertyspan in property_span:
            property_type=str(propertyspan)
            new_dict2["property type"]=property_type
            #print(new_dict2)
        new_dict3[property_index]=new_dict2
        #print(new_dict3)
        new_dict4[station]=new_dict3
        if property_index==20:
            print("here")
            page+=1
        else:
            property_index+=1
    new_dict4[station]=new_dict3
    return new_dict4
#    except:
#        print(station,"failed")

In [116]:
final_dict={}
new_dict5={}

In [115]:
max_price=450000
#max_price=input("define your max price here")
radius_from_location=1
#radius_from_location=input("define your radius from each station here")
min_year=2020
#min_year=input("define your min year sold here")
page=1
for station in names:
    if station in new_dict5.keys():
        continue
    else:
        longitude=postcodedfwithtimesdf.loc[str(station)][2]
        latitude=postcodedfwithtimesdf.loc[str(station)][1]
        postcode=postcodedfwithtimesdf.loc[str(station)][0]
        postcode=postcode.replace(" ", "+")
        print(station,"starting")
        #link="https://www.home.co.uk/sold_properties/results.htm?MAP_SEARCH=1&high="+str(max_price)+"&house=true&lat="+str(latitude)+"&long="+str(longitude)+"&loose=0&minYear="+str(min_year)+"&radius="+str(radius_from_location)+"s"
        #link="https://www.home.co.uk/sold_properties/results.htm?long="+str(longitude)+"&lat="+str(latitude)+"&postcode="str(postcode)+"&POSTCODE_SEARCH=1&MAP_SEARCH=&high="+str(max_price)+"&low=&maxYear=&minYear="+str(min_year)+"&house=true&radius="+str(radius_from_location)+"&sort=FOUND_DESC&showmap=0"
        link="https://www.home.co.uk/sold_properties/results.htm?POSTCODE_SEARCH=1&high="+str(max_price)+"&house=true&loose=0&minYear="+str(min_year)+"&postcode="+str(postcode)+"&radius="+str(radius_from_location)+"&page="+str(page)
        #print(link)
        req=Request(link,headers={'User-Agent': 'Mozilla/5.0'})
        count_html = urlopen(req).read()
        startsoup =BeautifulSoup(count_html,"html.parser")
        if startsoup.find_all(text=re.compile('Sorry, no matching sold properties were found')):
            print(station,"has 0 results")
            new_dict5[station]="Station has no results"
        else:
            count_tag=startsoup.find("span", {"class": "bluebold"})
            result_count=str(count_tag).split("<span class=\"bluebold\">")[1].split("</span>")[0]
            if "," in result_count:
                result_count=result_count.replace(",","")
            result_count=int(result_count)
            #print(station,"has",result_count,"results")
            if result_count%20==0:
                page_count=int(math.ceil(result_count/20))
            else:
                page_count=int(math.ceil(result_count/20))
            print("there are",result_count,"results over",page_count,"pages for",station)
            #urls=["https://www.home.co.uk/sold_properties/results.htm?MAP_SEARCH=1&high="+str(max_price)+"&house=true&lat="+str(latitude)+"&long="+str(longitude)+"&loose=0&minYear="+str(min_year)+"&house=true&radius="+str(radius_from_location)+"&page=1","https://www.home.co.uk/sold_properties/results.htm?MAP_SEARCH=1&high="+str(max_price)+"&house=true&lat="+str(latitude)+"&long="+str(longitude)+"&loose=0&minYear="+str(min_year)+"&house=true&radius="+str(radius_from_location)+"&page=2","https://www.home.co.uk/sold_properties/results.htm?MAP_SEARCH=1&high="+str(max_price)+"&house=true&lat="+str(latitude)+"&long="+str(longitude)+"&loose=0&minYear="+str(min_year)+"&house=true&radius="+str(radius_from_location)+"&page=3","https://www.home.co.uk/sold_properties/results.htm?MAP_SEARCH=1&high="+str(max_price)+"&house=true&lat="+str(latitude)+"&long="+str(longitude)+"&loose=0&minYear="+str(min_year)+"&house=true&radius="+str(radius_from_location)+"&page=4","https://www.home.co.uk/sold_properties/results.htm?MAP_SEARCH=1&high="+str(max_price)+"&house=true&lat="+str(latitude)+"&long="+str(longitude)+"&loose=0&minYear="+str(min_year)+"&house=true&radius="+str(radius_from_location)+"&page=5","https://www.home.co.uk/sold_properties/results.htm?MAP_SEARCH=1&high="+str(max_price)+"&house=true&lat="+str(latitude)+"&long="+str(longitude)+"&loose=0&minYear="+str(min_year)+"&house=true&radius="+str(radius_from_location)+"&page=6","https://www.home.co.uk/sold_properties/results.htm?MAP_SEARCH=1&high="+str(max_price)+"&house=true&lat="+str(latitude)+"&long="+str(longitude)+"&loose=0&minYear="+str(min_year)+"&house=true&radius="+str(radius_from_location)+"&page=7","https://www.home.co.uk/sold_properties/results.htm?MAP_SEARCH=1&high="+str(max_price)+"&house=true&lat="+str(latitude)+"&long="+str(longitude)+"&loose=0&minYear="+str(min_year)+"&house=true&radius="+str(radius_from_location)+"&page=8","https://www.home.co.uk/sold_properties/results.htm?MAP_SEARCH=1&high="+str(max_price)+"&house=true&lat="+str(latitude)+"&long="+str(longitude)+"&loose=0&minYear="+str(min_year)+"&house=true&radius="+str(radius_from_location)+"&page=9","https://www.home.co.uk/sold_properties/results.htm?MAP_SEARCH=1&high="+str(max_price)+"&house=true&lat="+str(latitude)+"&long="+str(longitude)+"&loose=0&minYear="+str(min_year)+"&house=true&radius="+str(radius_from_location)+"&page=10","https://www.home.co.uk/sold_properties/results.htm?MAP_SEARCH=1&high="+str(max_price)+"&house=true&lat="+str(latitude)+"&long="+str(longitude)+"&loose=0&minYear="+str(min_year)+"&house=true&radius="+str(radius_from_location)+"&page=11"]
            new_dict4={}
            for i in range(1,page_count+1):
                url="https://www.home.co.uk/sold_properties/results.htm?POSTCODE_SEARCH=1&high="+str(max_price)+"&house=true&loose=0&minYear="+str(min_year)+"&postcode="+str(postcode)+"&radius="+str(radius_from_location)+"&page="+str(i)
                #print("page",i,"starting for",station)
                new_dict2={}
                new_dict3={}
                property_index=1
                req=Request(url,headers={'User-Agent': 'Mozilla/5.0'})
                sold_prices_html = urlopen(req).read()
                soup = BeautifulSoup(sold_prices_html,"html.parser")
                page_tags=soup.find_all("div", {"class": "sold-property-listing-details"})
                #print(page)
                for tag in page_tags:
                    #time.sleep(1)
                    #print("sleeping")
                    price_span=tag.find_all("span",{"class": "text-bold"})
                    date_span=tag.find_all("span")[1]
                    property_span=tag.find_all("span")[2]
                    for datespan in date_span:
                        sold_date=str(datespan)
                        new_dict2["sold date"]=sold_date
                        #print(new_dict2)
                    for pricespan in price_span:
                        price=str(pricespan).split("<span class=\"text-bold\">")[1].split("</span>")[0]
                        new_dict2["sold price"]=price
                        #print(new_dict2)
                    for propertyspan in property_span:
                        property_type=str(propertyspan)
                        new_dict2["property type"]=property_type
                        #print(new_dict2)
                        #new_dict2 shows each house per page and is good at this point
                    new_dict3[property_index]=new_dict2
                    #print(new_dict3)
                    #new_dict3 shows the list of houses per page and is good at this point
                    #new_dict4[page]=new_dict3
                    property_index+=1
                #print(new_dict3)
                #print("finishing page",i,"for",station)
                #new_dict3 shows the list of houses per page and is good at this point
                new_dict4[i]=new_dict3

            new_dict5[station]=new_dict4
            print(station,"complete")
final_df=pd.DataFrame.from_dict(new_dict5,orient="index")
final_df.shape

Achanalt Rail Station starting

HTTPError: HTTP Error 503: Service Unavailable

In [111]:
if station in new_dict5.keys():
    pass
else:

True

In [ ]:
for i in range(0,5):
    print(i)

In [41]:
for i in new_dict4.values():
    print(i)

{1: {'sold date': '02 Jul 2021', 'sold price': '£325,000', 'property type': 'Terraced, Freehold'}, 2: {'sold date': '02 Jul 2021', 'sold price': '£325,000', 'property type': 'Terraced, Freehold'}, 3: {'sold date': '02 Jul 2021', 'sold price': '£325,000', 'property type': 'Terraced, Freehold'}, 4: {'sold date': '02 Jul 2021', 'sold price': '£325,000', 'property type': 'Terraced, Freehold'}, 5: {'sold date': '02 Jul 2021', 'sold price': '£325,000', 'property type': 'Terraced, Freehold'}, 6: {'sold date': '02 Jul 2021', 'sold price': '£325,000', 'property type': 'Terraced, Freehold'}, 7: {'sold date': '02 Jul 2021', 'sold price': '£325,000', 'property type': 'Terraced, Freehold'}, 8: {'sold date': '02 Jul 2021', 'sold price': '£325,000', 'property type': 'Terraced, Freehold'}, 9: {'sold date': '02 Jul 2021', 'sold price': '£325,000', 'property type': 'Terraced, Freehold'}, 10: {'sold date': '02 Jul 2021', 'sold price': '£325,000', 'property type': 'Terraced, Freehold'}, 11: {'sold date': '02 Jul 2021', 'sold price': '£325,000', 'property type': 'Terraced, Freehold'}, 12: {'sold date': '02 Jul 2021', 'sold price': '£325,000', 'property type': 'Terraced, Freehold'}, 13: {'sold date': '02 Jul 2021', 'sold price': '£325,000', 'property type': 'Terraced, Freehold'}, 14: {'sold date': '02 Jul 2021', 'sold price': '£325,000', 'property type': 'Terraced, Freehold'}, 15: {'sold date': '02 Jul 2021', 'sold price': '£325,000', 'property type': 'Terraced, Freehold'}, 16: {'sold date': '02 Jul 2021', 'sold price': '£325,000', 'property type': 'Terraced, Freehold'}, 17: {'sold date': '02 Jul 2021', 'sold price': '£325,000', 'property type': 'Terraced, Freehold'}, 18: {'sold date': '02 Jul 2021', 'sold price': '£325,000', 'property type': 'Terraced, Freehold'}, 19: {'sold date': '02 Jul 2021', 'sold price': '£325,000', 'property type': 'Terraced, Freehold'}, 20: {'sold date': '02 Jul 2021', 'sold price': '£325,000', 'property type': 'Terraced, Freehold'}}
{1: {'sold date': '29 Mar 2021', 'sold price': '£412,500', 'property type': 'Terraced, Freehold'}, 2: {'sold date': '29 Mar 2021', 'sold price': '£412,500', 'property type': 'Terraced, Freehold'}, 3: {'sold date': '29 Mar 2021', 'sold price': '£412,500', 'property type': 'Terraced, Freehold'}, 4: {'sold date': '29 Mar 2021', 'sold price': '£412,500', 'property type': 'Terraced, Freehold'}, 5: {'sold date': '29 Mar 2021', 'sold price': '£412,500', 'property type': 'Terraced, Freehold'}, 6: {'sold date': '29 Mar 2021', 'sold price': '£412,500', 'property type': 'Terraced, Freehold'}, 7: {'sold date': '29 Mar 2021', 'sold price': '£412,500', 'property type': 'Terraced, Freehold'}, 8: {'sold date': '29 Mar 2021', 'sold price': '£412,500', 'property type': 'Terraced, Freehold'}, 9: {'sold date': '29 Mar 2021', 'sold price': '£412,500', 'property type': 'Terraced, Freehold'}, 10: {'sold date': '29 Mar 2021', 'sold price': '£412,500', 'property type': 'Terraced, Freehold'}, 11: {'sold date': '29 Mar 2021', 'sold price': '£412,500', 'property type': 'Terraced, Freehold'}, 12: {'sold date': '29 Mar 2021', 'sold price': '£412,500', 'property type': 'Terraced, Freehold'}, 13: {'sold date': '29 Mar 2021', 'sold price': '£412,500', 'property type': 'Terraced, Freehold'}, 14: {'sold date': '29 Mar 2021', 'sold price': '£412,500', 'property type': 'Terraced, Freehold'}, 15: {'sold date': '29 Mar 2021', 'sold price': '£412,500', 'property type': 'Terraced, Freehold'}, 16: {'sold date': '29 Mar 2021', 'sold price': '£412,500', 'property type': 'Terraced, Freehold'}, 17: {'sold date': '29 Mar 2021', 'sold price': '£412,500', 'property type': 'Terraced, Freehold'}, 18: {'sold date': '29 Mar 2021', 'sold price': '£412,500', 'property type': 'Terraced, Freehold'}, 19: {'sold date': '29 Mar 2021', 'sold price': '£412,500', 'property type': 'Terraced, Freehold'}, 20: {'sold date': '29 Mar 2021', 'sold price': '£412,500', 'property type': 'Terraced, Freehold'}}
{1: {'sold date': '29 Jan 2021', 'sold price': '£386,000', 'property type': 'Semi-detached, Freehold'}, 2: {'sold date': '29 Jan 2021', 'sold price': '£386,000', 'property type': 'Semi-detached, Freehold'}, 3: {'sold date': '29 Jan 2021', 'sold price': '£386,000', 'property type': 'Semi-detached, Freehold'}, 4: {'sold date': '29 Jan 2021', 'sold price': '£386,000', 'property type': 'Semi-detached, Freehold'}, 5: {'sold date': '29 Jan 2021', 'sold price': '£386,000', 'property type': 'Semi-detached, Freehold'}, 6: {'sold date': '29 Jan 2021', 'sold price': '£386,000', 'property type': 'Semi-detached, Freehold'}, 7: {'sold date': '29 Jan 2021', 'sold price': '£386,000', 'property type': 'Semi-detached, Freehold'}, 8: {'sold date': '29 Jan 2021', 'sold price': '£386,000', 'property type': 'Semi-detached, Freehold'}, 9: {'sold date': '29 Jan 2021', 'sold price': '£386,000', 'property type': 'Semi-detached, Freehold'}, 10: {'sold date': '29 Jan 2021', 'sold price': '£386,000', 'property type': 'Semi-detached, Freehold'}, 11: {'sold date': '29 Jan 2021', 'sold price': '£386,000', 'property type': 'Semi-detached, Freehold'}, 12: {'sold date': '29 Jan 2021', 'sold price': '£386,000', 'property type': 'Semi-detached, Freehold'}, 13: {'sold date': '29 Jan 2021', 'sold price': '£386,000', 'property type': 'Semi-detached, Freehold'}, 14: {'sold date': '29 Jan 2021', 'sold price': '£386,000', 'property type': 'Semi-detached, Freehold'}, 15: {'sold date': '29 Jan 2021', 'sold price': '£386,000', 'property type': 'Semi-detached, Freehold'}, 16: {'sold date': '29 Jan 2021', 'sold price': '£386,000', 'property type': 'Semi-detached, Freehold'}, 17: {'sold date': '29 Jan 2021', 'sold price': '£386,000', 'property type': 'Semi-detached, Freehold'}, 18: {'sold date': '29 Jan 2021', 'sold price': '£386,000', 'property type': 'Semi-detached, Freehold'}, 19: {'sold date': '29 Jan 2021', 'sold price': '£386,000', 'property type': 'Semi-detached, Freehold'}, 20: {'sold date': '29 Jan 2021', 'sold price': '£386,000', 'property type': 'Semi-detached, Freehold'}}
{1: {'sold date': '21 Sep 2020', 'sold price': '£371,000', 'property type': 'Terraced, Freehold'}, 2: {'sold date': '21 Sep 2020', 'sold price': '£371,000', 'property type': 'Terraced, Freehold'}, 3: {'sold date': '21 Sep 2020', 'sold price': '£371,000', 'property type': 'Terraced, Freehold'}, 4: {'sold date': '21 Sep 2020', 'sold price': '£371,000', 'property type': 'Terraced, Freehold'}, 5: {'sold date': '21 Sep 2020', 'sold price': '£371,000', 'property type': 'Terraced, Freehold'}, 6: {'sold date': '21 Sep 2020', 'sold price': '£371,000', 'property type': 'Terraced, Freehold'}, 7: {'sold date': '21 Sep 2020', 'sold price': '£371,000', 'property type': 'Terraced, Freehold'}, 8: {'sold date': '21 Sep 2020', 'sold price': '£371,000', 'property type': 'Terraced, Freehold'}, 9: {'sold date': '21 Sep 2020', 'sold price': '£371,000', 'property type': 'Terraced, Freehold'}, 10: {'sold date': '21 Sep 2020', 'sold price': '£371,000', 'property type': 'Terraced, Freehold'}, 11: {'sold date': '21 Sep 2020', 'sold price': '£371,000', 'property type': 'Terraced, Freehold'}, 12: {'sold date': '21 Sep 2020', 'sold price': '£371,000', 'property type': 'Terraced, Freehold'}, 13: {'sold date': '21 Sep 2020', 'sold price': '£371,000', 'property type': 'Terraced, Freehold'}, 14: {'sold date': '21 Sep 2020', 'sold price': '£371,000', 'property type': 'Terraced, Freehold'}, 15: {'sold date': '21 Sep 2020', 'sold price': '£371,000', 'property type': 'Terraced, Freehold'}, 16: {'sold date': '21 Sep 2020', 'sold price': '£371,000', 'property type': 'Terraced, Freehold'}, 17: {'sold date': '21 Sep 2020', 'sold price': '£371,000', 'property type': 'Terraced, Freehold'}, 18: {'sold date': '21 Sep 2020', 'sold price': '£371,000', 'property type': 'Terraced, Freehold'}, 19: {'sold date': '21 Sep 2020', 'sold price': '£371,000', 'property type': 'Terraced, Freehold'}, 20: {'sold date': '21 Sep 2020', 'sold price': '£371,000', 'property type': 'Terraced, Freehold'}}
{1: {'sold date': '17 Apr 2020', 'sold price': '£320,000', 'property type': 'Semi-detached, Freehold'}, 2: {'sold date': '17 Apr 2020', 'sold price': '£320,000', 'property type': 'Semi-detached, Freehold'}, 3: {'sold date': '17 Apr 2020', 'sold price': '£320,000', 'property type': 'Semi-detached, Freehold'}, 4: {'sold date': '17 Apr 2020', 'sold price': '£320,000', 'property type': 'Semi-detached, Freehold'}, 5: {'sold date': '17 Apr 2020', 'sold price': '£320,000', 'property type': 'Semi-detached, Freehold'}, 6: {'sold date': '17 Apr 2020', 'sold price': '£320,000', 'property type': 'Semi-detached, Freehold'}, 7: {'sold date': '17 Apr 2020', 'sold price': '£320,000', 'property type': 'Semi-detached, Freehold'}, 8: {'sold date': '17 Apr 2020', 'sold price': '£320,000', 'property type': 'Semi-detached, Freehold'}, 9: {'sold date': '17 Apr 2020', 'sold price': '£320,000', 'property type': 'Semi-detached, Freehold'}, 10: {'sold date': '17 Apr 2020', 'sold price': '£320,000', 'property type': 'Semi-detached, Freehold'}, 11: {'sold date': '17 Apr 2020', 'sold price': '£320,000', 'property type': 'Semi-detached, Freehold'}, 12: {'sold date': '17 Apr 2020', 'sold price': '£320,000', 'property type': 'Semi-detached, Freehold'}, 13: {'sold date': '17 Apr 2020', 'sold price': '£320,000', 'property type': 'Semi-detached, Freehold'}, 14: {'sold date': '17 Apr 2020', 'sold price': '£320,000', 'property type': 'Semi-detached, Freehold'}, 15: {'sold date': '17 Apr 2020', 'sold price': '£320,000', 'property type': 'Semi-detached, Freehold'}, 16: {'sold date': '17 Apr 2020', 'sold price': '£320,000', 'property type': 'Semi-detached, Freehold'}, 17: {'sold date': '17 Apr 2020', 'sold price': '£320,000', 'property type': 'Semi-detached, Freehold'}, 18: {'sold date': '17 Apr 2020', 'sold price': '£320,000', 'property type': 'Semi-detached, Freehold'}, 19: {'sold date': '17 Apr 2020', 'sold price': '£320,000', 'property type': 'Semi-detached, Freehold'}, 20: {'sold date': '17 Apr 2020', 'sold price': '£320,000', 'property type': 'Semi-detached, Freehold'}}
{1: {'sold date': '08 Jan 2020', 'sold price': '£420,000', 'property type': 'Semi-detached, Freehold'}, 2: {'sold date': '08 Jan 2020', 'sold price': '£420,000', 'property type': 'Semi-detached, Freehold'}, 3: {'sold date': '08 Jan 2020', 'sold price': '£420,000', 'property type': 'Semi-detached, Freehold'}, 4: {'sold date': '08 Jan 2020', 'sold price': '£420,000', 'property type': 'Semi-detached, Freehold'}, 5: {'sold date': '08 Jan 2020', 'sold price': '£420,000', 'property type': 'Semi-detached, Freehold'}, 6: {'sold date': '08 Jan 2020', 'sold price': '£420,000', 'property type': 'Semi-detached, Freehold'}, 7: {'sold date': '08 Jan 2020', 'sold price': '£420,000', 'property type': 'Semi-detached, Freehold'}, 8: {'sold date': '08 Jan 2020', 'sold price': '£420,000', 'property type': 'Semi-detached, Freehold'}, 9: {'sold date': '08 Jan 2020', 'sold price': '£420,000', 'property type': 'Semi-detached, Freehold'}, 10: {'sold date': '08 Jan 2020', 'sold price': '£420,000', 'property type': 'Semi-detached, Freehold'}, 11: {'sold date': '08 Jan 2020', 'sold price': '£420,000', 'property type': 'Semi-detached, Freehold'}, 12: {'sold date': '08 Jan 2020', 'sold price': '£420,000', 'property type': 'Semi-detached, Freehold'}}