In [1]:
import os
os.getcwd()

'C:\\Users\\Carl\\Housing'

In [2]:
os.chdir("C:\\Users\\Carl\\Housing")

## Read Postcodewithtimedf to get postcode per LA

In [3]:
import pandas as pd
import statistics
import os
from operator import *
pd.set_option('display.max_rows', None)
os.getcwd()

'C:\\Users\\Carl\\Housing'

In [4]:
columns=["Transaction unique identifier","Price","Date of Transfer","Postcode","Property Type","Old/New","Duration","PAON","SAON","Street","Locality","Town/City","District","County","PPD Category Type","TBD"]

print("postcode with train times starting...")
postcodes_with_train_times_df=pd.read_excel("C:\\Users\\Carl\\Housing\\postcodedfwithtimedf.xlsx")
postcodes_with_train_times_df=postcodes_with_train_times_df[["station_name","postcode","latitude","longitude","train time to work","First Postcode"]]
print("postcode with train times done")


print("price paid data starting...")
pp2022=pd.read_csv("C:\\Users\\Carl\\Housing\\Data\\WIMD Data\\pp-2022.csv")
pp2022.columns=columns
print("price paid data done")



print("postcode to LA data starting...")
postcodemappings=pd.read_csv(open("C:\\Users\\Carl\\Housing\\Data\\Postcode to LA.csv"),sep=',',error_bad_lines=False)
postcodemappings["Local Authority Name"]=postcodemappings["Local Authority Name"].str.rstrip()
postcodemappings["Local Authority Name"]=postcodemappings["Local Authority Name"].str.lstrip()
postcodemappings["Local Authority Name"]=postcodemappings["Local Authority Name"].str.upper()
print("postcode to LA done")

print("wimd starting...")
wimd=pd.read_csv(open(str(os.getcwd())+"\\Data\\WIMD Data\\WIMD 2019 by Rank (LSOA).csv"),skiprows=range(0,5))
wimd["Unnamed: 0"]=wimd["Unnamed: 0"].fillna(method="ffill")
wimd=wimd.rename(columns={"Unnamed: 0":"Local Authority Name","Unnamed: 1":"LSOA Name"})
wimd["Local Authority Name"]=wimd["Local Authority Name"].str.rstrip()
wimd["Local Authority Name"]=wimd["Local Authority Name"].str.lstrip()
wimd["Local Authority Name"]=wimd["Local Authority Name"].str.upper()
wimd["LSOA Name"]=wimd["LSOA Name"].str.rstrip()
wimd["LSOA Name"]=wimd["LSOA Name"].str.lstrip()
wimd["LSOA Name"]=wimd["LSOA Name"].str.upper()
wimd=wimd.drop(columns=["Unnamed: 2"])
wimd=wimd[1:1931]
wimd=wimd[wimd['WIMD ']!="."]
wimd["WIMD "]=wimd["WIMD "].astype(int)
wimd["Income "]=wimd["Income "].astype(int)
wimd["WIMD "]=wimd["WIMD "].astype(int)
wimd["Employment "]=wimd["Employment "].astype(int)
wimd["Health "]=wimd["Health "].astype(int)
wimd["Education "]=wimd["Education "].astype(int)
wimd["Access to Services "]=wimd["Access to Services "].astype(int)
wimd["Community Safety "]=wimd["Community Safety "].astype(int)
wimd["Community Safety "]=wimd["Community Safety "].astype(int)
wimd["Physical Environment "]=wimd["Physical Environment "].astype(int)
wimd["Housing "]=wimd["Housing "].astype(int)
deprivation_scores=wimd
print("wimd done")


print("retail info starting...")
retail_info=pd.read_excel(open('C:\\Users\\Carl\\Housing\\Data\\RetailInfo.xlsx','rb'),"Table 1",usecols=[1,7],skiprows=range(5))
retail_info=retail_info.dropna()
retail_info=retail_info.rename(columns={"Unnamed: 1":"Local Authority","47 : Retail":"Count"})
retail_info["Local Authority"]=retail_info["Local Authority"].str.rstrip()
retail_info["Local Authority"]=retail_info["Local Authority"].str.lstrip()
retail_info["Local Authority"]=retail_info["Local Authority"].str.upper()
retail_info.set_index("Local Authority",inplace=True)
retail_infodict=retail_info.to_dict(orient="index")
print("retail info done")


print("crime info starting...")
crimedf=pd.read_excel(open("C:\\Users\\Carl\\Housing\\Data\\Crime Data.xlsx","rb"),"Table C3",skiprows=range(6))
crimedf.columns=[string.replace("\n","") for string in list(crimedf.columns)]
crimedf=crimedf[["Local Authority name","Total recorded crime (excluding fraud)"]]
crimedf["Local Authority name"]=crimedf["Local Authority name"].str.rstrip()
crimedf["Local Authority name"]=crimedf["Local Authority name"].str.lstrip()
crimedf["Local Authority name"]=crimedf["Local Authority name"].str.upper()
crimedf.dropna(subset=["Local Authority name"],inplace=True)
crimedf=crimedf.set_index("Local Authority name")
crimedfdict=crimedf.to_dict(orient="index")
print("crime info done")

print("population info starting...")
population_info=pd.read_excel(open('C:\\Users\\Carl\\Housing\\Data\\Population Figures (england and wales).xlsx','rb'),"P01",usecols=[1,2],skiprows=range(6))
population_info=population_info.dropna()
population_info=population_info.rename(columns={"Area name":"Local Authority","All persons":"Population"})
population_info["Local Authority"]=population_info["Local Authority"].str.rstrip()
population_info["Local Authority"]=population_info["Local Authority"].str.lstrip()
population_info["Local Authority"]=population_info["Local Authority"].str.upper()
population_info.set_index("Local Authority",inplace=True)
population_infodict=population_info.to_dict(orient="index")
print("population info done")

print("area size info starting...")
areasizeinfo=pd.read_excel(open('C:\\Users\\Carl\\Housing\\Data\\SAM_LAD_DEC_2020_UK.xlsx','rb'),"SAM_LAD_2020",usecols=[1,2])
areasizeinfo=areasizeinfo.dropna()
areasizeinfo.rename(columns={"LAD20NM":"Local Authority","AREAEHECT":"Area (Hectares)"},inplace=True)
areasizeinfo["Local Authority"]=areasizeinfo["Local Authority"].str.rstrip()
areasizeinfo["Local Authority"]=areasizeinfo["Local Authority"].str.lstrip()
areasizeinfo["Local Authority"]=areasizeinfo["Local Authority"].str.upper()
areasizeinfo.set_index("Local Authority",inplace=True)
areasizeinfodict=areasizeinfo.to_dict(orient="index")
print("area size info done")


print("getting the count of beaches per first postcode...")

beachdf=pd.read_excel(open("C:\\Users\\Carl\\Housing\\Data\\Beaches and Bathing Sites in Wales\\Welsh Beaches with Long and Lats.xlsx","rb"))
beachdf=beachdf.rename(columns={"Unnamed: 0":"Beach Name"})
beachcountdf=beachdf["First Postcode"].value_counts().to_frame()
beachcountdict=beachcountdf.to_dict()
beachcountdict=list(beachcountdict.values())[0]
beachcountdict

print("beach dict done")


print("Green Data starting...")
welshgreendf=pd.read_excel("C:\\Users\\Carl\\Housing\\Data\\WIMD Data\\Green Data for Welsh LA.xlsx")
welshgreendf=welshgreendf.rename(columns={"Unnamed: 0":"Local Authority"})
welshgreendf=welshgreendf.set_index("Local Authority")
print("Green Data finished...")

print("all done")

### THEN PUT IN A DICT, AND FILTER ALL POSTCODES IN WALES TO SEE IF THEY MATCH
### IF NOT THEN INDICATE AS SUCH ON THE FINAL DF AND ALTER SCORE

postcode with train times starting...
postcode with train times done
price paid data starting...
price paid data done
postcode to LA data starting...
postcode to LA done
wimd starting...
wimd done
retail info starting...
retail info done
crime info starting...
crime info done
population info starting...
population info done
area size info starting...
area size info done
getting the count of beaches per first postcode...
beach dict done
Green Data starting...
Green Data finished...
all done

In [5]:
waleslalist=wimd["Local Authority Name"].value_counts().keys().tolist()

In [6]:
import re
index=1
trimdict={}
for postcode,count in beachcountdict.items():
    postcodestem=re.sub(r'\d+', '', postcode)
    #print(postcode,postcodestem,count)
    trimdict[index]=[postcodestem,count]
    index+=1
beachcountbypostcodestem=pd.DataFrame.from_dict(trimdict,orient="index").groupby([0]).sum()
beachcountbypostcodestem=list(beachcountbypostcodestem.to_dict().values())[0]
beachcountbypostcodestem

{'CCV': 1, 'CF': 8, 'CQ': 1, 'LL': 40, 'SA': 49, 'SY': 5}

In [7]:
postcodes_with_train_times_df.head()

,station_name,postcode,latitude,longitude,train time to work,First Postcode
0,Alexandra Palace Rail Station,N22 7SS,51.597925,-0.120210,44.966667,N22
1,Achanalt Rail Station,IV23 2QD,57.609576,-4.913846,957.300000,IV23
2,Aberdare Rail Station,CF44 7BP,51.715060,-3.443095,436.133333,CF44
3,Altnabreac Rail Station,KW12 6UR,58.388133,-3.706287,1055.300000,KW12
4,Aberdeen Rail Station,AB11 6LX,57.143687,-2.098693,698.300000,AB11

In [8]:
pp2022.head()

,Transaction unique identifier,Price,Date of Transfer,Postcode,Property Type,Old/New,Duration,PAON,SAON,Street,Locality,Town/City,District,County,PPD Category Type,TBD
0,{DBA933FA-5666-669D-E053-6B04A8C0AD56},367250,2022-02-25 00:00,HU17 9RT,D,N,F,"ASHCROFT, 216",NaN,HULL BRIDGE ROAD,NaN,BEVERLEY,EAST RIDING OF YORKSHIRE,EAST RIDING OF YORKSHIRE,A,A
1,{DBA933FA-5668-669D-E053-6B04A8C0AD56},425000,2022-02-18 00:00,HU14 3EZ,D,N,F,4,NaN,PARKLANDS CRESCENT,NaN,NORTH FERRIBY,EAST RIDING OF YORKSHIRE,EAST RIDING OF YORKSHIRE,A,A
2,{DBA933FA-566B-669D-E053-6B04A8C0AD56},217000,2022-02-18 00:00,DN14 7ZL,S,N,F,59,NaN,LANGHORN DRIVE,HOWDEN,GOOLE,EAST RIDING OF YORKSHIRE,EAST RIDING OF YORKSHIRE,A,A
3,{DBA933FA-566E-669D-E053-6B04A8C0AD56},189950,2022-01-31 00:00,YO16 6AE,D,N,F,6,NaN,ALDERSHOT DRIVE,NaN,BRIDLINGTON,EAST RIDING OF YORKSHIRE,EAST RIDING OF YORKSHIRE,A,A
4,{DBA933FA-56D4-669D-E053-6B04A8C0AD56},540000,2022-03-04 00:00,YO43 4DU,D,N,F,LILAC COTTAGE,NaN,SANDHOLES,HOLME ON SPALDING MOOR,YORK,EAST RIDING OF YORKSHIRE,EAST RIDING OF YORKSHIRE,A,A

In [9]:
postcodemappings.head()

,ï»¿Postcode 1,Postcode 2,Postcode 3,County Code,County Name,Local Authority Code,Local Authority Name
0,OX277JB,OX27 7JB,OX27 7JB,E10000025,Oxfordshire,E07000177,CHERWELL
1,NR205NQ,NR20 5NQ,NR20 5NQ,E10000020,Norfolk,E07000143,BRECKLAND
2,GU214YG,GU21 4YG,GU21 4YG,E10000030,Surrey,E07000217,WOKING
3,GU220AJ,GU22 0AJ,GU22 0AJ,E10000030,Surrey,E07000217,WOKING
4,DA8 1DN,DA8 1DN,DA8 1DN,E13000002,Outer London,E09000004,BEXLEY

In [10]:
deprivation_scores.head()

,Local Authority Name,LSOA Name,WIMD,Income,Employment,Health,Education,Access to Services,Community Safety,Physical Environment,Housing
1,ISLE OF ANGLESEY,AMLWCH PORT,550,414,420,676,615,767,667,1776,766
2,ISLE OF ANGLESEY,AMLWCH RURAL,1100,1122,1004,1311,787,265,1284,1827,1229
3,ISLE OF ANGLESEY,LLANBADRIG,1145,759,815,1159,972,1345,1337,1829,1081
4,ISLE OF ANGLESEY,LLANNERCH-Y-MEDD,727,858,940,1090,865,90,1593,1318,237
5,ISLE OF ANGLESEY,MECHELL,864,878,842,1322,1194,131,1683,1700,305

In [11]:
retail_info.head(20)

                               Count
Local Authority
UNITED KINGDOM              220685.0
GREAT BRITAIN               214865.0
ENGLAND AND WALES           201270.0
ENGLAND                     192870.0
NORTH EAST                    6090.0
COUNTY DURHAM                 1220.0
DARLINGTON                     300.0
HARTLEPOOL                     190.0
MIDDLESBROUGH                  280.0
NORTHUMBERLAND                 805.0
REDCAR AND CLEVELAND           250.0
STOCKTON-ON-TEES               385.0
TYNE AND WEAR (MET COUNTY)    2660.0
GATESHEAD                      490.0
NEWCASTLE UPON TYNE            775.0
NORTH TYNESIDE                 450.0
SOUTH TYNESIDE                 320.0
SUNDERLAND                     625.0
NORTH WEST                   25555.0
BLACKBURN WITH DARWEN          645.0

In [12]:
population_info.head(20)

                            Population
Local Authority
ENGLAND AND WALES             59597300
ENGLAND                       56489800
NORTH EAST                     2647100
COUNTY DURHAM                   522100
DARLINGTON                      107800
HARTLEPOOL                       92300
MIDDLESBROUGH                   143900
NORTHUMBERLAND                  320600
REDCAR AND CLEVELAND            136500
STOCKTON-ON-TEES                196600
TYNE AND WEAR (MET COUNTY)     1127200
GATESHEAD                       196100
NEWCASTLE UPON TYNE             300200
NORTH TYNESIDE                  209000
SOUTH TYNESIDE                  147800
SUNDERLAND                      274200
NORTH WEST                     7417300
BLACKBURN WITH DARWEN           154800
BLACKPOOL                       141100
CHESHIRE EAST                   398800

In [13]:
areasizeinfo.head(20)

                             Area (Hectares)
Local Authority
HARTLEPOOL                           9834.66
MIDDLESBROUGH                        5455.37
REDCAR AND CLEVELAND                25378.57
STOCKTON-ON-TEES                    20973.09
DARLINGTON                          19747.58
HALTON                               9032.15
WARRINGTON                          18238.34
BLACKBURN WITH DARWEN               13702.21
BLACKPOOL                            4315.08
KINGSTON UPON HULL, CITY OF          8149.74
EAST RIDING OF YORKSHIRE           249178.73
NORTH EAST LINCOLNSHIRE             20266.26
NORTH LINCOLNSHIRE                  87887.98
YORK                                27201.48
DERBY                                7803.11
LEICESTER                            7334.21
RUTLAND                             39374.90
NOTTINGHAM                           7461.32
HEREFORDSHIRE, COUNTY OF           217970.94
TELFORD AND WREKIN                  29031.37

In [15]:
beachcountdict

{'SA62': 11,
 'SA3': 7,
 'SA70': 6,
 'LL53': 6,
 'SA71': 5,
 'SY23': 4,
 'SA43': 4,
 'LL18': 4,
 'CF36': 3,
 'LL65': 3,
 'SA45': 3,
 'CF62': 3,
 'SA69': 3,
 'SA44': 3,
 'LL46': 2,
 'LL30': 2,
 'LL35': 2,
 'LL42': 2,
 'CF32': 1,
 'SA73': 1,
 'LL34': 1,
 'LL70': 1,
 'SA16': 1,
 'SA1': 1,
 'SA42': 1,
 '9CCV': 1,
 'LL19': 1,
 'SA67': 1,
 'LL58': 1,
 'LL49': 1,
 'LL64': 1,
 'LL74': 1,
 'LL61': 1,
 'LL38': 1,
 'LL75': 1,
 'SA12': 1,
 'CF61': 1,
 'LL36': 1,
 'SY24': 1,
 'LL52': 1,
 'LL55': 1,
 'LL67': 1,
 'LL63': 1,
 'LL22': 1,
 '7C2Q': 1,
 'LL28': 1,
 'SA33': 1,
 'LL33': 1,
 'LL54': 1}

In [14]:
round(statistics.median(list(beachcountdict.values())))

1

# Flat calculations

In [16]:
pd.set_option('display.max_rows', None)
#pp2020=pd.read_csv("C:\\Users\\Carl\\Housing\\Data\\pp-2020.csv")
#pp2020.columns=columns
#pp2021=pd.read_csv("C:\\Users\\Carl\\Housing\\Data\\pp-2021.csv")
#pp2021.columns=columns

print("shape of input df is",pp2022.shape)

pp2022['Property Type']=pp2022["Property Type"].str.replace("D","Detached")
pp2022['Property Type']=pp2022["Property Type"].str.replace("S","Semi-Detached")
pp2022['Property Type']=pp2022["Property Type"].str.replace("T","Terraced")
pp2022['Property Type']=pp2022["Property Type"].str.replace("F","Flat")
pp2022["Property Type"]=pp2022["Property Type"].str.replace("O","Other")

print("\nthis is the breakdown by house type across all UK\n",pp2022["Property Type"].value_counts())

hpp2022=pp2022[pp2022["Property Type"].isin(["Flat"])]
print("\n houses sold since 2022\n",hpp2022.shape)

hpp2022.reset_index(inplace=True,drop=True)

hpp2022.dropna(subset=["Postcode"],inplace=True)
hpp2022.reset_index(inplace=True,drop=True)

hpp2022dict=hpp2022.to_dict(orient="index")
print("hpp2022dict[2]=",hpp2022dict[2])

for i in range(0,len(hpp2022)):
    try:
        postcode=list(hpp2022dict.get(i).items())[3][1]
        first_postcode=postcode.split(" ")[0]
        hpp2022dict[i]["First Postcode"]=first_postcode
    except:
        print(postcode)
print("\nHouse price dictionary since 2022 has",len(hpp2022dict.keys()),"keys\n")

hpp2022dictdf=pd.DataFrame.from_dict(hpp2022dict,orient="index")
print("\nHouse price dictionary df (with split postcode) since 2022 has",hpp2022dictdf.shape[0],"rows")

hpp2022dictdf['Month of Transfer'] = pd.DatetimeIndex(hpp2022dictdf['Date of Transfer']).month
hpp2022dictdf['Month of Transfer']=hpp2022dictdf['Month of Transfer'].replace(1,"January")
hpp2022dictdf['Month of Transfer']=hpp2022dictdf['Month of Transfer'].replace(2,"Febuary")
hpp2022dictdf['Month of Transfer']=hpp2022dictdf['Month of Transfer'].replace(3,"March")
hpp2022dictdf['Month of Transfer']=hpp2022dictdf['Month of Transfer'].replace(4,"April")
hpp2022dictdf['Month of Transfer']=hpp2022dictdf['Month of Transfer'].replace(5,"May")

unique_sold_first_postcodes=list(hpp2022dictdf["First Postcode"].unique())

print("\nthere are",len(unique_sold_first_postcodes),"postcodes in UK that had a house sale in 2022\n")

singlesalepostcodes=hpp2022dictdf[hpp2022dictdf.groupby('First Postcode')['Price'].transform('size') == 1]
print("\nthere were",len(singlesalepostcodes["First Postcode"].unique()),"postcodes with a single sale in 2022\n")

hpp2022dictdf=hpp2022dictdf[hpp2022dictdf.groupby('First Postcode')['Price'].transform('size') > 1]
print("\nthere were",len(hpp2022dictdf["First Postcode"].unique()),"postcodes more than a single sale in 2022\n")

hpp2022dictdf["Price"]=hpp2022dictdf["Price"].astype(str)
hpp2022dictdfgrouped=hpp2022dictdf.groupby(['First Postcode'])['Price'].apply(','.join).reset_index()
hpp2022dictdfgrouped.head()
hpp2022dictdfgrouped.rename(columns={"Price":"All Prices for First Postcode"},inplace=True)
hpp2022dictdfgrouped.drop_duplicates(subset=["First Postcode"],inplace=True)
hpp2022dictdfgrouped.reset_index(inplace=True,drop=True)
print("house prices grouped by postcode has",hpp2022dictdfgrouped.shape[0],"rows")
#print("hpp2022dictdfgrouped=")
#hpp2022dictdfgrouped.head()


postcodes_with_train_times_df.head()
print("Train times for each postcode loaded and postcode split")

print("merging train time df with house prices grouped by first postcode...")
finaldf=pd.merge(hpp2022dictdfgrouped,postcodes_with_train_times_df[["First Postcode","train time to work"]],on="First Postcode")
print("Done")
finaldf.head(20)
finaldf["train time to work"]=finaldf["train time to work"].astype(str)
print("Joining finaldf train times into a single comma seperated string...")
commutedf=finaldf.groupby("First Postcode")['train time to work'].apply(','.join).reset_index()
commutedf.set_index("First Postcode",inplace=True)
print("Done")
print("merging finaldf with commuter df ...")
commutedf=pd.merge(finaldf,commutedf,on="First Postcode")
print("Done")
commutedf.drop(columns="train time to work_x",inplace=True)
commutedf.rename(columns={"train time to work_y":"train time to work"},inplace=True)
commutedf.drop_duplicates("First Postcode",inplace=True)
commutedf.head(20)
commutedf.set_index("First Postcode",inplace=True)
print("putting commutedf into a dictionary...")
commutedict=commutedf.to_dict(orient="index")
print("Done")
#print(commutedict)
hpp2022dictdfgrouped.head()

print("calculating the median prices and median times for each postcode")
for postcode,data in commutedict.items():
    data=commutedict.get(postcode)
    prices=data.get("All Prices for First Postcode").split(",")
    prices=[float(price) for price in prices]
    times=data.get("train time to work").split(",")
    times=[float(time) for time in times]
    mediantime=round(statistics.median(times))
    medianprice=round(statistics.median(prices))
    commutedict[postcode]['Median Price']=medianprice
    commutedict[postcode]['Median Time']=mediantime
print("Done")
print("putting the last df into a df to adjust index and drop columns")
lastdf=pd.DataFrame.from_dict(commutedict,orient="index")
lastdf.reset_index(inplace=True)
lastdf=lastdf[["index","Median Price","Median Time"]]
lastdf.set_index("index",inplace=True)
#print("lastdf")
lastdf.head(20)
print("Done")
print("putting the last df back into a dict as the last step")
lastdfdict=lastdf.to_dict(orient="index")
print("Lastdf written to dict")
print("lastdfdict = CF72")
lastdfdict.get("CF72")

# validated until here

postcodemappings.reset_index(inplace=True)
postcodemappings.set_index("index",inplace=True)
print("postcode df being written to df")
dict0=postcodemappings.to_dict(orient="index")
postcodeladict={}
print("postcode df dict being split to get first postcode")
for i in range(1,len(dict0.keys())):
    vals=list(dict0.get(i).values())
    #print(vals)
    PC=vals[1],"Local authority= ",vals[6],"first postcode=",vals[1].split(" ")[0]
    LAV=vals[6]
    FPC=vals[1].split(" ")[0]
    postcodeladict[FPC]=LAV
print("postcodeladict for CF72")
postcodeladict.get("CF72")

# OK UNTIL HERE

print("getting local authority for first postcode")
for postcode in list(lastdfdict.keys()):
    try:
        localauthority=postcodeladict[postcode]
        lastdfdict[postcode]["local authority"]=localauthority
    except:
        lastdfdict[postcode]["local authority"]="LA not known"
print("local authority in lastdfdict for CF72...")
lastdfdict["CF72"]

print("getting population for local authority")

for postcode in list(lastdfdict.keys()):
    try:
        localauthority=lastdfdict.get(postcode)["local authority"]
        population=list(population_infodict[localauthority].values())[0]
        lastdfdict[postcode]["Population"]=population
    except:
        lastdfdict[postcode]["Population"]="Population not known"
print("lastdfdict for CF72 including population")
lastdfdict["CF72"]


print("getting deprivation rank for local authority")

deprivation_scores_grouped=deprivation_scores.groupby('Local Authority Name')[["WIMD "]].median()
deprivation_scores_grouped.loc["ISLE OF ANGLESEY"][0]
alldepscores=[]
for postcode in list(lastdfdict.keys()):
    localauthority=lastdfdict[postcode]["local authority"]
    try:
        deprivationscore=deprivation_scores_grouped.loc[localauthority][0]
        alldepscores.append(deprivationscore)
        lastdfdict[postcode]["Deprivation Rank"]=deprivationscore
    except:
        lastdfdict[postcode]["Deprivation Rank"]="Deprivation Unknown"
lastdfdict["CF72"]





# OK UNTIL HERE #






print("getting median price for area relative to national median price")

allprices=[]
for postcode in list(lastdfdict.keys()):
    allprices.append(lastdfdict[postcode]["Median Price"])
allmedianprice=statistics.median(allprices)
for postcode in list(lastdfdict.keys()):
    lastdfdict[postcode]["Postcode Median Price Relative to National Median Price"]=lastdfdict[postcode]["Median Price"]/allmedianprice
lastdfdict["CF72"]

print("getting median time for area relative to national median time")

alltimes=[]
for postcode in list(lastdfdict.keys()):
    alltimes.append(lastdfdict[postcode]["Median Time"])
allmediantime=statistics.median(alltimes)
for postcode in list(lastdfdict.keys()):
    lastdfdict[postcode]["Postcode Median Time Relative to National Median Time"]=lastdfdict[postcode]["Median Time"]/allmediantime
lastdfdict["CF72"]


print("getting retail counts for each local authority")

for postcode in list(lastdfdict.keys()):
    localauthority=lastdfdict[postcode]["local authority"]
    try:
        retaildict=retail_infodict.get(localauthority)
        retailcount=list(retaildict.values())[0]
        lastdfdict[postcode]["Retail Count"]=retailcount
    except:
        lastdfdict[postcode]["Retail Count"]="Retail Count Unknown"
lastdfdict["CF72"]



#print("getting crime counts for local authority")
#
#for postcode in list(lastdfdict.keys()):
#    localauthority=lastdfdict[postcode]["local authority"]
#    try:
#        crimecount=list(crimedfdict.get(localauthority).values())[0]
#        lastdfdict[postcode]["Crime Count"]=crimecount
#    except:
#        lastdfdict[postcode]["Crime Count"]="Crime Count Unknown"
#lastdfdict["CF72"]


print("getting area for local authority")

for postcode in list(lastdfdict.keys()):
    localauthority=lastdfdict[postcode]["local authority"]
    try:
        area=list(areasizeinfodict.get(localauthority).values())[0]
        lastdfdict[postcode]["Area"]=area
    except:
        lastdfdict[postcode]["Area"]="Area Unknown"
lastdfdict["CF72"]

print("area calculations done")


maxbeachcount=max(list(beachcountdict.values()))

postcodeswithoutbeaches=[]

print("getting beach count for first postcodes")

for postcode in list(lastdfdict.keys()):
    try:
        postcodestem=re.sub(r'\d+', '', postcode)
        beachcount=beachcountbypostcodestem[postcodestem]
        lastdfdict[postcode]["Beach Count"]=beachcount
        lastdfdict[postcode]["Beach Score (Relative to Max)"]=beachcount/maxbeachcount
    except:
        postcodeswithoutbeaches.append(postcode)
        lastdfdict[postcode]["Beach Count"]=0
        lastdfdict[postcode]["Beach Score (Relative to Max)"]=0
lastdfdict["CF72"]

print("Beach count done")

#OK UNTIL HERE




print("getting postcodes with any unknown values")


unknowndict={}
for postcode in list(lastdfdict.keys()):
    lanacount = 0
    if (lastdfdict[postcode]["local authority"]=="LA not known"):
        lanacount += 1
    popnacount = 0
    if (lastdfdict[postcode]["Population"]=="Population not known"):
        popnacount += 1
    dinacount = 0
    if (lastdfdict[postcode]["Deprivation Rank"]=="Deprivation Unknown"):
        dinacount += 1
    areanacount=0
    if (lastdfdict[postcode]["Area"]=="Area Unknown"):
        areanacount += 1
#    ccnacount = 0
#    if (lastdfdict[postcode]["Crime Count"]=="Crime Count Unknown"):
#        ccnacount += 1
    retailnacount = 0
    if (lastdfdict[postcode]["Retail Count"]=="Retail Count Unknown"):
        retailnacount += 1
    if sum([lanacount,popnacount,dinacount,areanacount,retailnacount])>0:
        unknowndict[postcode]={"LA Unknown":lanacount,"Pop Unknown":popnacount,"DepInd Unknown":dinacount,"Area Unknown":areanacount,"Retail Unknown":retailnacount}
postcodes_to_drop=list(unknowndict.keys())
print(len(postcodes_to_drop))
print("dropping any postcodes from lastdfdict with any NA values")
print(len(lastdfdict))
for postcode in list(lastdfdict.keys()):
    if postcode in postcodes_to_drop:
        del lastdfdict[postcode]
print(len(lastdfdict))


#Deprivation Rank compared to mean 

mediandepscore=statistics.median(alldepscores)
print(mediandepscore)
for postcode in list(lastdfdict.keys()):
    localauthority=lastdfdict[postcode]["local authority"]
    depscore=deprivation_scores_grouped.loc[localauthority][0]
    relativedepscore=depscore/mediandepscore
    lastdfdict[postcode]["Deprivation Score Relative to National Median"]=relativedepscore
lastdfdict["CF72"]

popdensitylist=[]
for postcode in list(lastdfdict.keys()):
    popdensity=lastdfdict[postcode]["Population"]/lastdfdict[postcode]["Area"]
    lastdfdict[postcode]["Population Density"]=popdensity
    popdensitylist.append(popdensity)

medianpopdensity=statistics.median(popdensitylist)    
for postcode in list(lastdfdict.keys()):
    relativepopdensity=lastdfdict[postcode]["Population Density"]/medianpopdensity
    lastdfdict[postcode]["Population Density (Relative to Median)"]=relativepopdensity

# Total crimes per 1000 pop

#for postcode in list(lastdfdict.keys()):
#    relativecrimescore=lastdfdict[postcode]['Crime Count']/lastdfdict[postcode]['Population']
#    lastdfdict[postcode]["Crimes per 1000"]=relativecrimescore
#lastdfdict["E10"]

# LocAuth Crime rate compared to median Crime rate

#allcrimerates=[]
#for postcode in list(lastdfdict.keys()):
#    allcrimerates.append(lastdfdict[postcode]["Crimes per 1000"])
#allmediancrimes=statistics.median(allcrimerates)
#for postcode in list(lastdfdict.keys()):
#    lastdfdict[postcode]["Crime rate relative to National Median"]=lastdfdict[postcode]["Crimes per 1000"]/allmediancrimes
#lastdfdict["E10"]


#Retail Businesses per Hectare

for postcode in list(lastdfdict.keys()):
    retailperhectare=lastdfdict[postcode]['Retail Count']/lastdfdict[postcode]['Area']
    lastdfdict[postcode]["Businesses per Hectere"]=retailperhectare
lastdfdict["CF72"]

# LocAuth retail density compared to Median retail density

allretaildensity=[]
for postcode in list(lastdfdict.keys()):
    allretaildensity.append(lastdfdict[postcode]["Businesses per Hectere"])
allmedianretaildensity=statistics.median(allretaildensity)
for postcode in list(lastdfdict.keys()):
    lastdfdict[postcode]["Retail Score Relative to National Median"]=lastdfdict[postcode]["Businesses per Hectere"]/allmedianretaildensity
lastdfdict["CF72"]
print("all done")

shape of input df is (299432, 16)

this is the breakdown by house type across all UK
 Terraced         93233
Semi-Detached    82264
Detached         61461
Flat             52139
Other            10335
Name: Property Type, dtype: int64

 houses sold since 2022
 (52139, 16)

C:\Users\Carl\Anaconda3\lib\site-packages\ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

hpp2022dict[2]= {'Transaction unique identifier': '{E53EDD2D-A31C-83EC-E053-6B04A8C03A59}', 'Price': 135000, 'Date of Transfer': '2022-06-22 00:00', 'Postcode': 'CM0 7EG', 'Property Type': 'Flat', 'Old/New': 'N', 'Duration': 'L', 'PAON': '45', 'SAON': nan, 'Street': 'TATTERSALLS CHASE', 'Locality': nan, 'Town/City': 'SOUTHMINSTER', 'District': 'MALDON', 'County': 'ESSEX', 'PPD Category Type': 'A', 'TBD': 'A'}

House price dictionary since 2022 has 52124 keys


House price dictionary df (with split postcode) since 2022 has 52124 rows

there are 2093 postcodes in UK that had a house sale in 2022


there were 140 postcodes with a single sale in 2022


there were 1953 postcodes more than a single sale in 2022

house prices grouped by postcode has 1953 rows
Train times for each postcode loaded and postcode split
merging train time df with house prices grouped by first postcode...
Done
Joining finaldf train times into a single comma seperated string...
Done
merging finaldf with commuter df ...
Done
putting commutedf into a dictionary...
Done
calculating the median prices and median times for each postcode
Done
putting the last df into a df to adjust index and drop columns
Done
putting the last df back into a dict as the last step
Lastdf written to dict
lastdfdict = CF72
postcode df being written to df
postcode df dict being split to get first postcode
postcodeladict for CF72
getting local authority for first postcode
local authority in lastdfdict for CF72...
getting population for local authority
lastdfdict for CF72 including population
getting deprivation rank for local authority
getting median price for area relative to national median price
getting median time for area relative to national median time
getting retail counts for each local authority
getting area for local authority
area calculations done
getting beach count for first postcodes
Beach count done
getting postcodes with any unknown values
1106
dropping any postcodes from lastdfdict with any NA values
1181
75
1049.0
all done

In [30]:
#lastdfdict={key:val for key,val in lastdfdict.items() if 400000<lastdfdict[key]["Median Price"]<550000}

In [32]:
#lastdfdict.keys()

dict_keys(['BN12', 'BN14', 'BN18', 'BN2', 'BN42', 'BN43', 'BN8', 'BR1', 'BR5', 'CB1', 'CB10', 'CB11', 'CB22', 'CB4', 'CM1', 'CM12', 'CM13', 'CM14', 'CM21', 'CM22', 'CM23', 'CM24', 'CM3', 'CM77', 'CO5', 'CR0', 'CR2', 'CR3', 'CR4', 'CR7', 'CT10', 'CT4', 'CT5', 'DA15', 'DA16', 'DA5', 'DA7', 'E12', 'E14', 'E15', 'E4', 'E7', 'EN1', 'EN10', 'EN11', 'EN3', 'EN8', 'GL7', 'GU16', 'GU21', 'GU32', 'GU33', 'GU34', 'GU47', 'HA2', 'HA3', 'HP23', 'HP3', 'IG1', 'KT14', 'KT15', 'KT16', 'KT9', 'ME19', 'MK17', 'MK45', 'N17', 'N9', 'OX1', 'OX29', 'OX7', 'PO19', 'RG41', 'RG6', 'RG7', 'RG8', 'RH1', 'RH12', 'RH13', 'RH14', 'RH15', 'RH16', 'RH19', 'RH4', 'RH6', 'RH7', 'RM1', 'RM6', 'SE12', 'SE18', 'SE2', 'SE25', 'SE6', 'SE9', 'SG12', 'SG13', 'SG6', 'SG7', 'SG8', 'SL1', 'SM1', 'SM4', 'SM5', 'SM6', 'SN8', 'SN9', 'SO23', 'SS1', 'SS6', 'SS7', 'SS9', 'TN15', 'TN19', 'TN2', 'TN25', 'TN26', 'TN27', 'TN31', 'TN33', 'TN36', 'TN6', 'TN8', 'TN9', 'TW13', 'TW15', 'TW16', 'TW17', 'TW18', 'TW19', 'TW20', 'TW3', 'UB2', 'UB3', 'UB6', 'UB7', 'WD19', 'WD24', 'WD25'])

In [17]:
maxmedprice=0
for postcode in list(lastdfdict.keys()):
    medprice=lastdfdict[postcode]["Median Price"]
    if medprice>maxmedprice:
        maxmedprice=medprice
print("maxprice",maxmedprice)
maxbusinesses=0
for postcode in list(lastdfdict.keys()):
    businessdens=lastdfdict[postcode]["Businesses per Hectere"]
    if businessdens>maxbusinesses:
        maxbusinesses=businessdens
print("maxbusinesses",maxbusinesses)
maxdeprank=0
for postcode in list(lastdfdict.keys()):
    deprank=lastdfdict[postcode]["Deprivation Rank"]
    if deprank>maxdeprank:
        maxdeprank=deprank
print("maxdep",maxdeprank)
#maxcrimerank=0
#for postcode in list(lastdfdict.keys()):
#    crimerank=lastdfdict[postcode]["Crimes per 1000"]
#    if crimerank>maxcrimerank:
#        maxcrimerank=crimerank
#print("maxcrime",maxcrimerank)
maxtimerank=0
for postcode in list(lastdfdict.keys()):
    timerank=lastdfdict[postcode]["Median Time"]
    if timerank>maxtimerank:
        maxtimerank=timerank
print("maxtime",maxtimerank)


maxpopdens=0
for postcode in list(lastdfdict.keys()):
    popdens=lastdfdict[postcode]["Population Density"]
    if popdens>maxpopdens:
        maxpopdens=popdens
print("maxpopdens",maxpopdens)

maxprice 315000
maxbusinesses 0.06323400798555187
maxdep 1553.0
maxtime 689
maxpopdens 24.249740205252905

In [35]:
lastdfdict["CF72"]

{'Median Price': 220000,
 'Median Time': 500,
 'local authority': 'RHONDDA CYNON TAF',
 'Population': 237700,
 'Deprivation Rank': 624.0,
 'Postcode Median Price Relative to National Median Price': 1.3333333333333333,
 'Postcode Median Time Relative to National Median Time': 3.4722222222222223,
 'Retail Count': 685.0,
 'Area': 42415.02,
 'Beach Count': 8,
 'Beach Score (Relative to Max)': 0.7272727272727273,
 'Deprivation Score Relative to National Median': 0.5948522402287894,
 'Population Density': 5.604146832890802,
 'Population Density (Relative to Median)': 1.7796037187429825,
 'Businesses per Hectere': 0.016149939337527133,
 'Retail Score Relative to National Median': 2.7538718106116256}

In [18]:
lastdfdict["CF72"]

{'Median Price': 220000,
 'Median Time': 500,
 'local authority': 'RHONDDA CYNON TAF',
 'Population': 237700,
 'Deprivation Rank': 624.0,
 'Postcode Median Price Relative to National Median Price': 1.3333333333333333,
 'Postcode Median Time Relative to National Median Time': 3.4722222222222223,
 'Retail Count': 685.0,
 'Area': 42415.02,
 'Beach Count': 8,
 'Beach Score (Relative to Max)': 0.7272727272727273,
 'Deprivation Score Relative to National Median': 0.5948522402287894,
 'Population Density': 5.604146832890802,
 'Population Density (Relative to Median)': 1.7796037187429825,
 'Businesses per Hectere': 0.016149939337527133,
 'Retail Score Relative to National Median': 2.7538718106116256}

In [24]:
welshgreendf.index.name="local authority"
welshgreendf.head()

,Median distance to nearest park or public garden (m),Median size of nearest park or public garden (m2),"Median number of parks and public gardens in 1,000 m radius","Median combined size of parks and public gardens in 1,000 m radius (m2)",Median population per park or public garden,Number of flats in rural and built up areas,Number of houses in rural and built up area,Median distance to nearest park or public garden (m) (Relative to Max),Median size of nearest park or public garden (m2) (Relative to Max),"Median number of parks and public gardens in 1,000 m radius (Relative to Max)","Median combined size of parks and public gardens in 1,000 m radius (m2) (Relative to Max)",Median population per park or public garden (Relative to Max),Number of flats in rural and built up areas (Relative to Max),Number of houses in rural and built up area (Relative to Max),Green Score (Raw),Green Score (Relative to Max)
local authority,,,,,,,,,,,,,,,,
CARDIFF,366.863705,23055.81460,3,198447,9740.948555,47617,109346,0.082419,0.277304,1.000000,0.996575,0.617003,1.000000,1.000000,19.597159,1.000000
RHONDDA CYNON TAF,951.365770,41231.53730,1,58708,14255.024178,12461,98424,0.213734,0.495913,0.333333,0.294824,0.902929,0.261692,0.900115,0.509231,0.025985
SWANSEA,567.225700,35063.82660,1,62760,11741.340807,22112,91916,0.127433,0.421731,0.333333,0.315173,0.743710,0.464372,0.840598,1.108518,0.056565
CARMARTHENSHIRE,2625.026100,33666.49795,1,40465,10802.059058,9243,78969,0.589738,0.404924,0.333333,0.203210,0.684214,0.194111,0.722194,0.167870,0.008566
CAERPHILLY,695.307820,46088.47240,1,67095,9770.802994,7829,71927,0.156208,0.554330,0.333333,0.336942,0.618894,0.164416,0.657793,1.161759,0.059282

In [25]:
for postcode in list(lastdfdict.keys()):
    price_score=(lastdfdict[postcode]['Median Price']/maxmedprice)**2
    lastdfdict[postcode]["Price Score (Relative to Max)"]=price_score
    # smaller is better
    retail_score=(lastdfdict[postcode]["Businesses per Hectere"]/maxbusinesses)
    lastdfdict[postcode]["Retail Score (Relative to Max)"]=retail_score
    # bigger is better
    deprivation_score=(lastdfdict[postcode]["Deprivation Rank"]/maxdeprank)**2
    lastdfdict[postcode]["Deprivation Score (Relative to Max)"]=deprivation_score
    # bigger is better
    #crime_score=(lastdfdict[postcode]["Crimes per 1000"]/maxcrimerank)**1.25
    # smaller is better
    time_score=(lastdfdict[postcode]["Median Time"]/maxtimerank)
    lastdfdict[postcode]["Time Score (Relative to Max)"]=time_score
    
    #smaller is better
    population_density_score=(lastdfdict[postcode]["Population Density"]/maxpopdens)
    lastdfdict[postcode]["Population Density (Relative to Max)"]=population_density_score
    
    beach_score=lastdfdict[postcode]["Beach Score (Relative to Max)"]
    
    # smaller is better
    #lastdfdict[postcode]["Total Score (Postcode)"]=(deprivation_score*retail_score*beach_score)/(price_score)
    # bigger is better
outputdf=pd.DataFrame.from_dict(data=lastdfdict,orient="index")
outputdf=outputdf[["local authority","Median Price","Price Score (Relative to Max)","Median Time","Time Score (Relative to Max)","Retail Count","Population","Area","Population Density","Businesses per Hectere","Retail Score (Relative to Max)","Deprivation Rank","Deprivation Score (Relative to Max)","Beach Count","Beach Score (Relative to Max)"]]
finaldf=pd.merge(outputdf.reset_index().set_index("local authority"),welshgreendf,on="local authority")
finaldf=finaldf.rename(columns={"index":"Postcode"})
finaldf=finaldf.reset_index()
finaldf=finaldf.set_index("Postcode")
finaldf["Total Score (Postcode)"]=(finaldf["Deprivation Score (Relative to Max)"])/(finaldf["Price Score (Relative to Max)"])
savedf=finaldf.sort_values(by="Total Score (Postcode)",ascending=False)
savedf.to_excel("flats_within_wales.xlsx")

In [68]:
finaldf["Total Score (Postcode)"]

Postcode
CF10    4.466472
CF11    4.677144
CF14    4.531841
CF15    4.654661
CF23    5.291695
CF5     4.900821
CF31    0.016964
CF32    0.011104
CF33    0.009812
CF37    0.031265
CF38    0.025013
CF44    0.039232
CF45    0.030310
CF72    0.002201
CF47    0.033852
CF48    0.032769
CF62    0.280216
CF63    0.286677
CF64    0.165136
CF81    0.037482
CF82    0.034406
CF83    0.030239
NP11    0.000000
CH4     0.000000
CH5     0.000000
CH7     0.000000
LL11    0.076775
LL12    0.052957
LL18    0.148000
LD1     0.000000
LD2     0.000000
LD5     0.000000
SY16    0.000695
LL13    0.667768
LL14    1.102158
LL19    0.103695
LL28    0.003246
LL29    0.019121
LL30    0.004751
LL31    0.004394
LL33    0.002147
LL34    0.003509
LL35    0.000137
LL42    0.000276
LL46    0.001307
LL49    0.000282
LL52    0.000185
LL53    0.000449
LL57    0.000813
LL64    0.000039
LL65    0.000094
NP10    0.000000
NP20    0.000000
NP13    0.000000
NP23    0.000000
NP16    0.000000
NP26    0.000000
NP7     0.000000
NP4     0.000000
NP44    0.000000
SA1     0.663468
SA4     0.587091
SA10    0.025432
SA11    0.031221
SA12    0.020675
SA15    0.006053
SA16    0.016408
SA31    0.004342
SA61    0.002112
SA69    0.000818
SA70    0.000544
SA71    0.005004
SA72    0.003252
SA73    0.004729
SY23    0.000015
Name: Total Score (Postcode), dtype: float64

In [ ]:
savedf=outputdf.sort_values(by="Total Score (Postcode)",ascending=False)
savedf.to_excel("flats_within_wales.xlsx")

In [6]:
os.getcwd()

'C:\\Users\\Carl\\Housing'

# Flat calculations

In [7]:
columns=["Transaction unique identifier","Price","Date of Transfer","Postcode","Property Type","Old/New","Duration","PAON","SAON","Street","Locality","Town/City","District","County","PPD Category Type","TBD"]
postcodes_with_train_times_df=pd.read_excel("C:\\Users\\Carl\\Housing\\postcodedfwithtimedf.xlsx")
pp2022=pd.read_csv("C:\\Users\\Carl\\Housing\\Data\\pp-2022.csv")
pp2022.columns=columns
postcodemappings=pd.read_csv(open("C:\\Users\\Carl\\Housing\\Data\\Postcode to LA.csv"),sep='\t',error_bad_lines=False)

deprivation_scores=pd.read_excel(open('C:\\Users\\Carl\\Housing\\Data\\Deprivation Scores.xlsx','rb'),"IMD2019")

retail_info=pd.read_excel(open('C:\\Users\\Carl\\Housing\\Data\\RetailInfo.xlsx','rb'),"Table 1",usecols=[1,7],skiprows=range(5))
retail_info=retail_info.dropna()
retail_info=retail_info.rename(columns={"Unnamed: 1":"Local Authority","47 : Retail":"Count"})
retail_info.set_index("Local Authority",inplace=True)
retail_infodict=retail_info.to_dict(orient="index")

crimedf=pd.read_excel(open("C:\\Users\\Carl\\Housing\\Data\\Crime Data.xlsx","rb"),"Table C3",skiprows=range(6))
crimedf.columns=[string.replace("\n","") for string in list(crimedf.columns)]
crimedf=crimedf[["Local Authority name","Total recorded crime (excluding fraud)"]]
crimedf.dropna(subset=["Local Authority name"],inplace=True)
crimedf=crimedf.set_index("Local Authority name")
crimedfdict=crimedf.to_dict(orient="index")

population_info=pd.read_excel(open('C:\\Users\\Carl\\Housing\\Data\\PopulationFigures.xlsx','rb'),"Ethnicity",usecols=[3,4],skiprows=range(6))
population_info=population_info.dropna()
population_info=population_info.rename(columns={" .1":"Local Authority","Number":"Population"})
population_info.set_index("Local Authority",inplace=True)
population_infodict=population_info.to_dict(orient="index")

areasizeinfo=pd.read_excel(open('C:\\Users\\Carl\\Housing\\Data\\SAM_LAD_DEC_2020_UK.xlsx','rb'),"SAM_LAD_2020",usecols=[1,2])
areasizeinfo=areasizeinfo.dropna()
areasizeinfo.rename(columns={"LAD20NM":"Local Authority","AREAEHECT":"Area (Hectares)"},inplace=True)
areasizeinfo.set_index("Local Authority",inplace=True)
areasizeinfodict=areasizeinfo.to_dict(orient="index")
areasizeinfodict["Hartlepool"]

dct={}
for year in range(2008,2021):
    df=pd.read_csv(str(os.getcwd())+"\\Data\\square footage\\KT1_"+str(year)+"_flat_data.csv",usecols=[1,2,3,4,31])
    dct[year]=df
flatsizesinkingston=pd.concat(dct.values())
flatsizesinkingston=flatsizesinkingston.reset_index()
flatsizesinkingston=flatsizesinkingston.drop(columns=["index"])
medianflatsizeinkingstonla=flatsizesinkingston[["total-floor-area"]].median().values[0]
print("medianflatsizeinkingstonla=",medianflatsizeinkingstonla)

medianflatsizeinkingstonla= 58.0

In [8]:
pd.set_option('display.max_rows', None)
#pp2020=pd.read_csv("C:\\Users\\Carl\\Housing\\Data\\pp-2020.csv")
#pp2020.columns=columns
#pp2021=pd.read_csv("C:\\Users\\Carl\\Housing\\Data\\pp-2021.csv")
#pp2021.columns=columns

print("shape of input df is",pp2022.shape)

pp2022['Property Type']=pp2022["Property Type"].str.replace("D","Detached")
pp2022['Property Type']=pp2022["Property Type"].str.replace("S","Semi-Detached")
pp2022['Property Type']=pp2022["Property Type"].str.replace("T","Terraced")
pp2022['Property Type']=pp2022["Property Type"].str.replace("F","Flat")
pp2022["Property Type"]=pp2022["Property Type"].str.replace("O","Other")

print("\nthis is the breakdown by house type across all areas\n",pp2022["Property Type"].value_counts())

fpp2022=pp2022[pp2022["Property Type"]=="Flat"]
print("\n flats sold since 2022\n",fpp2022.shape)

fpp2022.reset_index(inplace=True,drop=True)

fpp2022.dropna(subset=["Postcode"],inplace=True)
fpp2022.reset_index(inplace=True,drop=True)

fpp2022dict=fpp2022.to_dict(orient="index")
print(fpp2022dict[2])

for i in range(0,len(fpp2022)):
    try:
        postcode=list(fpp2022dict.get(i).items())[3][1]
        first_postcode=postcode.split(" ")[0]
        fpp2022dict[i]["First Postcode"]=first_postcode
    except:
        print(postcode)
print("\nFlat price dictionary since 2022 has",len(fpp2022dict.keys()),"keys\n")

fpp2022dictdf=pd.DataFrame.from_dict(fpp2022dict,orient="index")
print("\nFlat price dictionary df (with split postcode) since 2022 has",fpp2022dictdf.shape[0],"rows")


fpp2022dictdf['Month of Transfer'] = pd.DatetimeIndex(fpp2022dictdf['Date of Transfer']).month
fpp2022dictdf['Month of Transfer']=fpp2022dictdf['Month of Transfer'].replace(1,"January")
fpp2022dictdf['Month of Transfer']=fpp2022dictdf['Month of Transfer'].replace(2,"Febuary")
fpp2022dictdf['Month of Transfer']=fpp2022dictdf['Month of Transfer'].replace(3,"March")
fpp2022dictdf['Month of Transfer']=fpp2022dictdf['Month of Transfer'].replace(4,"April")
fpp2022dictdf['Month of Transfer']=fpp2022dictdf['Month of Transfer'].replace(5,"May")

unique_sold_first_postcodes=list(fpp2022dictdf["First Postcode"].unique())

print("\nthere are",len(unique_sold_first_postcodes),"postcodes that had a flat sale in 2022\n")

singlesalepostcodes=fpp2022dictdf[fpp2022dictdf.groupby('First Postcode')['Price'].transform('size') == 1]
print("\nthere were",len(singlesalepostcodes["First Postcode"].unique()),"postcodes with a single sale in 2022\n")

fpp2022dictdf=fpp2022dictdf[fpp2022dictdf.groupby('First Postcode')['Price'].transform('size') > 1]
print("\nthere were",len(fpp2022dictdf["First Postcode"].unique()),"postcodes more than a single sale in 2022\n")

fpp2022dictdf["Price"]=fpp2022dictdf["Price"].astype(str)
fpp2022dictdfgrouped=fpp2022dictdf.groupby(['First Postcode'])['Price'].apply(','.join).reset_index()
fpp2022dictdfgrouped
fpp2022dictdfgrouped.rename(columns={"Price":"All Prices for First Postcode"},inplace=True)
fpp2022dictdfgrouped.drop_duplicates(subset=["First Postcode"],inplace=True)
fpp2022dictdfgrouped.reset_index(inplace=True,drop=True)
print("flat prices grouped by postcode has",fpp2022dictdfgrouped.shape[0],"rows")

fpp2022dictdfgrouped[fpp2022dictdfgrouped["First Postcode"]=="KT1"]["All Prices for First Postcode"].values

postcodes_with_train_times_df.drop(columns=["Unnamed: 0"],inplace=True)
print("splitting postcodes in train time df...")
postcodes_with_train_times_df["First Postcode"]="tbd"
for i in range(0,len(postcodes_with_train_times_df)):
    postcode=postcodes_with_train_times_df.loc[i]["postcode"]
    split_postcode=postcode.split(" ")
    postcodes_with_train_times_df.loc[postcodes_with_train_times_df['postcode'] == postcode, 'First Postcode'] = split_postcode[0]
postcodes_with_train_times_df.head()
#postcodes_with_train_times_df=postcodes_with_train_times_df[postcodes_with_train_times_df["train time to work"]<75]
print("train times all gathered...")
print("merging train time df with house prices grouped by first postcode...")
finaldf=pd.merge(fpp2022dictdfgrouped,postcodes_with_train_times_df[["First Postcode","train time to work"]],on="First Postcode")
print("Done")
finaldf["train time to work"]=finaldf["train time to work"].astype(str)
print("Joining finaldf train times into a single comma seperated string...")
commutedf=finaldf.groupby("First Postcode")['train time to work'].apply(','.join).reset_index()
#commutedf.set_index("First Postcode",inplace=True)
print("Done")
print("merging finaldf with commuter df ...")
commutedf=pd.merge(finaldf,commutedf,on="First Postcode")
print("Done")
commutedf.drop(columns="train time to work_x",inplace=True)
commutedf.rename(columns={"train time to work_y":"train time to work"},inplace=True)
commutedf.drop_duplicates("First Postcode",inplace=True)
commutedf.head()
commutedf.set_index("First Postcode",inplace=True)
print("putting commutedf into a dictionary...")
commutedict=commutedf.to_dict(orient="index")
print("Done")
#print(commutedict)
#hpp2022dictdfgrouped.head()

shape of input df is (105501, 16)

this is the breakdown by house type across all areas
 Terraced         32859
Semi-Detached    28638
Detached         21687
Flat             18063
Other             4254
Name: Property Type, dtype: int64

 flats sold since 2022
 (18063, 16)

C:\Users\Carl\Anaconda3\lib\site-packages\ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

{'Transaction unique identifier': '{DE2D0CDF-7F05-51EE-E053-6C04A8C00671}', 'Price': 370000, 'Date of Transfer': '2022-03-31 00:00', 'Postcode': 'EX8 1BG', 'Property Type': 'Flat', 'Old/New': 'N', 'Duration': 'L', 'PAON': '17', 'SAON': 'FLAT 1', 'Street': 'MORTON CRESCENT', 'Locality': nan, 'Town/City': 'EXMOUTH', 'District': 'EAST DEVON', 'County': 'DEVON', 'PPD Category Type': 'A', 'TBD': 'A'}

Flat price dictionary since 2022 has 18056 keys


Flat price dictionary df (with split postcode) since 2022 has 18056 rows

there are 1885 postcodes that had a flat sale in 2022


there were 245 postcodes with a single sale in 2022


there were 1640 postcodes more than a single sale in 2022

flat prices grouped by postcode has 1640 rows
splitting postcodes in train time df...
train times all gathered...
merging train time df with house prices grouped by first postcode...
Done
Joining finaldf train times into a single comma seperated string...
Done
merging finaldf with commuter df ...
Done
putting commutedf into a dictionary...
Done

In [10]:
print("calculating the median prices and median times for each postcode")
for postcode,data in commutedict.items():
    data=commutedict.get(postcode)
    prices=data.get("All Prices for First Postcode").split(",")
    prices=[float(price) for price in prices]
    times=data.get("train time to work").split(",")
    times=[float(time) for time in times]
    mediantime=round(statistics.median(times))
    medianprice=round(statistics.median(prices))
    if postcode=="KT1":
        print(medianprice,postcode,"this is the median price for KT1")
    commutedict[postcode]['Median Price']=medianprice
    commutedict[postcode]['Median Time']=mediantime
print("Done")
print("putting the last df into a df to adjust index and drop columns")
lastdf=pd.DataFrame.from_dict(commutedict,orient="index")
lastdf.reset_index(inplace=True)
lastdf=lastdf[["index","Median Price","Median Time"]]
lastdf.set_index("index",inplace=True)
print("Done")
print("putting the last df back into a dict as the last step")
lastdfdict=lastdf.to_dict(orient="index")
print("Lastdf written to dict")
lastdfdict.get("E10")

postcodemappings.reset_index(inplace=True)
postcodemappings.set_index("index",inplace=True)
print("postcode df being written to df")
dict0=postcodemappings.to_dict(orient="index")
postcodeladict={}
print("postcode df dict being split to get first postcode")
for i in range(1,len(dict0.keys())):
    vals=list(dict0.get(i).values())
    for string in vals:
        PC=string.split(",")[1]
        LAV=string.split(",")[6]
        FPC=PC.split(" ")[0]
    postcodeladict[FPC]=LAV
postcodeladict.get("E10")
print("getting local authority for first postcode")
for postcode in list(lastdfdict.keys()):
    try:
        localauthority=postcodeladict[postcode]
        lastdfdict[postcode]["local authority"]=localauthority
    except:
        lastdfdict[postcode]["local authority"]="LA not known"
lastdfdict["E10"]

for postcode in list(lastdfdict.keys()):
    if "Kingston upon Thames" in lastdfdict[postcode]["local authority"]:
        lastdfdict[postcode]['Median Price over Median Area (Kingston Only)']=405000/medianflatsizeinkingstonla
        print(405000/medianflatsizeinkingstonla)
    else:
        lastdfdict[postcode]['Median Price over Median Area (Kingston Only)']=0


print("getting population for local authority")

for postcode in list(lastdfdict.keys()):
    try:
        localauthority=lastdfdict.get(postcode)["local authority"]
        population=list(population_infodict[localauthority].values())[0]
        lastdfdict[postcode]["Population"]=population
    except:
        lastdfdict[postcode]["Population"]="Population not known"
lastdfdict["E10"]


print("getting deprivation rank for local authority")

deprivation_scores_grouped=deprivation_scores.groupby('Local Authority District name (2019)')[["Index of Multiple Deprivation (IMD) Rank"]].median()
deprivation_scores_grouped.loc["Adur"][0]
alldepscores=[]
for postcode in list(lastdfdict.keys()):
    localauthority=lastdfdict[postcode]["local authority"]
    try:
        deprivationscore=deprivation_scores_grouped.loc[localauthority][0]
        alldepscores.append(deprivationscore)
        lastdfdict[postcode]["Deprivation Rank"]=deprivationscore
    except:
        lastdfdict[postcode]["Deprivation Rank"]="Deprivation Unknown"
lastdfdict["E10"]


print("getting median price for area relative to median price within 2 hrs of work")

allprices=[]
for postcode in list(lastdfdict.keys()):
    allprices.append(lastdfdict[postcode]["Median Price"])
allmedianprice=statistics.median(allprices)
for postcode in list(lastdfdict.keys()):
    lastdfdict[postcode]["Postcode Median Price Relative to 2hr Radius Median Price"]=lastdfdict[postcode]["Median Price"]/allmedianprice
lastdfdict["E10"]


alltimes=[]
for postcode in list(lastdfdict.keys()):
    alltimes.append(lastdfdict[postcode]["Median Time"])
allmediantime=statistics.median(alltimes)
for postcode in list(lastdfdict.keys()):
    lastdfdict[postcode]["Postcode Median Time Relative to 2hr Radius Median Time"]=lastdfdict[postcode]["Median Time"]/allmediantime
lastdfdict["E10"]


print("getting retail counts for each local authority")

for postcode in list(lastdfdict.keys()):
    localauthority=lastdfdict[postcode]["local authority"]
    try:
        retaildict=retail_infodict.get(localauthority)
        retailcount=list(retaildict.values())[0]
        lastdfdict[postcode]["Retail Count"]=retailcount
    except:
        lastdfdict[postcode]["Retail Count"]="Retail Count Unknown"
lastdfdict["E10"]


print("getting crime counts for local authority")

for postcode in list(lastdfdict.keys()):
    localauthority=lastdfdict[postcode]["local authority"]
    try:
        crimecount=list(crimedfdict.get(localauthority).values())[0]
        lastdfdict[postcode]["Crime Count"]=crimecount
    except:
        lastdfdict[postcode]["Crime Count"]="Crime Count Unknown"
lastdfdict["E10"]

print("getting area for local authority")

for postcode in list(lastdfdict.keys()):
    localauthority=lastdfdict[postcode]["local authority"]
    try:
        area=list(areasizeinfodict.get(localauthority).values())[0]
        lastdfdict[postcode]["Area"]=area
    except:
        lastdfdict[postcode]["Area"]="Area Unknown"
lastdfdict["E10"]





print("getting postcodes with any unknown values")


unknowndict={}
for postcode in list(lastdfdict.keys()):
    lanacount = 0
    if (lastdfdict[postcode]["local authority"]=="LA not known"):
        lanacount += 1
    popnacount = 0
    if (lastdfdict[postcode]["Population"]=="Population not known"):
        popnacount += 1
    dinacount = 0
    if (lastdfdict[postcode]["Deprivation Rank"]=="Deprivation Unknown"):
        dinacount += 1
    areanacount=0
    if (lastdfdict[postcode]["Area"]=="Area Unknown"):
        areanacount += 1
    ccnacount = 0
    if (lastdfdict[postcode]["Crime Count"]=="Crime Count Unknown"):
        ccnacount += 1
    retailnacount = 0
    if (lastdfdict[postcode]["Retail Count"]=="Retail Count Unknown"):
        retailnacount += 1
    if sum([lanacount,popnacount,dinacount,areanacount,ccnacount,retailnacount])>0:
        unknowndict[postcode]={"LA Unknown":lanacount,"Pop Unknown":popnacount,"DepInd Unknown":dinacount,"Area Unknown":areanacount,"CC Unknown":ccnacount,"Retail Unknown":retailnacount}
postcodes_to_drop=list(unknowndict.keys())

print("dropping any postcodes from lastdfdict with any NA values")

for postcode in list(lastdfdict.keys()):
    if postcode in postcodes_to_drop:
        del lastdfdict[postcode]
print(len(lastdfdict))


# Deprivation Rank compared to mean 

mediandepscore=statistics.median(alldepscores)
print(mediandepscore)
for postcode in list(lastdfdict.keys()):
    localauthority=lastdfdict[postcode]["local authority"]
    #print(localauthority)
    depscore=deprivation_scores_grouped.loc[localauthority][0]
    relativedepscore=depscore/mediandepscore
    lastdfdict[postcode]["Deprivation Score Relative to Nation Median"]=relativedepscore
lastdfdict["E10"]

# Total crimes per 1000 pop

for postcode in list(lastdfdict.keys()):
    relativecrimescore=lastdfdict[postcode]['Crime Count']/lastdfdict[postcode]['Population']
    lastdfdict[postcode]["Crimes per 1000"]=relativecrimescore
lastdfdict["E10"]

# LocAuth Crime rate compared to median Crime rate

allcrimerates=[]
for postcode in list(lastdfdict.keys()):
    allcrimerates.append(lastdfdict[postcode]["Crimes per 1000"])
allmediancrimes=statistics.median(allcrimerates)
for postcode in list(lastdfdict.keys()):
    lastdfdict[postcode]["Crime rate relative to National Median"]=lastdfdict[postcode]["Crimes per 1000"]/allmediancrimes
lastdfdict["E10"]


# Retail Businesses per Hectare

for postcode in list(lastdfdict.keys()):
    retailperhectare=lastdfdict[postcode]['Retail Count']/lastdfdict[postcode]['Area']
    lastdfdict[postcode]["Businesses per Hectere"]=retailperhectare
lastdfdict["E10"]

# LocAuth retail density compared to Median retail density

allretaildensity=[]
for postcode in list(lastdfdict.keys()):
    allretaildensity.append(lastdfdict[postcode]["Businesses per Hectere"])
allmedianretaildensity=statistics.median(allretaildensity)
for postcode in list(lastdfdict.keys()):
    lastdfdict[postcode]["Retail Score Relative to National Median"]=lastdfdict[postcode]["Businesses per Hectere"]/allmedianretaildensity
lastdfdict["KT1"]

calculating the median prices and median times for each postcode
405000 KT1 this is the median price for KT1
Done
putting the last df into a df to adjust index and drop columns
Done
putting the last df back into a dict as the last step
Lastdf written to dict
postcode df being written to df
postcode df dict being split to get first postcode
getting local authority for first postcode
6982.758620689655
6982.758620689655
6982.758620689655
6982.758620689655
getting population for local authority
getting deprivation rank for local authority
getting median price for area relative to median price within 2 hrs of work
getting retail counts for each local authority
getting crime counts for local authority
getting area for local authority
getting postcodes with any unknown values
dropping any postcodes from lastdfdict with any NA values
866
17282.0

{'Median Price': 405000,
 'Median Time': 54,
 'local authority': 'Kingston upon Thames',
 'Median Price over Median Area (Kingston Only)': 6982.758620689655,
 'Population': 160060,
 'Deprivation Rank': 24742.0,
 'Postcode Median Price Relative to 2hr Radius Median Price': 2.383053839364519,
 'Postcode Median Time Relative to 2hr Radius Median Time': 0.421875,
 'Retail Count': 1105.0,
 'Crime Count': 12623,
 'Area': 3725.93,
 'Deprivation Score Relative to Nation Median': 1.4316630019673648,
 'Crimes per 1000': 0.07886417593402474,
 'Crime rate relative to National Median': 0.89675824831936,
 'Businesses per Hectere': 0.2965702522591675,
 'Retail Score Relative to National Median': 9.575059750183176}

In [11]:
lastdfdict["E10"]

{'Median Price': 370000,
 'Median Time': 34,
 'local authority': 'Waltham Forest',
 'Median Price over Median Area (Kingston Only)': 0,
 'Population': 258249,
 'Deprivation Rank': 11134.0,
 'Postcode Median Price Relative to 2hr Radius Median Price': 2.1771109149749925,
 'Postcode Median Time Relative to 2hr Radius Median Time': 0.265625,
 'Retail Count': 1360.0,
 'Crime Count': 22794,
 'Area': 3881.02,
 'Deprivation Score Relative to Nation Median': 0.6442541372526328,
 'Crimes per 1000': 0.08826365252140377,
 'Crime rate relative to National Median': 1.003638946174725,
 'Businesses per Hectere': 0.3504233423172259,
 'Retail Score Relative to National Median': 11.313759269470395}

In [12]:
lastdfdict = {key:val for key, val in lastdfdict.items() if lastdfdict[key]["Median Price"]<400000}
for key,val in lastdfdict.items():
    print(key,lastdfdict[key]["Median Price"])

AL1 395000
AL2 230000
AL5 317500
AL6 310000
AL8 275000
AL9 302477
B11 193000
B15 182000
B18 159750
B20 87875
B23 84975
B27 103000
B28 127500
B29 110000
B30 135000
B31 131000
B33 104500
B37 98000
B38 85000
B42 103000
B46 196500
B5 95000
B66 72500
B69 95500
B7 79500
B70 90000
B73 145500
B74 179750
B77 115250
B78 151400
B79 104500
B8 52500
B90 150750
B91 205000
B92 151000
B93 255000
BA1 305000
BA12 127950
BA13 136500
BA14 142000
BA15 185000
BA2 247500
BB1 83500
BB11 116250
BB12 70748
BB2 90000
BB3 80250
BB5 52000
BB7 138750
BD10 105475
BD16 110000
BD17 95000
BD18 106498
BD20 139000
BD21 93000
BH25 235000
BL3 85600
BL4 81500
BL5 107500
BL6 85000
BL7 159500
BN1 285000
BN11 225000
BN12 312500
BN14 197500
BN15 177500
BN16 288000
BN17 177000
BN18 337500
BN2 275000
BN21 192500
BN22 155000
BN24 200000
BN25 206250
BN26 185000
BN3 327500
BN41 260000
BN42 223000
BN43 258500
BN6 310000
BN7 266500
BN9 170000
BR1 328000
BR2 300000
BR3 317500
BR4 190000
BR5 237500
BR6 320000
BR7 252500
BR8 250000
BS22 146000
BS23 165000
BS34 140250
BS35 126500
BS37 190000
BS48 163750
CA1 64000
CA11 140000
CA14 59500
CA28 86975
CA4 195000
CA7 82000
CA8 103500
CB1 295000
CB10 220500
CB11 180000
CB22 280500
CB4 237500
CB6 169000
CB7 157500
CB8 155000
CH1 169000
CH2 140000
CH3 126750
CH41 107816
CH42 91000
CH43 121000
CH45 158250
CH46 107500
CH47 128500
CH48 242500
CH62 122500
CH63 89500
CH64 251750
CH65 81000
CH66 102500
CM0 172000
CM1 200000
CM12 235000
CM13 276750
CM14 275000
CM15 265000
CM19 170000
CM20 178000
CM21 198000
CM23 260000
CM3 174000
CM7 152000
CM77 192500
CM8 193500
CO1 153750
CO10 162500
CO11 258750
CO12 121500
CO13 225950
CO14 166250
CO15 135000
CO16 206000
CO2 177500
CO5 170000
CO6 143098
CO7 187500
CR0 250000
CR2 279000
CR3 265000
CR4 265000
CR5 272994
CR7 260000
CR8 280000
CT1 208000
CT10 225000
CT11 149995
CT12 156750
CT13 258500
CT14 205000
CT15 212500
CT17 128000
CT19 165000
CT2 180000
CT20 189000
CT21 232500
CT4 155000
CT5 270000
CT6 174998
CT7 188000
CT8 292500
CT9 135000
CV1 118750
CV10 110500
CV11 106250
CV12 100000
CV21 123000
CV4 128750
CV5 146000
CV6 122000
CV7 123250
CV8 150000
CW11 154000
CW12 137500
CW2 63500
CW4 97500
CW5 153000
CW7 115000
CW8 103500
CW9 104750
DA1 227500
DA15 284000
DA16 201250
DA17 226250
DA3 237500
DA4 228000
DA5 270000
DA7 269975
DA8 228750
DE1 111250
DE14 129500
DE21 82500
DE23 90000
DE4 295000
DE55 64000
DE56 184000
DE65 122500
DE7 85000
DH1 98500
DH2 78000
DL1 70000
DL14 54125
DL3 108000
DN12 64500
DN14 112500
DN15 85000
DN17 60000
DN21 99500
DN22 90000
DN3 95000
DN35 142500
DN8 85000
DY4 85500
DY8 140000
DY9 174250
E10 370000
E12 235000
E15 360000
E4 296000
E5 341243
E7 340000
EN1 265000
EN10 235000
EN11 240000
EN2 285000
EN3 255000
EN4 286000
EN5 330000
EN6 291750
EN8 206250
EX1 176725
EX2 171500
EX4 156500
FY1 54750
FY2 90000
FY4 82000
FY6 104000
FY8 141500
GL1 125000
GL10 162000
GL11 116750
GL20 143000
GL5 141000
GL51 161500
GL56 261500
GL7 190000
GU1 277500
GU10 211000
GU12 194750
GU15 238500
GU16 253500
GU21 242500
GU22 267500
GU24 275000
GU25 292714
GU27 190000
GU3 344000
GU30 315000
GU33 155000
GU34 158750
GU4 282000
GU47 245000
GU7 270000
GU8 318000
GU9 242000
HA0 269000
HA1 320000
HA2 320000
HA3 261500
HA4 363500
HA5 384000
HA9 312500
HD1 102500
HD7 109000
HD8 170250
HD9 186000
HP23 217000
HP3 280000
HP4 275000
HU15 112500
HU16 121500
HU17 121250
HX1 88500
HX6 85000
HX7 145000
IG1 258000
IG11 200000
IG3 345000
IP14 148750
IP2 123000
IP22 97500
IP24 121250
IP27 99975
IP3 129000
IP30 173750
IP6 133500
KT10 248750
KT12 275000
KT13 330750
KT14 290000
KT15 252000
KT16 249950
KT17 270000
KT18 347500
KT19 269000
KT20 279000
KT21 320000
KT22 246500
KT3 313850
KT4 355000
KT5 337000
KT6 396375
KT7 365000
KT8 351000
KT9 290000
L1 127500
L13 98125
L17 151500
L18 175000
L19 127500
L2 105000
L20 65000
L22 106250
L23 142750
L25 80000
L3 180000
L31 88750
L32 72500
L34 80000
L36 77250
L37 188250
L39 114750
L40 131000
L5 114025
L7 108500
L8 90000
L9 75250
LA1 115000
LA10 112000
LA11 150000
LA14 87000
LA15 110500
LA23 215000
LA3 73000
LA4 95000
LA5 182000
LA6 150000
LA9 133500
LE10 119750
LE11 129000
LE13 137000
LE15 141000
LE18 123000
LE2 146000
LE7 134500
LN1 162000
LN4 123500
LN5 90625
LN6 137500
LS1 167000
LS13 122000
LS15 120000
LS16 160000
LS20 155000
LS25 110500
LS27 116250
LS28 130750
LS29 197500
LU1 153500
LU5 177000
LU7 190000
M1 221250
M11 127500
M14 129750
M19 113500
M20 225000
M24 91000
M27 125000
M28 172500
M3 220000
M30 127500
M32 125000
M34 107500
M40 63500
M41 212250
M5 145500
ME1 236000
ME10 155000
ME12 195000
ME13 172500
ME14 195000
ME16 182500
ME17 163000
ME18 222000
ME19 272000
ME2 165000
ME20 215000
ME3 172500
ME4 185750
ME6 226500
ME7 135000
ME8 191250
ME9 154500
MK12 161000
MK17 150000
MK2 115000
MK3 196250
MK40 167250
MK42 152500
MK45 225000
MK9 290000
N11 313500
N15 325000
N17 310000
N18 244500
N21 387500
N22 380000
N9 215000
NE1 150000
NE10 82500
NE11 85000
NE20 135875
NE21 88975
NE23 71000
NE32 75000
NE42 82500
NE46 106000
NE61 141500
NE65 326500
NE66 120000
NG10 128000
NG11 160000
NG15 121000
NG17 82500
NG18 96475
NG2 165000
NG24 90000
NG31 93750
NG34 89000
NG6 102000
NR1 150000
NR12 210000
NR13 155750
NR26 202500
NR27 194750
NR28 141000
NR30 76500
NR31 107500
NW10 370000
NW2 355988
NW4 395000
OL11 69750
OL15 129000
OL3 193000
OL5 132000
OL6 226750
OX1 377500
OX10 253750
OX11 196000
OX14 189000
OX16 146000
OX2 340000
OX26 217000
OX29 217500
OX5 200000
OX7 152500
PE1 118500
PE11 118000
PE15 102500
PE19 172500
PE21 92500
PE25 82000
PE29 165000
PE30 105000
PE38 112998
PE7 126500
PE9 146000
PL1 120000
PL12 115000
PL13 190000
PL14 122500
PL2 112500
PL25 200000
PL26 151250
PL4 109000
PL5 109500
PO1 162500
PO10 235000
PO14 122998
PO16 144000
PO18 246000
PO19 219500
PO21 148250
PO22 134250
PO3 153750
PO33 132500
PO36 124250
PO37 142500
PO5 165000
PO6 177000
PO9 125000
PR1 100000
PR25 110000
PR4 69950
PR5 107750
PR7 105000
PR8 111000
PR9 125000
RG1 225000
RG12 215000
RG14 205000
RG17 176500
RG19 200000
RG30 209000
RG31 166250
RG41 237500
RG45 247000
RG6 200500
RG7 246000
RG8 315000
RH1 235000
RH10 224250
RH11 179500
RH12 220000
RH13 241000
RH14 218000
RH15 210000
RH16 235000
RH17 175000
RH19 217000
RH2 318500
RH20 247475
RH4 238500
RH5 190000
RH6 222500
RH9 332500
RM1 217000
RM11 258000
RM13 233000
RM14 276000
RM15 190000
RM16 215000
RM17 190000
RM18 195000
RM19 200000
RM2 225000
RM3 265000
RM6 240000
S1 116250
S13 125000
S17 154300
S26 100000
S33 245000
S35 110000
S36 112500
S41 112000
S60 105000
S71 134250
S73 65000
S75 102500
S9 71500
SE12 225000
SE13 347500
SE14 339000
SE15 397500
SE18 290000
SE19 368000
SE2 247500
SE20 277500
SE25 282000
SE26 352500
SE5 392500
SE6 300000
SE7 355000
SE8 300000
SE9 282500
SG1 187000
SG12 230000
SG13 299500
SG14 270000
SG15 148000
SG18 195000
SG19 158000
SG3 255000
SG4 158500
SG6 176250
SG8 212500
SK1 120000
SK10 125000
SK11 112500
SK12 146500
SK13 115000
SK14 110000
SK17 184950
SK2 225500
SK22 160000
SK23 110000
SK4 118000
SK5 120550
SK6 127500
SK7 125000
SK8 205500
SK9 195000
SL1 201000
SL2 200000
SL3 231333
SL5 360000
SM1 282000
SM2 271500
SM4 317500
SM5 278500
SM6 270000
SM7 307500
SN1 131000
SN12 125000
SN15 153750
SN8 168500
SO14 169000
SO15 165500
SO17 142500
SO18 143000
SO19 140000
SO21 210000
SO23 271250
SO30 187500
SO31 196500
SO40 175000
SO41 268500
SO50 167000
SO51 190000
SO53 194000
SP10 140500
SP11 162500
SP2 176500
SR1 75000
SR5 100000
SR6 165000
SR7 51248
SS0 205000
SS1 185000
SS11 215000
SS15 211000
SS16 172500
SS17 200000
SS2 205000
SS3 220000
SS4 184000
SS6 190000
SS7 230000
SS9 264000
ST14 125750
ST15 131000
ST16 130000
ST3 71250
ST4 81000
ST6 65500
ST7 154542
SW16 390000
SW20 366250
SY1 113750
SY11 97500
SY13 100000
SY6 100000
SY7 133500
SY8 102475
TD15 83000
TF1 84500
TF11 175000
TF2 95250
TF3 95500
TN1 247500
TN11 210000
TN12 320000
TN13 350000
TN14 297500
TN15 187000
TN2 236000
TN22 215000
TN23 175000
TN25 210000
TN27 222500
TN3 250225
TN31 155000
TN32 191500
TN33 206975
TN34 165000
TN35 166975
TN37 163500
TN38 199538
TN39 235000
TN40 176500
TN5 370500
TN6 275000
TN8 218500
TN9 215000
TQ2 191750
TQ4 146000
TR1 180000
TR10 150000
TR11 260000
TR14 122500
TR15 101500
TR18 182000
TR27 222500
TR3 232500
TR7 270000
TR9 137000
TS10 56950
TS12 182500
TS15 145000
TS16 82500
TS17 72000
TS18 58500
TS24 54000
TS25 63950
TS7 70500
TW11 375000
TW12 364000
TW13 235000
TW15 267000
TW16 270000
TW17 304975
TW18 258000
TW19 275000
TW2 399000
TW20 275000
TW3 250000
TW7 348120
UB2 295000
UB3 310000
UB6 272800
UB7 263750
UB9 322500
W13 387000
W3 350000
W7 395000
WA1 98750
WA11 58000
WA12 115000
WA14 236750
WA15 162975
WA16 135000
WA2 106000
WA3 102000
WA5 120500
WA6 163500
WA7 90000
WA8 93000
WA9 85000
WD17 302000
WD19 320000
WD24 227000
WD25 240000
WD3 331000
WD4 248000
WD6 311000
WD7 347475
WF1 112500
WF10 80000
WF13 59500
WF14 76000
WF3 115000
WF7 71000
WF8 89000
WF9 82500
WN1 124950
WN5 93500
WN8 62500
WS1 81250
WS10 103500
WS11 120000
WS12 112500
WS13 144000
WS14 149500
WS15 95000
WS2 85000
WS3 110000
WV1 106250
WV14 70000
WV8 182257
YO15 94950
YO24 220998
YO25 91250
YO26 160000

In [13]:
maxmedprice=0
for postcode in list(lastdfdict.keys()):
    medprice=lastdfdict[postcode]["Median Price"]
    if medprice>maxmedprice:
        maxmedprice=medprice
print("maxprice",maxmedprice)
maxbusinesses=0
for postcode in list(lastdfdict.keys()):
    businessdens=lastdfdict[postcode]["Businesses per Hectere"]
    if businessdens>maxbusinesses:
        maxbusinesses=businessdens
print("maxbusinesses",maxbusinesses)
maxdeprank=0
for postcode in list(lastdfdict.keys()):
    deprank=lastdfdict[postcode]["Deprivation Rank"]
    if deprank>maxdeprank:
        maxdeprank=deprank
print("maxdep",maxdeprank)
maxcrimerank=0
for postcode in list(lastdfdict.keys()):
    crimerank=lastdfdict[postcode]["Crimes per 1000"]
    if crimerank>maxcrimerank:
        maxcrimerank=crimerank
print("maxcrime",maxcrimerank)
maxtimerank=0
for postcode in list(lastdfdict.keys()):
    timerank=lastdfdict[postcode]["Median Time"]
    if timerank>maxtimerank:
        maxtimerank=timerank
print("maxtime",maxtimerank)

maxprice 399000
maxbusinesses 0.9714345725687881
maxdep 30960.0
maxcrime 0.18665289136780047
maxtime 595

In [27]:
lastdfdict["KT1"]

{'Median Price': 405000,
 'Median Time': 54,
 'local authority': 'Kingston upon Thames',
 'Median Price over Median Area (Kingston Only)': 6982.758620689655,
 'Population': 160060,
 'Deprivation Rank': 24742.0,
 'Postcode Median Price Relative to 2hr Radius Median Price': 1.4516129032258065,
 'Postcode Median Time Relative to 2hr Radius Median Time': 1.0,
 'Retail Count': 1105.0,
 'Crime Count': 11776,
 'Area': 3725.93,
 'Deprivation Score Relative to Nation Median': 1.257726718178121,
 'Crimes per 1000': 0.0735724103461202,
 'Crime rate relative to National Median': 0.8908753249795753,
 'Businesses per Hectere': 0.2965702522591675,
 'Retail Score Relative to National Median': 3.120374254618747}

In [15]:
lastdfdict["KT6"]

{'Median Price': 396375,
 'Median Time': 43,
 'local authority': 'Kingston upon Thames',
 'Median Price over Median Area (Kingston Only)': 6982.758620689655,
 'Population': 160060,
 'Deprivation Rank': 24742.0,
 'Postcode Median Price Relative to 2hr Radius Median Price': 2.3323036187113857,
 'Postcode Median Time Relative to 2hr Radius Median Time': 0.3359375,
 'Retail Count': 1105.0,
 'Crime Count': 12623,
 'Area': 3725.93,
 'Deprivation Score Relative to Nation Median': 1.4316630019673648,
 'Crimes per 1000': 0.07886417593402474,
 'Crime rate relative to National Median': 0.89675824831936,
 'Businesses per Hectere': 0.2965702522591675,
 'Retail Score Relative to National Median': 9.575059750183176}

In [16]:
for postcode in list(lastdfdict.keys()):
    price_score=(lastdfdict[postcode]['Median Price']/maxmedprice)**2
    # smaller is better
    retail_score=(lastdfdict[postcode]["Businesses per Hectere"]/maxbusinesses)
    # bigger is better
    deprivation_score=(lastdfdict[postcode]["Deprivation Rank"]/maxdeprank)**2
    # bigger is better
    crime_score=(lastdfdict[postcode]["Crimes per 1000"]/maxcrimerank)**1.25
    # smaller is better
    #time_score=(lastdfdict[postcode]["Median Time"]/maxtimerank)
    # smaller is better
    lastdfdict[postcode]["Total Score"]=(deprivation_score)/(price_score*crime_score)
    # bigger is better
outputdf=pd.DataFrame.from_dict(data=lastdfdict,orient="index")
outputdf=outputdf[["local authority","Median Price","Median Price over Median Area (Kingston Only)","Businesses per Hectere","Deprivation Rank","Crimes per 1000","Median Time","Total Score"]]
savedf=outputdf.sort_values(by="Total Score",ascending=False)
savedf.to_excel("revised_weighted_savedf_flats_national.xlsx")

In [17]:
savedf

,local authority,Median Price,Median Price over Median Area (Kingston Only),Businesses per Hectere,Deprivation Rank,Crimes per 1000,Median Time,Total Score
CW2,Cheshire East,63500,0.000000,0.010803,23617.5,0.060806,134,93.351920
WN8,West Lancashire,62500,0.000000,0.007997,20421.0,0.051931,538,87.749829
NG34,North Kesteven,89000,0.000000,0.002764,25367.0,0.042156,439,86.660118
LN4,North Kesteven,123500,0.000000,0.002764,25367.0,0.042156,479,45.005478
YO25,East Riding of Yorkshire,91250,0.000000,0.003813,21665.5,0.058672,525,39.780385
NG31,South Kesteven,93750,0.000000,0.004562,23011.0,0.061934,105,39.733426
CW4,Cheshire East,97500,0.000000,0.010803,23617.5,0.060806,155,39.596926
PO14,Fareham,122998,0.000000,0.028888,28052.0,0.056148,125,38.779778
BB7,Ribble Valley,138750,0.000000,0.004962,26132.5,0.041658,521,38.407082
GL11,Stroud,116750,0.000000,0.007677,25145.0,0.051818,423,38.231764
SY13,Cheshire East,100000,0.000000,0.010803,23617.5,0.060806,169,37.641828
YO15,East Riding of Yorkshire,94950,0.000000,0.003813,21665.5,0.058672,554,36.740477
LN6,North Kesteven,137500,0.000000,0.002764,25367.0,0.042156,152,36.307295
LA10,South Lakeland,112000,0.000000,0.003011,22759.0,0.049509,481,36.029051
IP22,South Norfolk,97500,0.000000,0.003906,21238.0,0.056632,122,34.997063
LE15,Rutland,141000,0.000000,0.004190,27558.0,0.047794,119,34.832286
CA14,Allerdale,59500,0.000000,0.002009,15193.5,0.077835,548,32.318472
DN17,North Lincolnshire,60000,0.000000,0.004665,16116.0,0.086547,192,31.317160
PR4,South Ribble,69950,0.000000,0.028792,21612.5,0.111043,363,30.346501
SK11,Cheshire East,112500,0.000000,0.010803,23617.5,0.060806,161,29.741691
PO16,Fareham,144000,0.000000,0.028888,28052.0,0.056148,118,28.292833
DE21,Erewash,82500,0.000000,0.024628,19362.0,0.075945,410,28.151744
OX7,West Oxfordshire,152500,0.000000,0.004969,27987.0,0.051451,437,28.006991
CH65,Cheshire West and Chester,81000,0.000000,0.010147,20426.0,0.086585,521,27.588790
ST16,Stafford,130000,0.000000,0.006186,23150.5,0.049760,125,27.496304
NE23,Northumberland,71000,0.000000,0.001585,15887.0,0.071883,482,27.410857
ST15,Stafford,131000,0.000000,0.006186,23150.5,0.049760,506,27.078116
IP6,Mid Suffolk,133500,0.000000,0.002813,20717.0,0.040845,100,26.724021
RH17,Mid Sussex,175000,0.000000,0.017064,29060.0,0.045760,59,26.548767
DE7,Erewash,85000,0.000000,0.024628,19362.0,0.075945,193,26.520112
GL5,Stroud,141000,0.000000,0.007677,25145.0,0.051818,127,26.211983
DN14,East Riding of Yorkshire,112500,0.000000,0.003813,21665.5,0.058672,378,26.171565
HU15,East Riding of Yorkshire,112500,0.000000,0.003813,21665.5,0.058672,193,26.171565
L39,West Lancashire,114750,0.000000,0.007997,20421.0,0.051931,498,26.031604
SN12,Wiltshire,125000,0.000000,0.004024,22228.0,0.052803,124,25.456540
LA9,South Lakeland,133500,0.000000,0.003011,22759.0,0.049509,538,25.358662
WS13,Lichfield,144000,0.000000,0.008452,23437.0,0.046158,116,25.229354
PR7,Chorley,105000,0.000000,0.017496,22186.5,0.072073,467,24.362356
BA12,Wiltshire,127950,0.000000,0.004024,22228.0,0.052803,159,24.296226
SK10,Cheshire East,125000,0.000000,0.010803,23617.5,0.060806,491,24.090770
GL20,Tewkesbury,143000,0.000000,0.005663,24687.0,0.053440,177,23.635946
TS18,Stockton-on-Tees,58500,0.000000,0.018357,15861.5,0.110088,411,23.623166
PE7,Huntingdonshire,126500,0.000000,0.004712,23828.0,0.061838,105,23.445742
WS14,Lichfield,149500,0.000000,0.008452,23437.0,0.046158,246,23.407161
LE18,Oadby and Wigston,123000,0.000000,0.070135,24689.5,0.068934,125,23.244114
NG24,Newark and Sherwood,90000,0.000000,0.005753,17792.5,0.068256,125,22.826885
HU17,East Riding of Yorkshire,121250,0.000000,0.003813,21665.5,0.058672,425,22.530521
HU16,East Riding of Yorkshire,121500,0.000000,0.003813,21665.5,0.058672,270,22.437898
BS35,South Gloucestershire,126500,0.000000,0.009781,24052.0,0.065335,403,22.300907
SY11,Shropshire,97500,0.000000,0.003049,16829.0,0.056084,483,22.243034
DE65,South Derbyshire,122500,0.000000,0.006950,22448.5,0.062709,309,21.805893
SG4,North Hertfordshire,158500,0.000000,0.011055,24555.0,0.048342,65,21.574861
RG6,Wokingham,200500,0.000000,0.022630,30960.0,0.048115,77,21.560527
IP14,Mid Suffolk,148750,0.000000,0.002813,20717.0,0.040845,110,21.525358
BA13,Wiltshire,136500,0.000000,0.004024,22228.0,0.052803,269,21.347848
SY6,Shropshire,100000,0.000000,0.003049,16829.0,0.056084,488,21.144784
B37,Solihull,98000,0.000000,0.029167,22471.5,0.092048,123,21.131449
LE10,Hinckley and Bosworth,119750,0.000000,0.010762,22989.0,0.069282,123,21.127686
SK23,High Peak,110000,0.000000,0.005460,21025.0,0.069753,241,20.766793
WA16,Cheshire East,135000,0.000000,0.010803,23617.5,0.060806,454,20.653952
NE42,Northumberland,82500,0.000000,0.001585,15887.0,0.071883,523,20.301654
GU33,East Hampshire,155000,0.000000,0.007387,26017.5,0.057842,93,20.239544
NR13,Broadland,155750,0.000000,0.005874,23617.0,0.049203,447,20.217961
LA3,Lancaster,73000,0.000000,0.005887,15346.0,0.083144,595,20.169527
SY8,Shropshire,102475,0.000000,0.003049,16829.0,0.056084,382,20.135731
LA11,South Lakeland,150000,0.000000,0.003011,22759.0,0.049509,561,20.086596
TD15,Northumberland,83000,0.000000,0.001585,15887.0,0.071883,591,20.057792
L40,West Lancashire,131000,0.000000,0.007997,20421.0,0.051931,527,19.973939
CW12,Cheshire East,137500,0.000000,0.010803,23617.5,0.060806,509,19.909727
GL10,Stroud,162000,0.000000,0.007677,25145.0,0.051818,133,19.856746
BA14,Wiltshire,142000,0.000000,0.004024,22228.0,0.052803,162,19.726167
CB8,East Cambridgeshire,155000,0.000000,0.002992,22876.0,0.048725,127,19.388692
SG15,Central Bedfordshire,148000,0.000000,0.009851,25254.0,0.061577,69,19.342015
GU34,East Hampshire,158750,0.000000,0.007387,26017.5,0.057842,88,19.294639
WS15,Cannock Chase,95000,0.000000,0.034228,15241.0,0.056494,157,19.042146
SK13,High Peak,115000,0.000000,0.005460,21025.0,0.069753,515,19.000241
CB7,East Cambridgeshire,157500,0.000000,0.002992,22876.0,0.048725,153,18.778063
FY6,Wyre,104000,0.000000,0.012927,18376.0,0.067555,228,18.471386
RH15,Mid Sussex,210000,0.000000,0.017064,29060.0,0.045760,76,18.436643
DN21,West Lindsey,99500,0.000000,0.001771,17303.5,0.065983,478,18.427541
WA1,Warrington,98750,0.000000,0.030156,20932.0,0.091120,162,18.288069
RH5,Mole Valley,190000,0.000000,0.012388,27910.0,0.050799,91,18.231667
BS34,South Gloucestershire,140250,0.000000,0.009781,24052.0,0.065335,129,18.142529
L20,Sefton,65000,0.000000,0.035264,14354.0,0.098718,487,17.958127
BN26,Wealden,185000,0.000000,0.006518,23547.0,0.041117,114,17.829236
SK12,Cheshire East,146500,0.000000,0.010803,23617.5,0.060806,223,17.538621
CA1,Carlisle,64000,0.000000,0.002602,13685.5,0.095746,435,17.494338
SG6,North Hertfordshire,176250,0.000000,0.011055,24555.0,0.048342,62,17.448106
RH19,Mid Sussex,217000,0.000000,0.017064,29060.0,0.045760,75,17.266367
CH66,Cheshire West and Chester,102500,0.000000,0.010147,20426.0,0.086585,516,17.228797
CA7,Allerdale,82000,0.000000,0.002009,15193.5,0.077835,521,17.015983
SG19,Central Bedfordshire,158000,0.000000,0.009851,25254.0,0.061577,78,16.971138
B79,Tamworth,104500,0.000000,0.051863,16342.0,0.059664,110,16.899397
CW8,Cheshire West and Chester,103500,0.000000,0.010147,20426.0,0.086585,435,16.897482
SN15,Wiltshire,153750,0.000000,0.004024,22228.0,0.052803,110,16.826320
SS4,Rochford,184000,0.000000,0.009509,26973.0,0.054114,66,16.777306
RG31,West Berkshire,166250,0.000000,0.005609,25730.0,0.059556,82,16.589680
LE2,Oadby and Wigston,146000,0.000000,0.070135,24689.5,0.068934,110,16.497476
CW9,Cheshire West and Chester,104750,0.000000,0.010147,20426.0,0.086585,444,16.496607
ST14,East Staffordshire,125750,0.000000,0.007949,18804.0,0.056901,564,16.395353
SY1,Shropshire,113750,0.000000,0.003049,16829.0,0.056084,191,16.341821
CB6,East Cambridgeshire,169000,0.000000,0.002992,22876.0,0.048725,119,16.309420
SK17,Derbyshire Dales,184950,0.000000,0.003772,24271.0,0.046530,249,16.238359
CV21,Rugby,123000,0.000000,0.007778,21900.0,0.076013,90,16.184732
CV10,North Warwickshire,110500,0.000000,0.006508,18417.0,0.068517,116,16.147462
CW5,Cheshire East,153000,0.000000,0.010803,23617.5,0.060806,156,16.080067
WV8,South Staffordshire,182257,0.000000,0.006629,22572.5,0.042772,205,16.068535
LE13,Melton,137000,0.000000,0.003012,23050.5,0.070232,131,15.954719
CM21,East Hertfordshire,198000,0.000000,0.015452,27822.0,0.052728,73,15.923150
WA2,Warrington,106000,0.000000,0.030156,20932.0,0.091120,315,15.871951
CW11,Cheshire East,154000,0.000000,0.010803,23617.5,0.060806,148,15.871913
ST7,Cheshire East,154542,0.000000,0.010803,23617.5,0.060806,488,15.760778
SS6,Rochford,190000,0.000000,0.009509,26973.0,0.054114,58,15.734417
SR7,County Durham,51248,0.000000,0.005464,10170.0,0.092919,424,15.642060
DN15,North Lincolnshire,85000,0.000000,0.004665,16116.0,0.086547,256,15.604398
TS17,Stockton-on-Tees,72000,0.000000,0.018357,15861.5,0.110088,407,15.594981
DE14,East Staffordshire,129500,0.000000,0.007949,18804.0,0.056901,136,15.459563
SO50,Winchester,167000,0.000000,0.019363,27548.0,0.069806,95,15.453277
RG41,Wokingham,237500,0.000000,0.022630,30960.0,0.048115,99,15.366002
WF13,Kirklees,59500,0.000000,0.040019,12774.0,0.107194,492,15.312413
BN24,Wealden,200000,0.000000,0.006518,23547.0,0.041117,137,15.255140
YO26,York,160000,0.000000,0.019852,26576.5,0.071381,460,15.237637
SO31,Fareham,196500,0.000000,0.028888,28052.0,0.056148,134,15.194146
DE55,Bolsover,64000,0.000000,0.011850,11594.5,0.082237,415,15.186114
IP27,Breckland,99975,0.000000,0.002567,16169.5,0.068947,154,15.086941
SP11,Wiltshire,162500,0.000000,0.004024,22228.0,0.052803,98,15.063041
OX14,Vale of White Horse,189000,0.000000,0.009245,27315.0,0.058469,97,14.803440
RH16,Mid Sussex,235000,0.000000,0.017064,29060.0,0.045760,71,14.722607
RG17,West Berkshire,176500,0.000000,0.005609,25730.0,0.059556,100,14.718783
CO10,Babergh,162500,0.000000,0.004251,21179.5,0.050114,100,14.598674
M32,Trafford,125000,0.000000,0.103730,22972.5,0.087308,221,14.501676
SG8,South Cambridgeshire,212500,0.000000,0.004103,26928.5,0.048214,93,14.483811
TS10,Redcar and Cleveland,56950,0.000000,0.009851,11973.0,0.108635,451,14.440820
FY8,Fylde,141500,0.000000,0.016427,20378.0,0.059744,496,14.308127
RG45,Wokingham,247000,0.000000,0.022630,30960.0,0.048115,86,14.206733
SP10,Test Valley,140500,0.000000,0.008843,22828.0,0.073128,91,14.145319
DL14,County Durham,54125,0.000000,0.005464,10170.0,0.092919,553,14.023356
SN8,Wiltshire,168500,0.000000,0.004024,22228.0,0.052803,108,14.009402
LE11,Charnwood,129000,0.000000,0.019173,23469.0,0.088483,116,13.975688
B77,Tamworth,115250,0.000000,0.051863,16342.0,0.059664,122,13.893828
GL7,Cotswold,190000,0.000000,0.003821,23491.0,0.047948,112,13.882478
PE29,Huntingdonshire,165000,0.000000,0.004712,23828.0,0.061838,94,13.780886
OX29,West Oxfordshire,217500,0.000000,0.004969,27987.0,0.051451,123,13.768531
OX11,Vale of White Horse,196000,0.000000,0.009245,27315.0,0.058469,80,13.764933
CW7,Cheshire West and Chester,115000,0.000000,0.010147,20426.0,0.086585,182,13.686960
WS12,Cannock Chase,112500,0.000000,0.034228,15241.0,0.056494,347,13.578696
LU5,Central Bedfordshire,177000,0.000000,0.009851,25254.0,0.061577,74,13.523173
WV14,Dudley,70000,0.000000,0.085751,13347.0,0.098142,154,13.486256
GU9,Waverley,242000,0.000000,0.012747,28993.0,0.046836,76,13.423414
CV7,Solihull,123250,0.000000,0.029167,22471.5,0.092048,112,13.360034
S9,Sheffield,71500,0.000000,0.037779,13917.0,0.102559,188,13.301503
TN22,Wealden,215000,0.000000,0.006518,23547.0,0.041117,93,13.200770
SN1,Swindon,131000,0.000000,0.018471,20786.5,0.074958,101,13.080731
BS22,North Somerset,146000,0.000000,0.017799,22806.0,0.073300,177,13.036261
LE7,Charnwood,134500,0.000000,0.019173,23469.0,0.088483,130,12.856065
PR5,South Ribble,107750,0.000000,0.028792,21612.5,0.111043,481,12.789380
IP30,Babergh,173750,0.000000,0.004251,21179.5,0.050114,111,12.769401
SP2,Wiltshire,176500,0.000000,0.004024,22228.0,0.052803,109,12.768209
CB11,Uttlesford,180000,0.000000,0.004367,25771.5,0.064952,82,12.738817
PE19,Huntingdonshire,172500,0.000000,0.004712,23828.0,0.061838,87,12.608599
NE46,Northumberland,106000,0.000000,0.001585,15887.0,0.071883,541,12.297804
WA5,Warrington,120500,0.000000,0.030156,20932.0,0.091120,497,12.281968
PR25,South Ribble,110000,0.000000,0.028792,21612.5,0.111043,458,12.271529
PE11,South Holland,118000,0.000000,0.003066,16621.0,0.065821,512,12.126454
WS11,Cannock Chase,120000,0.000000,0.034228,15241.0,0.056494,196,11.934401
TR15,Cornwall,101500,0.000000,0.005495,12605.5,0.054528,485,11.927429
LA4,Lancaster,95000,0.000000,0.005887,15346.0,0.083144,524,11.909519
BN9,Lewes,170000,0.000000,0.010529,21316.0,0.055537,109,11.882825
TS16,Stockton-on-Tees,82500,0.000000,0.018357,15861.5,0.110088,451,11.877962
SY7,Shropshire,133500,0.000000,0.003049,16829.0,0.056084,488,11.864262
SG12,East Hertfordshire,230000,0.000000,0.015452,27822.0,0.052728,73,11.800590
LU7,Central Bedfordshire,190000,0.000000,0.009851,25254.0,0.061577,81,11.735941
GU12,Guildford,194750,0.000000,0.013657,27146.0,0.066532,75,11.716809
NG10,Erewash,128000,0.000000,0.024628,19362.0,0.075945,131,11.694812
RH12,Horsham,220000,0.000000,0.008004,26277.0,0.052163,83,11.661236
BA15,Wiltshire,185000,0.000000,0.004024,22228.0,0.052803,155,11.621868
SO30,Eastleigh,187500,0.000000,0.111975,26616.0,0.069122,112,11.585113
RH4,Mole Valley,238500,0.000000,0.012388,27910.0,0.050799,73,11.570625
CA11,Eden,140000,0.000000,0.000858,17195.5,0.055190,546,11.491764
RG19,West Berkshire,200000,0.000000,0.005609,25730.0,0.059556,83,11.463080
AL2,St Albans,230000,0.000000,0.039391,28912.0,0.058067,83,11.295928
CA28,Copeland,86975,0.000000,0.001547,12070.0,0.068028,563,11.295388
CH3,Cheshire West and Chester,126750,0.000000,0.010147,20426.0,0.086585,420,11.266960
DL1,Darlington,70000,0.000000,0.015192,12581.0,0.103710,205,11.184018
SG18,Central Bedfordshire,195000,0.000000,0.009851,25254.0,0.061577,78,11.141814
GL51,Cheltenham,161500,0.000000,0.078333,25247.0,0.083823,161,11.040989
RG14,West Berkshire,205000,0.000000,0.005609,25730.0,0.059556,95,10.910725
CV8,Rugby,150000,0.000000,0.007778,21900.0,0.076013,109,10.882614
KT22,Mole Valley,246500,0.000000,0.012388,27910.0,0.050799,66,10.831778
SO53,Eastleigh,194000,0.000000,0.111975,26616.0,0.069122,129,10.821797
GU7,Waverley,270000,0.000000,0.012747,28993.0,0.046836,68,10.783660
GU15,Surrey Heath,238500,0.000000,0.027342,29055.0,0.057601,101,10.716738
SO40,New Forest,175000,0.000000,0.007149,23349.0,0.067391,115,10.564359
RG30,West Berkshire,209000,0.000000,0.005609,25730.0,0.059556,72,10.497086
CM0,Maldon,172000,0.000000,0.004789,21163.5,0.059761,79,10.440821
SK4,Stockport,118000,0.000000,0.088067,18869.5,0.090894,180,10.440589
MK2,Milton Keynes,115000,0.000000,0.023329,20138.5,0.105727,95,10.364909
BS48,North Somerset,163750,0.000000,0.017799,22806.0,0.073300,162,10.363254
DN22,Bassetlaw,90000,0.000000,0.004691,14605.5,0.094229,137,10.279045
IP24,Breckland,121250,0.000000,0.002567,16169.5,0.068947,141,10.257004
KT10,Elmbridge,248750,0.000000,0.051903,29646.0,0.057742,56,10.225332
OX10,South Oxfordshire,253750,0.000000,0.006337,28203.0,0.051707,92,10.208953
BS23,North Somerset,165000,0.000000,0.017799,22806.0,0.073300,184,10.206830
SK1,Stockport,120000,0.000000,0.088067,18869.5,0.090894,159,10.095469
SK5,Stockport,120550,0.000000,0.088067,18869.5,0.090894,213,10.003560
PO22,Arun,134250,0.000000,0.020471,18096.0,0.071570,107,10.001388
GU10,Guildford,211000,0.000000,0.013657,27146.0,0.066532,81,9.981582
SK9,Cheshire East,195000,0.000000,0.010803,23617.5,0.060806,170,9.899232
BS37,South Gloucestershire,190000,0.000000,0.009781,24052.0,0.065335,198,9.885448
SK22,High Peak,160000,0.000000,0.005460,21025.0,0.069753,227,9.815554
LA23,South Lakeland,215000,0.000000,0.003011,22759.0,0.049509,551,9.777142
SO21,Winchester,210000,0.000000,0.019363,27548.0,0.069806,86,9.772709
TN3,Wealden,250225,0.000000,0.006518,23547.0,0.041117,72,9.745739
RH13,Horsham,241000,0.000000,0.008004,26277.0,0.052163,86,9.717529
L31,Sefton,88750,0.000000,0.035264,14354.0,0.098718,489,9.632767
NE66,Northumberland,120000,0.000000,0.001585,15887.0,0.071883,506,9.595703
GU16,Surrey Heath,253500,0.000000,0.027342,29055.0,0.057601,97,9.486008
RG12,Bracknell Forest,215000,0.000000,0.021027,25776.0,0.062347,85,9.400942
WF14,Kirklees,76000,0.000000,0.040019,12774.0,0.107194,488,9.385348
OX16,Cherwell,146000,0.000000,0.006964,21179.0,0.084995,101,9.343378
SK7,Stockport,125000,0.000000,0.088067,18869.5,0.090894,214,9.303985
PL12,Cornwall,115000,0.000000,0.005495,12605.5,0.054528,483,9.291444
CH2,Cheshire West and Chester,140000,0.000000,0.010147,20426.0,0.086585,301,9.235207
CM23,East Hertfordshire,260000,0.000000,0.015452,27822.0,0.052728,58,9.234485
RH20,Horsham,247475,0.000000,0.008004,26277.0,0.052163,99,9.215678
PE30,King's Lynn and West Norfolk,105000,0.000000,0.002783,13198.0,0.069020,148,9.100387
CO6,Braintree,143098,0.000000,0.005395,19672.0,0.079798,79,9.079828
SK6,Stockport,127500,0.000000,0.088067,18869.5,0.090894,234,8.942700
B90,Solihull,150750,0.000000,0.029167,22471.5,0.092048,175,8.930315
B92,Solihull,151000,0.000000,0.029167,22471.5,0.092048,142,8.900769
B78,North Warwickshire,151400,0.000000,0.006508,18417.0,0.068517,166,8.601557
TN15,Sevenoaks,187000,0.000000,0.009991,23036.0,0.069935,66,8.598107
SG14,East Hertfordshire,270000,0.000000,0.015452,27822.0,0.052728,78,8.563116
WA15,Trafford,162975,0.000000,0.103730,22972.5,0.087308,233,8.530928
RH6,Reigate and Banstead,222500,0.000000,0.030973,25682.0,0.063547,58,8.508758
NG17,Ashfield,82500,0.000000,0.026926,11654.0,0.087944,374,8.490318
CB10,Uttlesford,220500,0.000000,0.004367,25771.5,0.064952,102,8.489007
BR4,Bromley,190000,0.000000,0.061945,24247.0,0.074928,43,8.465329
BN6,Mid Sussex,310000,0.000000,0.017064,29060.0,0.045760,81,8.460520
MK45,Central Bedfordshire,225000,0.000000,0.009851,25254.0,0.061577,96,8.368740
KT12,Elmbridge,275000,0.000000,0.051903,29646.0,0.057742,57,8.366392
SG3,North Hertfordshire,255000,0.000000,0.011055,24555.0,0.048342,70,8.335395
TF1,Telford and Wrekin,84500,0.000000,0.014639,12646.5,0.098079,176,8.315607
CB22,South Cambridgeshire,280500,0.000000,0.004103,26928.5,0.048214,99,8.312564
PO21,Arun,148250,0.000000,0.020471,18096.0,0.071570,130,8.201616
PL14,Cornwall,122500,0.000000,0.005495,12605.5,0.054528,520,8.188545
TR14,Cornwall,122500,0.000000,0.005495,12605.5,0.054528,533,8.188545
LA1,Lancaster,115000,0.000000,0.005887,15346.0,0.083144,203,8.127290
CH63,Wirral,89500,0.000000,0.057454,12744.5,0.092660,477,8.082080
BN25,Lewes,206250,0.000000,0.010529,21316.0,0.055537,115,8.072901
TN6,Wealden,275000,0.000000,0.006518,23547.0,0.041117,84,8.068834
CM7,Braintree,152000,0.000000,0.005395,19672.0,0.079798,72,8.047436
YO24,York,220998,0.000000,0.019852,26576.5,0.071381,162,7.986949
PO9,Havant,125000,0.000000,0.032934,17112.5,0.088868,115,7.870633
PE38,King's Lynn and West Norfolk,112998,0.000000,0.002783,13198.0,0.069020,131,7.857727
CH42,Wirral,91000,0.000000,0.057454,12744.5,0.092660,483,7.817834
GU8,Waverley,318000,0.000000,0.012747,28993.0,0.046836,75,7.773910
SO51,Test Valley,190000,0.000000,0.008843,22828.0,0.073128,130,7.734962
KT19,Epsom and Ewell,269000,0.000000,0.076292,29613.5,0.063607,57,7.730944
KT17,Epsom and Ewell,270000,0.000000,0.076292,29613.5,0.063607,57,7.673784
GU21,Woking,242500,0.000000,0.104554,27122.0,0.066019,50,7.616705
WA11,St. Helens,58000,0.000000,0.031534,9412.0,0.120131,577,7.587075
RG7,West Berkshire,246000,0.000000,0.005609,25730.0,0.059556,86,7.576892
EX4,Exeter,156500,0.000000,0.068910,20147.0,0.083084,305,7.570691
NE20,Northumberland,135875,0.000000,0.001585,15887.0,0.071883,493,7.484455
CM3,Chelmsford,174000,0.000000,0.014432,23962.0,0.094457,63,7.379793
GL56,Cotswold,261500,0.000000,0.003821,23491.0,0.047948,128,7.328765
TN31,Rother,155000,0.000000,0.006478,15560.5,0.057745,99,7.254850
GU47,Bracknell Forest,245000,0.000000,0.021027,25776.0,0.062347,92,7.239626
NR28,North Norfolk,141000,0.000000,0.004040,13678.5,0.055084,451,7.186069
HP23,Dacorum,217000,0.000000,0.020708,22667.0,0.062790,74,7.073582

In [63]:
savedfkt=savedf[savedf.index.str.startswith("KT")].sort_values(by="Total Score",ascending=False).head()
savedfsw=savedf[savedf.index.str.startswith("SW")].sort_values(by="Total Score",ascending=False).head()
savedftw=savedf[savedf.index.str.startswith("TW")].sort_values(by="Total Score",ascending=False).head()
savedffinal=pd.concat([savedfkt,savedfsw,savedftw])
savedffinal

,local authority,Median Price,Businesses per Hectere,Deprivation Rank,Crimes per 1000,Median Time,Total Score
KT6,Kingston upon Thames,396375,0.296570,24742.0,0.073572,43,0.922222
KT1,Kingston upon Thames,405000,0.296570,24742.0,0.073572,54,0.718723
KT4,Epsom and Ewell,355000,0.076292,29613.5,0.061250,51,0.402333
KT7,Elmbridge,365000,0.051903,29646.0,0.055297,59,0.262063
KT8,Elmbridge,351000,0.051903,29646.0,0.055297,64,0.251225
SW14,Richmond upon Thames,451500,0.145541,27732.0,0.058538,45,0.634727
SW20,Merton,366250,0.198011,21836.0,0.064209,54,0.489982
SW15,Wandsworth,497500,0.319457,18736.0,0.082584,35,0.482602
SW19,Merton,444500,0.198011,21836.0,0.064209,49,0.444922
SW18,Wandsworth,514250,0.319457,18736.0,0.082584,38,0.430024
TW2,Richmond upon Thames,399000,0.145541,27732.0,0.058538,50,0.646419
TW1,Richmond upon Thames,412500,0.145541,27732.0,0.058538,53,0.589871
TW11,Richmond upon Thames,375000,0.145541,27732.0,0.058538,59,0.582873
TW12,Richmond upon Thames,364000,0.145541,27732.0,0.058538,61,0.580799
TW8,Hounslow,422500,0.189080,14130.5,0.092228,61,0.095616

In [17]:
savedf["Area"]=""
savedf["Sub-Area"]=""
savedf["Comment"]=""
savedf.loc["KT6","Area"]="Kingston"
savedf.loc["KT6","Sub-Area"]="Surbiton"
savedf.loc["KT6","Sub-Area"]="Surbiton"
savedf.loc["KT1","Area"]="Kingston"
savedf.loc["KT1","Sub-Area"]="Centre"
savedf.loc["SW14","Area"]="Kingston"
savedf.loc["SW14","Sub-Area"]="East Sheen"
savedf.loc["TW2","Area"]="Twickenham"
savedf.loc["TW2","Sub-Area"]="Whitton"
savedf.loc["TW1","Area"]="Twickenham"
savedf.loc["TW1","Sub-Area"]="Center"
savedf.loc["TW11","Area"]="Twickenham"
savedf.loc["TW11","Sub-Area"]="Teddington"
savedf.loc["TW12","Area"]="Twickenham"
savedf.loc["TW12","Sub-Area"]="Hampton"
#savedf.sort_values(by="Total Score",ascending=False)

In [30]:
savedf=savedf[savedf["Area"].str.len()>1]
savedf.sort_values(by="Total Score",ascending=False)

,local authority,Median Price,Businesses per Hectere,Deprivation Rank,Crimes per 1000,Median Time,Total Score,Area,Sub-Area
KT6,Kingston upon Thames,396375,0.296570,24742.0,0.073572,43,0.922222,Kingston,Surbiton
KT1,Kingston upon Thames,405000,0.296570,24742.0,0.073572,54,0.718723,Kingston,Centre
TW2,Richmond upon Thames,399000,0.145541,27732.0,0.058538,50,0.646419,Twickenham,Whitton
SW14,Richmond upon Thames,451500,0.145541,27732.0,0.058538,45,0.634727,Kingston,East Sheen
TW1,Richmond upon Thames,412500,0.145541,27732.0,0.058538,53,0.589871,Twickenham,Center
TW11,Richmond upon Thames,375000,0.145541,27732.0,0.058538,59,0.582873,Twickenham,Teddington
TW12,Richmond upon Thames,364000,0.145541,27732.0,0.058538,61,0.580799,Twickenham,Hampton

In [32]:
savedf.groupby('Area', as_index=False)['Total Score'].mean()

         Area  Total Score
0    Kingston     0.758557
1  Twickenham     0.599990

In [21]:
outputdf=outputdf[outputdf["local authority"]!="City of London"]
outputdf=outputdf[outputdf["local authority"]!="Westminster"]
outputdf[(outputdf["Median Time"]<75)].sort_values(by="Total Score",ascending=False)

,local authority,Median Price,Businesses per Hectere,Deprivation Rank,Crimes per 1000,Median Time,Total Score
SE20,Bromley,252500,0.061945,24247.0,0.072116,27,7.134760
CM13,Brentwood,276750,0.016653,26511.0,0.073341,34,5.260215
CM15,Brentwood,272000,0.016653,26511.0,0.073341,38,4.569036
BR7,Bromley,310000,0.061945,24247.0,0.072116,34,3.711558
SE9,Bromley,300000,0.061945,24247.0,0.072116,37,3.434256
KT19,Epsom and Ewell,265000,0.076292,29613.5,0.061250,57,3.227004
BR6,Bromley,320000,0.061945,24247.0,0.072116,38,2.995137
CM14,Brentwood,275000,0.016653,26511.0,0.073341,50,2.977826
CM23,East Hertfordshire,256250,0.015452,27822.0,0.051356,58,2.918367
GU22,Woking,262500,0.104554,27122.0,0.064326,55,2.896720
KT13,Elmbridge,331500,0.051903,29646.0,0.055297,50,2.813539
KT12,Elmbridge,290995,0.051903,29646.0,0.055297,57,2.810559
DA5,Bexley,260000,0.093290,21124.0,0.064143,41,2.769603
BR3,Bromley,345000,0.061945,24247.0,0.072116,39,2.573307
CR5,Reigate and Banstead,272994,0.030973,25682.0,0.059767,54,2.517320
KT8,Elmbridge,280000,0.051903,29646.0,0.055297,64,2.502801
SM6,Sutton,270000,0.133416,23157.0,0.067485,48,2.482894
KT4,Epsom and Ewell,355000,0.076292,29613.5,0.061250,51,2.459137
AL5,St Albans,320000,0.039391,28912.0,0.056823,55,2.445616
TW19,Windsor and Maidenhead,260000,0.030238,29651.0,0.068262,71,2.394596
DA15,Bexley,297000,0.093290,21124.0,0.064143,40,2.354121
GU7,Waverley,267500,0.012747,28993.0,0.045520,68,2.340660
SE16,Southwark,406500,0.564781,9405.0,0.109743,10,2.331459
BR1,Bromley,328000,0.061945,24247.0,0.072116,44,2.316473
KT17,Epsom and Ewell,335000,0.076292,29613.5,0.061250,57,2.270393
BR2,Bromley,300000,0.061945,24247.0,0.072116,49,2.253415
BR8,Sevenoaks,257500,0.009991,23036.0,0.069987,54,2.210847
SM5,Sutton,285000,0.133416,23157.0,0.067485,50,2.153493
KT22,Mole Valley,280000,0.012388,27910.0,0.048914,66,2.118204
CR3,Tandridge,280000,0.010677,24245.5,0.059724,55,2.101272
RH4,Mole Valley,258500,0.012388,27910.0,0.048914,72,2.095710
GU1,Guildford,305000,0.013657,27146.0,0.064614,59,2.085379
DA7,Bexley,262475,0.093290,21124.0,0.064143,50,2.027526
SW14,Richmond upon Thames,421500,0.145541,27732.0,0.058538,45,2.011168
CR4,Merton,285000,0.198011,21836.0,0.064209,49,1.973721
KT6,Kingston upon Thames,387500,0.296570,24742.0,0.073572,43,1.944287
KT7,Elmbridge,360000,0.051903,29646.0,0.055297,59,1.939552
KT9,Kingston upon Thames,286000,0.296570,24742.0,0.073572,59,1.907847
KT5,Kingston upon Thames,317000,0.296570,24742.0,0.073572,54,1.867201
RM3,Havering,265000,0.064653,20074.0,0.071774,49,1.860399
TW2,Richmond upon Thames,400000,0.145541,27732.0,0.058538,50,1.857456
SM2,Sutton,282500,0.133416,23157.0,0.067485,56,1.841009
E14,Tower Hamlets,435000,0.644210,8648.0,0.130034,10,1.780732
TN13,Sevenoaks,350000,0.009991,23036.0,0.069987,46,1.774502
TW1,Richmond upon Thames,391000,0.145541,27732.0,0.058538,53,1.761102
SG3,North Hertfordshire,255000,0.011055,24555.0,0.046675,70,1.727124
SG13,East Hertfordshire,297330,0.015452,27822.0,0.051356,71,1.723980
SM7,Reigate and Banstead,307500,0.030973,25682.0,0.059767,62,1.711605
WD3,Three Rivers,395000,0.038278,28666.0,0.051926,56,1.706309
RM11,Havering,261500,0.064653,20074.0,0.071774,53,1.687126
SE14,Lewisham,325000,0.226540,9617.0,0.096718,16,1.684905
KT15,Runnymede,280750,0.033316,23339.0,0.081543,61,1.660318
GU8,Waverley,318000,0.012747,28993.0,0.045520,73,1.623538
KT21,Mole Valley,320000,0.012388,27910.0,0.048914,69,1.621893
IG3,Redbridge,345000,0.264911,17735.0,0.085712,35,1.619320
TW12,Richmond upon Thames,364000,0.145541,27732.0,0.058538,61,1.587876
AL1,St Albans,400000,0.039391,28912.0,0.056823,59,1.575032
N11,Barnet,319975,0.352670,20414.0,0.075542,47,1.543606
TW15,Spelthorne,255000,0.055706,20382.5,0.077366,59,1.537899
KT20,Reigate and Banstead,304500,0.030973,25682.0,0.059767,69,1.479463
SE10,Greenwich,376400,0.167503,11892.0,0.104511,20,1.479079
WD6,Hertsmere,311000,0.043509,21427.5,0.073427,54,1.441162
RH2,Reigate and Banstead,305500,0.030973,25682.0,0.059767,70,1.440771
TW11,Richmond upon Thames,405000,0.145541,27732.0,0.058538,59,1.422338
KT1,Kingston upon Thames,405000,0.296570,24742.0,0.073572,54,1.292997
HA1,Harrow,325000,0.231847,20044.0,0.065089,51,1.286144
HA2,Harrow,267500,0.231847,20044.0,0.065089,62,1.284981
RH8,Tandridge,423000,0.010677,24245.5,0.059724,51,1.267353
TW16,Spelthorne,265000,0.055706,20382.5,0.077366,65,1.255386
SW20,Merton,350000,0.198011,21836.0,0.064209,54,1.253587
EN5,Barnet,339000,0.352670,20414.0,0.075542,51,1.252283
SM1,Sutton,310000,0.133416,23157.0,0.067485,67,1.223801
HP4,Dacorum,306000,0.020708,22667.0,0.060802,66,1.222901
E15,Newham,340000,0.432914,8403.0,0.110165,16,1.202185
NW4,Barnet,395000,0.352670,20414.0,0.075542,45,1.201276
CR2,Croydon,282500,0.147418,13892.0,0.090770,38,1.185298
SE18,Greenwich,286000,0.167503,11892.0,0.104511,31,1.157229
SE7,Greenwich,370000,0.167503,11892.0,0.104511,24,1.154493
SM4,Merton,360000,0.198011,21836.0,0.064209,56,1.137919
GU4,Guildford,386000,0.013657,27146.0,0.064614,70,1.133404
NW2,Barnet,380000,0.352670,20414.0,0.075542,49,1.120438
SE25,Croydon,279000,0.147418,13892.0,0.090770,40,1.118238
EN6,Welwyn Hatfield,291750,0.021229,20388.0,0.074230,64,1.112920
SE15,Lewisham,432500,0.226540,9617.0,0.096718,16,1.097542
SE19,Croydon,342500,0.147418,13892.0,0.090770,33,1.097157
KT3,Merton,425000,0.198011,21836.0,0.064209,49,1.083851
NW7,Barnet,383750,0.352670,20414.0,0.075542,50,1.071099
TN12,Tonbridge and Malling,340000,0.012242,22360.5,0.069393,64,1.064084
AL9,Welwyn Hatfield,304954,0.021229,20388.0,0.074230,64,1.041427
SW19,Merton,445000,0.198011,21836.0,0.064209,49,1.011610
WD17,Watford,294750,0.244978,18834.0,0.087230,62,0.980885
CR7,Croydon,260000,0.147418,13892.0,0.090770,47,0.975942
SS9,Southend-on-Sea,260000,0.095043,14923.0,0.115330,52,0.967717
TW17,Spelthorne,299950,0.055706,20382.5,0.077366,69,0.953167
SE5,Southwark,414500,0.564781,9405.0,0.109743,18,0.937612
SE2,Greenwich,260000,0.167503,11892.0,0.104511,40,0.910879
TN5,Wealden,370500,0.006518,23547.0,0.039291,70,0.906865
EN11,Broxbourne,266500,0.062206,17914.0,0.067130,68,0.898622
SE23,Southwark,387000,0.564781,9405.0,0.109743,20,0.887375
UB7,Hillingdon,268500,0.110195,16368.0,0.084885,62,0.852096
CR8,Croydon,280000,0.147418,13892.0,0.090770,48,0.846120
SE8,Lewisham,319500,0.226540,9617.0,0.096718,26,0.834476
AL6,Welwyn Hatfield,310000,0.021229,20388.0,0.074230,74,0.817260
SE13,Lewisham,381000,0.226540,9617.0,0.096718,23,0.770196
UB3,Hillingdon,309500,0.110195,16368.0,0.084885,58,0.760956
TW13,Hounslow,270000,0.189080,14130.5,0.092228,55,0.753749
SE6,Lewisham,294998,0.226540,9617.0,0.096718,31,0.722452
HA4,Hillingdon,361000,0.110195,16368.0,0.084885,56,0.636721
SE17,Southwark,403000,0.564781,9405.0,0.109743,24,0.635249
UB2,Hounslow,300000,0.189080,14130.5,0.092228,56,0.626401
SE26,Southwark,352500,0.564781,9405.0,0.109743,29,0.584633
UB6,Ealing,272800,0.328578,13161.0,0.085809,59,0.579474
E10,Waltham Forest,390000,0.350423,11134.0,0.086258,34,0.554611
HA3,Brent,280000,0.442914,12061.0,0.089902,53,0.549689
HA5,Hillingdon,367500,0.110195,16368.0,0.084885,62,0.532131
SE3,Greenwich,415000,0.167503,11892.0,0.104511,36,0.529036
E4,Waltham Forest,259750,0.350423,11134.0,0.086258,53,0.524272
W13,Ealing,281250,0.328578,13161.0,0.085809,62,0.513869
UB9,Hillingdon,408750,0.110195,16368.0,0.084885,58,0.501376
E11,Waltham Forest,370000,0.350423,11134.0,0.086258,39,0.488544
SE27,Lambeth,425000,0.379988,10620.5,0.105534,32,0.485828
HA9,Brent,312500,0.442914,12061.0,0.089902,53,0.466207
N17,Haringey,280000,0.381679,9598.0,0.113480,45,0.444945
SW16,Lambeth,378500,0.379988,10620.5,0.105534,40,0.413621
W3,Ealing,390000,0.328578,13161.0,0.085809,52,0.409710
N15,Haringey,321000,0.381679,9598.0,0.113480,42,0.402005
HA0,Brent,300000,0.442914,12061.0,0.089902,63,0.382450
E7,Newham,357500,0.432914,8403.0,0.110165,34,0.359946
EN4,Enfield,280500,0.169120,9993.0,0.092493,55,0.356000
TW8,Hounslow,420000,0.189080,14130.5,0.092228,61,0.332619
TW7,Hounslow,361620,0.189080,14130.5,0.092228,71,0.331551
SE21,Southwark,398500,0.564781,9405.0,0.109743,38,0.324266
W7,Ealing,395000,0.328578,13161.0,0.085809,61,0.316365
E5,Hackney,302402,0.971435,7034.0,0.124822,35,0.310404
E17,Waltham Forest,416501,0.350423,11134.0,0.086258,47,0.309195
SE24,Southwark,438750,0.564781,9405.0,0.109743,36,0.304396
EN2,Enfield,280000,0.169120,9993.0,0.092493,63,0.291169
EN1,Enfield,300000,0.169120,9993.0,0.092493,61,0.275560
N22,Haringey,355500,0.381679,9598.0,0.113480,50,0.265551
N13,Enfield,383000,0.169120,9993.0,0.092493,49,0.265339
N4,Islington,430000,1.026390,9162.0,0.119830,43,0.228074
N21,Enfield,385000,0.169120,9993.0,0.092493,55,0.221390
N16,Hackney,446500,0.971435,7034.0,0.124822,41,0.136458

In [12]:
outputdf[(outputdf["Postcode Median Price Relative to 2hr Radius Median Price"]<1) & (outputdf["Postcode Median Time Relative to 2hr Radius Median Time"]<1)].sort_values(by="Total Score",ascending=False)["local authority"].to_dict()

{'IG1': 'Redbridge',
 'KT9': 'Kingston upon Thames',
 'CR4': 'Merton',
 'WD19': 'Watford',
 'SE18': 'Greenwich',
 'IG11': 'Barking and Dagenham',
 'SM6': 'Sutton',
 'SM5': 'Sutton',
 'GU21': 'Woking',
 'CR0': 'Croydon',
 'SE2': 'Greenwich',
 'RM9': 'Barking and Dagenham',
 'DA17': 'Bexley',
 'DA8': 'Bexley',
 'SE25': 'Croydon',
 'CR7': 'Croydon',
 'DA15': 'Bexley',
 'TW13': 'Hounslow',
 'UB2': 'Hounslow',
 'DA1': 'Bexley',
 'RM13': 'Havering',
 'N18': 'Enfield',
 'DA16': 'Bexley',
 'EN3': 'Enfield',
 'LU1': 'Luton',
 'DA7': 'Bexley',
 'N9': 'Enfield',
 'BR1': 'Bromley',
 'UB3': 'Hillingdon',
 'RG1': 'Reading',
 'UB7': 'Hillingdon',
 'RM3': 'Havering',
 'SG1': 'Stevenage',
 'SS9': 'Southend-on-Sea',
 'SS0': 'Southend-on-Sea',
 'EN8': 'Broxbourne',
 'EN10': 'Broxbourne',
 'EN11': 'Broxbourne',
 'SS15': 'Basildon',
 'SS16': 'Basildon',
 'CM20': 'Harlow',
 'SS7': 'Castle Point',
 'RH6': 'Reigate and Banstead',
 'RH10': 'Crawley',
 'CM19': 'Harlow',
 'ME4': 'Medway',
 'RM19': 'Thurrock',
 'RM15': 'Thurrock',
 'ME2': 'Medway',
 'RM17': 'Thurrock',
 'RM18': 'Thurrock',
 'RM16': 'Thurrock',
 'CM23': 'East Hertfordshire',
 'CM1': 'Chelmsford',
 'SS11': 'Chelmsford',
 'SS17': 'Thurrock',
 'TN2': 'Tunbridge Wells',
 'TN9': 'Tonbridge and Malling',
 'CM3': 'Chelmsford',
 'SS6': 'Rochford',
 'TN12': 'Tonbridge and Malling',
 'SS4': 'Rochford',
 'SS5': 'Rochford',
 'SG6': 'North Hertfordshire',
 'BR8': 'Sevenoaks',
 'DA3': 'Sevenoaks',
 'CO5': 'Colchester',
 'TN15': 'Sevenoaks',
 'TN23': 'Ashford',
 'CM8': 'Braintree'}