Run this after in cmd after changing directory to curl.exe

curl -v -H "Accept: text/csv" -H "Authorization: Basic Y2FybC5kLmFpbnN3b3J0aEBnb29nbGVtYWlsLmNvbTpkZjdlMzIwODIxZDU2NjJmNDRmYjVkYmY0YjQyYTljYmU3ZTVkYmU3" -o KT1_2021_flat_data.csv "https://epc.opendatacommunities.org/api/v1/domestic/search?from-year=2022&to-year=2023&size=10000&from=25&property-type=flat&local-authority=E09000021"

# HERE IS SOME ADDED TEXT IN THE FORM OF MARKDOWN

In [1]:
import pandas as pd
import statistics
import os
from operator import *
pd.set_option('display.max_rows', None)
os.getcwd()

'C:\\Users\\Carl\\Housing'

In [2]:
dct={}
for year in range(2008,2021):
    df=pd.read_csv(str(os.getcwd())+"\\Data\\square footage\\KT1_"+str(year)+"_flat_data.csv",usecols=[1,2,3,4,31])
    dct[year]=df
flatsizesinkingston=pd.concat(dct.values())
flatsizesinkingston=flatsizesinkingston.reset_index()
flatsizesinkingston=flatsizesinkingston.drop(columns=["index"])
flatsizesinkingston[["total-floor-area"]].median().values[0]

,address1,address2,address3,postcode,total-floor-area
0,"45, Minstrel Gardens",NaN,NaN,KT5 8DX,37.93
1,Flat 8,Iron Gate Mews,Brighton Road,KT6 5NF,33.15
2,Flat 10 Argyle Mansions,"37, The Avenue",NaN,KT5 8JN,63.41
3,Flat 4,Iron Gate Mews,Brighton Road,KT6 5NF,34.65
4,Flat 5,Iron Gate Mews,Brighton Road,KT6 5NF,43.26

In [7]:
columns=["Transaction unique identifier","Price","Date of Transfer","Postcode","Property Type","Old/New","Duration","PAON","SAON","Street","Locality","Town/City","District","County","PPD Category Type","TBD"]
postcodes_with_train_times_df=pd.read_excel("C:\\Users\\Carl\\Housing\\postcodedfwithtimedf.xlsx")
pp2022=pd.read_csv("C:\\Users\\Carl\\Housing\\Data\\pp-2022.csv")
pp2022.columns=columns
postcodemappings=pd.read_csv(open("C:\\Users\\Carl\\Housing\\Data\\Postcode to LA.csv"),sep='\t',error_bad_lines=False)

deprivation_scores=pd.read_excel(open('C:\\Users\\Carl\\Housing\\Data\\Deprivation Scores.xlsx','rb'),"IMD2019")

retail_info=pd.read_excel(open('C:\\Users\\Carl\\Housing\\Data\\RetailInfo.xlsx','rb'),"Table 1",usecols=[1,7],skiprows=range(5))
retail_info=retail_info.dropna()
retail_info=retail_info.rename(columns={"Unnamed: 1":"Local Authority","47 : Retail":"Count"})
retail_info.set_index("Local Authority",inplace=True)
retail_infodict=retail_info.to_dict(orient="index")

crimedf=pd.read_excel(open("C:\\Users\\Carl\\Housing\\Data\\Crime Data.xlsx","rb"),"Table C3",skiprows=range(6))
crimedf.columns=[string.replace("\n","") for string in list(crimedf.columns)]
crimedf=crimedf[["Local Authority name","Total recorded crime (excluding fraud)"]]
crimedf.dropna(subset=["Local Authority name"],inplace=True)
crimedf=crimedf.set_index("Local Authority name")
crimedfdict=crimedf.to_dict(orient="index")

population_info=pd.read_excel(open('C:\\Users\\Carl\\Housing\\Data\\PopulationFigures.xlsx','rb'),"Ethnicity",usecols=[3,4],skiprows=range(6))
population_info=population_info.dropna()
population_info=population_info.rename(columns={" .1":"Local Authority","Number":"Population"})
population_info.set_index("Local Authority",inplace=True)
population_infodict=population_info.to_dict(orient="index")

areasizeinfo=pd.read_excel(open('C:\\Users\\Carl\\Housing\\Data\\SAM_LAD_DEC_2020_UK.xlsx','rb'),"SAM_LAD_2020",usecols=[1,2])
areasizeinfo=areasizeinfo.dropna()
areasizeinfo.rename(columns={"LAD20NM":"Local Authority","AREAEHECT":"Area (Hectares)"},inplace=True)
areasizeinfo.set_index("Local Authority",inplace=True)
areasizeinfodict=areasizeinfo.to_dict(orient="index")
areasizeinfodict["Hartlepool"]

medianflatsizeinkingstonla= 58.0

# House calculations

In [28]:
pd.set_option('display.max_rows', None)
#pp2020=pd.read_csv("C:\\Users\\Carl\\Housing\\Data\\pp-2020.csv")
#pp2020.columns=columns
#pp2021=pd.read_csv("C:\\Users\\Carl\\Housing\\Data\\pp-2021.csv")
#pp2021.columns=columns

print("shape of input df is",pp2022.shape)

pp2022['Property Type']=pp2022["Property Type"].str.replace("D","Detached")
pp2022['Property Type']=pp2022["Property Type"].str.replace("S","Semi-Detached")
pp2022['Property Type']=pp2022["Property Type"].str.replace("T","Terraced")
pp2022['Property Type']=pp2022["Property Type"].str.replace("F","Flat")
pp2022["Property Type"]=pp2022["Property Type"].str.replace("O","Other")

print("\nthis is the breakdown by house type across all areas\n",pp2022["Property Type"].value_counts())

hpp2022=pp2022[pp2022["Property Type"].isin(["Detached","Semi-Detached","Terraced"])]
print("\n houses sold since 2022\n",hpp2022.shape)

hpp2022.reset_index(inplace=True,drop=True)

hpp2022.dropna(subset=["Postcode"],inplace=True)
hpp2022.reset_index(inplace=True,drop=True)

hpp2022dict=hpp2022.to_dict(orient="index")
print(hpp2022dict[2])

for i in range(0,len(hpp2022)):
    try:
        postcode=list(hpp2022dict.get(i).items())[3][1]
        first_postcode=postcode.split(" ")[0]
        hpp2022dict[i]["First Postcode"]=first_postcode
    except:
        print(postcode)
print("\nHouse price dictionary since 2022 has",len(hpp2022dict.keys()),"keys\n")

hpp2022dictdf=pd.DataFrame.from_dict(hpp2022dict,orient="index")
print("\nHouse price dictionary df (with split postcode) since 2022 has",hpp2022dictdf.shape[0],"rows")


hpp2022dictdf['Month of Transfer'] = pd.DatetimeIndex(hpp2022dictdf['Date of Transfer']).month
hpp2022dictdf['Month of Transfer']=hpp2022dictdf['Month of Transfer'].replace(1,"January")
hpp2022dictdf['Month of Transfer']=hpp2022dictdf['Month of Transfer'].replace(2,"Febuary")
hpp2022dictdf['Month of Transfer']=hpp2022dictdf['Month of Transfer'].replace(3,"March")
hpp2022dictdf['Month of Transfer']=hpp2022dictdf['Month of Transfer'].replace(4,"April")
hpp2022dictdf['Month of Transfer']=hpp2022dictdf['Month of Transfer'].replace(5,"May")

unique_sold_first_postcodes=list(hpp2022dictdf["First Postcode"].unique())

print("\nthere are",len(unique_sold_first_postcodes),"postcodes that had a house sale in 2022\n")

singlesalepostcodes=hpp2022dictdf[hpp2022dictdf.groupby('First Postcode')['Price'].transform('size') == 1]
print("\nthere were",len(singlesalepostcodes["First Postcode"].unique()),"postcodes with a single sale in 2022\n")

hpp2022dictdf=hpp2022dictdf[hpp2022dictdf.groupby('First Postcode')['Price'].transform('size') > 1]
print("\nthere were",len(hpp2022dictdf["First Postcode"].unique()),"postcodes more than a single sale in 2022\n")

hpp2022dictdf["Price"]=hpp2022dictdf["Price"].astype(str)
hpp2022dictdfgrouped=hpp2022dictdf.groupby(['First Postcode'])['Price'].apply(','.join).reset_index()
hpp2022dictdfgrouped
hpp2022dictdfgrouped.rename(columns={"Price":"All Prices for First Postcode"},inplace=True)
hpp2022dictdfgrouped.drop_duplicates(subset=["First Postcode"],inplace=True)
hpp2022dictdfgrouped.reset_index(inplace=True,drop=True)
print("house prices grouped by postcode has",hpp2022dictdfgrouped.shape[0],"rows")



postcodes_with_train_times_df.drop(columns=["Unnamed: 0"],inplace=True)
print("splitting postcodes in train time df...")
postcodes_with_train_times_df["First Postcode"]="tbd"
for i in range(0,len(postcodes_with_train_times_df)):
    postcode=postcodes_with_train_times_df.loc[i]["postcode"]
    split_postcode=postcode.split(" ")
    postcodes_with_train_times_df.loc[postcodes_with_train_times_df['postcode'] == postcode, 'First Postcode'] = split_postcode[0]
postcodes_with_train_times_df.head()
postcodes_with_train_times_df=postcodes_with_train_times_df[postcodes_with_train_times_df["train time to work"]<120]
print("there are",len(postcodes_with_train_times_df),"postcodes with 120 minutes of work by train")

print("merging train time df with house prices grouped by first postcode...")
finaldf=pd.merge(hpp2022dictdfgrouped,postcodes_with_train_times_df[["First Postcode","train time to work"]],on="First Postcode")
print("Done")
finaldf["train time to work"]=finaldf["train time to work"].astype(str)
print("Joining finaldf train times into a single comma seperated string...")
commutedf=finaldf.groupby("First Postcode")['train time to work'].apply(','.join).reset_index()
#commutedf.set_index("First Postcode",inplace=True)
print("Done")
print("merging finaldf with commuter df ...")
commutedf=pd.merge(finaldf,commutedf,on="First Postcode")
print("Done")
commutedf.drop(columns="train time to work_x",inplace=True)
commutedf.rename(columns={"train time to work_y":"train time to work"},inplace=True)
commutedf.drop_duplicates("First Postcode",inplace=True)
commutedf.head()
commutedf.set_index("First Postcode",inplace=True)
print("putting commutedf into a dictionary...")
commutedict=commutedf.to_dict(orient="index")
print("Done")
#print(commutedict)
#hpp2022dictdfgrouped.head()

print("calculating the median prices and median times for each postcode")
for postcode,data in commutedict.items():
    data=commutedict.get(postcode)
    prices=data.get("All Prices for First Postcode").split(",")
    prices=[float(price) for price in prices]
    times=data.get("train time to work").split(",")
    times=[float(time) for time in times]
    mediantime=round(statistics.median(times))
    medianprice=round(statistics.median(prices))
    commutedict[postcode]['Median Price']=medianprice
    commutedict[postcode]['Median Time']=mediantime
print("Done")
print("putting the last df into a df to adjust index and drop columns")
lastdf=pd.DataFrame.from_dict(commutedict,orient="index")
lastdf.reset_index(inplace=True)
lastdf=lastdf[["index","Median Price","Median Time"]]
lastdf.set_index("index",inplace=True)
print("Done")
print("putting the last df back into a dict as the last step")
lastdfdict=lastdf.to_dict(orient="index")
print("Lastdf written to dict")
lastdfdict.get("E10")

postcodemappings.reset_index(inplace=True)
postcodemappings.set_index("index",inplace=True)
print("postcode df being written to df")
dict0=postcodemappings.to_dict(orient="index")
postcodeladict={}
print("postcode df dict being split to get first postcode")
for i in range(1,len(dict0.keys())):
    vals=list(dict0.get(i).values())
    for string in vals:
        PC=string.split(",")[1]
        LAV=string.split(",")[6]
        FPC=PC.split(" ")[0]
    postcodeladict[FPC]=LAV
postcodeladict.get("E10")
print("getting local authority for first postcode")
for postcode in list(lastdfdict.keys()):
    try:
        localauthority=postcodeladict[postcode]
        lastdfdict[postcode]["local authority"]=localauthority
    except:
        lastdfdict[postcode]["local authority"]="LA not known"
lastdfdict["E10"]

print("getting population for local authority")

for postcode in list(lastdfdict.keys()):
    try:
        localauthority=lastdfdict.get(postcode)["local authority"]
        population=list(population_infodict[localauthority].values())[0]
        lastdfdict[postcode]["Population"]=population
    except:
        lastdfdict[postcode]["Population"]="Population not known"
lastdfdict["E10"]


print("getting deprivation rank for local authority")

deprivation_scores_grouped=deprivation_scores.groupby('Local Authority District name (2019)')[["Index of Multiple Deprivation (IMD) Rank"]].median()
deprivation_scores_grouped.loc["Adur"][0]
alldepscores=[]
for postcode in list(lastdfdict.keys()):
    localauthority=lastdfdict[postcode]["local authority"]
    try:
        deprivationscore=deprivation_scores_grouped.loc[localauthority][0]
        alldepscores.append(deprivationscore)
        lastdfdict[postcode]["Deprivation Rank"]=deprivationscore
    except:
        lastdfdict[postcode]["Deprivation Rank"]="Deprivation Unknown"
lastdfdict["E10"]


print("getting median price for area relative to median price within 2 hrs of work")

allprices=[]
for postcode in list(lastdfdict.keys()):
    allprices.append(lastdfdict[postcode]["Median Price"])
allmedianprice=statistics.median(allprices)
for postcode in list(lastdfdict.keys()):
    lastdfdict[postcode]["Postcode Median Price Relative to 2hr Radius Median Price"]=lastdfdict[postcode]["Median Price"]/allmedianprice
lastdfdict["E10"]

alltimes=[]
for postcode in list(lastdfdict.keys()):
    alltimes.append(lastdfdict[postcode]["Median Time"])
allmediantime=statistics.median(alltimes)
for postcode in list(lastdfdict.keys()):
    lastdfdict[postcode]["Postcode Median Time Relative to 2hr Radius Median Time"]=lastdfdict[postcode]["Median Time"]/allmediantime
lastdfdict["E10"]


print("getting retail counts for each local authority")

for postcode in list(lastdfdict.keys()):
    localauthority=lastdfdict[postcode]["local authority"]
    try:
        retaildict=retail_infodict.get(localauthority)
        retailcount=list(retaildict.values())[0]
        lastdfdict[postcode]["Retail Count"]=retailcount
    except:
        lastdfdict[postcode]["Retail Count"]="Retail Count Unknown"
lastdfdict["E10"]


print("getting crime counts for local authority")

for postcode in list(lastdfdict.keys()):
    localauthority=lastdfdict[postcode]["local authority"]
    try:
        crimecount=list(crimedfdict.get(localauthority).values())[0]
        lastdfdict[postcode]["Crime Count"]=crimecount
    except:
        lastdfdict[postcode]["Crime Count"]="Crime Count Unknown"
lastdfdict["E10"]

print("getting area for local authority")

for postcode in list(lastdfdict.keys()):
    localauthority=lastdfdict[postcode]["local authority"]
    try:
        area=list(areasizeinfodict.get(localauthority).values())[0]
        lastdfdict[postcode]["Area"]=area
    except:
        lastdfdict[postcode]["Area"]="Area Unknown"
lastdfdict["E10"]





print("getting postcodes with any unknown values")


unknowndict={}
for postcode in list(lastdfdict.keys()):
    lanacount = 0
    if (lastdfdict[postcode]["local authority"]=="LA not known"):
        lanacount += 1
    popnacount = 0
    if (lastdfdict[postcode]["Population"]=="Population not known"):
        popnacount += 1
    dinacount = 0
    if (lastdfdict[postcode]["Deprivation Rank"]=="Deprivation Unknown"):
        dinacount += 1
    areanacount=0
    if (lastdfdict[postcode]["Area"]=="Area Unknown"):
        areanacount += 1
    ccnacount = 0
    if (lastdfdict[postcode]["Crime Count"]=="Crime Count Unknown"):
        ccnacount += 1
    retailnacount = 0
    if (lastdfdict[postcode]["Retail Count"]=="Retail Count Unknown"):
        retailnacount += 1
    if sum([lanacount,popnacount,dinacount,areanacount,ccnacount,retailnacount])>0:
        unknowndict[postcode]={"LA Unknown":lanacount,"Pop Unknown":popnacount,"DepInd Unknown":dinacount,"Area Unknown":areanacount,"CC Unknown":ccnacount,"Retail Unknown":retailnacount}
postcodes_to_drop=list(unknowndict.keys())

print("dropping any postcodes from lastdfdict with any NA values")

for postcode in list(lastdfdict.keys()):
    if postcode in postcodes_to_drop:
        del lastdfdict[postcode]
print(len(lastdfdict))


# Deprivation Rank compared to mean 

mediandepscore=statistics.median(alldepscores)
print(mediandepscore)
for postcode in list(lastdfdict.keys()):
    localauthority=lastdfdict[postcode]["local authority"]
    depscore=deprivation_scores_grouped.loc[localauthority][0]
    relativedepscore=depscore/mediandepscore
    lastdfdict[postcode]["Deprivation Score Relative to Nation Median"]=relativedepscore
lastdfdict["E10"]

# Total crimes per 1000 pop

for postcode in list(lastdfdict.keys()):
    relativecrimescore=lastdfdict[postcode]['Crime Count']/lastdfdict[postcode]['Population']
    lastdfdict[postcode]["Crimes per 1000"]=relativecrimescore
lastdfdict["E10"]

# LocAuth Crime rate compared to median Crime rate

allcrimerates=[]
for postcode in list(lastdfdict.keys()):
    allcrimerates.append(lastdfdict[postcode]["Crimes per 1000"])
allmediancrimes=statistics.median(allcrimerates)
for postcode in list(lastdfdict.keys()):
    lastdfdict[postcode]["Crime rate relative to National Median"]=lastdfdict[postcode]["Crimes per 1000"]/allmediancrimes
lastdfdict["E10"]


# Retail Businesses per Hectare

for postcode in list(lastdfdict.keys()):
    retailperhectare=lastdfdict[postcode]['Retail Count']/lastdfdict[postcode]['Area']
    lastdfdict[postcode]["Businesses per Hectere"]=retailperhectare
lastdfdict["E10"]

# LocAuth retail density compared to Median retail density

allretaildensity=[]
for postcode in list(lastdfdict.keys()):
    allretaildensity.append(lastdfdict[postcode]["Businesses per Hectere"])
allmedianretaildensity=statistics.median(allretaildensity)
for postcode in list(lastdfdict.keys()):
    lastdfdict[postcode]["Retail Score Relative to National Median"]=lastdfdict[postcode]["Businesses per Hectere"]/allmedianretaildensity
lastdfdict["E10"]

shape of input df is (105501, 16)

this is the breakdown by house type across all areas
 Terraced         32859
Semi-Detached    28638
Detached         21687
Flat             18063
Other             4254
Name: Property Type, dtype: int64

 houses sold since 2022
 (83184, 16)

C:\Users\Carl\Anaconda3\lib\site-packages\ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

{'Transaction unique identifier': '{DE2D0CDF-7EE2-51EE-E053-6C04A8C00671}', 'Price': 333000, 'Date of Transfer': '2022-03-23 00:00', 'Postcode': 'EX8 4QD', 'Property Type': 'Detached', 'Old/New': 'N', 'Duration': 'F', 'PAON': '11', 'SAON': nan, 'Street': 'MOUNT PLEASANT AVENUE', 'Locality': nan, 'Town/City': 'EXMOUTH', 'District': 'EAST DEVON', 'County': 'DEVON', 'PPD Category Type': 'A', 'TBD': 'A'}

House price dictionary since 2022 has 83175 keys


House price dictionary df (with split postcode) since 2022 has 83175 rows

there are 2200 postcodes that had a house sale in 2022


there were 26 postcodes with a single sale in 2022


there were 2174 postcodes more than a single sale in 2022

house prices grouped by postcode has 2174 rows
splitting postcodes in train time df...
there are 909 postcodes with 120 minutes of work by train
merging train time df with house prices grouped by first postcode...
Done
Joining finaldf train times into a single comma seperated string...
Done
merging finaldf with commuter df ...
Done
putting commutedf into a dictionary...
Done
calculating the median prices and median times for each postcode
Done
putting the last df into a df to adjust index and drop columns
Done
putting the last df back into a dict as the last step
Lastdf written to dict
postcode df being written to df
postcode df dict being split to get first postcode
getting local authority for first postcode
getting population for local authority
getting deprivation rank for local authority
getting median price for area relative to median price within 2 hrs of work
getting retail counts for each local authority
getting crime counts for local authority
getting area for local authority
getting postcodes with any unknown values
dropping any postcodes from lastdfdict with any NA values
482
20138.5

{'Median Price': 585000,
 'Median Time': 34,
 'local authority': 'Waltham Forest',
 'Population': 258249,
 'Deprivation Rank': 11134.0,
 'Postcode Median Price Relative to 2hr Radius Median Price': 1.2513368983957218,
 'Postcode Median Time Relative to 2hr Radius Median Time': 0.4927536231884058,
 'Retail Count': 1360.0,
 'Crime Count': 22276,
 'Area': 3881.02,
 'Deprivation Score Relative to Nation Median': 0.5528713657918911,
 'Crimes per 1000': 0.0862578364291827,
 'Crime rate relative to National Median': 1.1620365569408542,
 'Businesses per Hectere': 0.3504233423172259,
 'Retail Score Relative to National Median': 10.444107135100406}

In [30]:
lastdfdict={key:val for key,val in lastdfdict.items() if 400000<lastdfdict[key]["Median Price"]<550000}

In [32]:
lastdfdict.keys()

dict_keys(['BN12', 'BN14', 'BN18', 'BN2', 'BN42', 'BN43', 'BN8', 'BR1', 'BR5', 'CB1', 'CB10', 'CB11', 'CB22', 'CB4', 'CM1', 'CM12', 'CM13', 'CM14', 'CM21', 'CM22', 'CM23', 'CM24', 'CM3', 'CM77', 'CO5', 'CR0', 'CR2', 'CR3', 'CR4', 'CR7', 'CT10', 'CT4', 'CT5', 'DA15', 'DA16', 'DA5', 'DA7', 'E12', 'E14', 'E15', 'E4', 'E7', 'EN1', 'EN10', 'EN11', 'EN3', 'EN8', 'GL7', 'GU16', 'GU21', 'GU32', 'GU33', 'GU34', 'GU47', 'HA2', 'HA3', 'HP23', 'HP3', 'IG1', 'KT14', 'KT15', 'KT16', 'KT9', 'ME19', 'MK17', 'MK45', 'N17', 'N9', 'OX1', 'OX29', 'OX7', 'PO19', 'RG41', 'RG6', 'RG7', 'RG8', 'RH1', 'RH12', 'RH13', 'RH14', 'RH15', 'RH16', 'RH19', 'RH4', 'RH6', 'RH7', 'RM1', 'RM6', 'SE12', 'SE18', 'SE2', 'SE25', 'SE6', 'SE9', 'SG12', 'SG13', 'SG6', 'SG7', 'SG8', 'SL1', 'SM1', 'SM4', 'SM5', 'SM6', 'SN8', 'SN9', 'SO23', 'SS1', 'SS6', 'SS7', 'SS9', 'TN15', 'TN19', 'TN2', 'TN25', 'TN26', 'TN27', 'TN31', 'TN33', 'TN36', 'TN6', 'TN8', 'TN9', 'TW13', 'TW15', 'TW16', 'TW17', 'TW18', 'TW19', 'TW20', 'TW3', 'UB2', 'UB3', 'UB6', 'UB7', 'WD19', 'WD24', 'WD25'])

In [33]:
maxmedprice=0
for postcode in list(lastdfdict.keys()):
    medprice=lastdfdict[postcode]["Median Price"]
    if medprice>maxmedprice:
        maxmedprice=medprice
print("maxprice",maxmedprice)
maxbusinesses=0
for postcode in list(lastdfdict.keys()):
    businessdens=lastdfdict[postcode]["Businesses per Hectere"]
    if businessdens>maxbusinesses:
        maxbusinesses=businessdens
print("maxbusinesses",maxbusinesses)
maxdeprank=0
for postcode in list(lastdfdict.keys()):
    deprank=lastdfdict[postcode]["Deprivation Rank"]
    if deprank>maxdeprank:
        maxdeprank=deprank
print("maxdep",maxdeprank)
maxcrimerank=0
for postcode in list(lastdfdict.keys()):
    crimerank=lastdfdict[postcode]["Crimes per 1000"]
    if crimerank>maxcrimerank:
        maxcrimerank=crimerank
print("maxcrime",maxcrimerank)
maxtimerank=0
for postcode in list(lastdfdict.keys()):
    timerank=lastdfdict[postcode]["Median Time"]
    if timerank>maxtimerank:
        maxtimerank=timerank
print("maxtime",maxtimerank)

maxprice 549000
maxbusinesses 0.6442104482592415
maxdep 30960.0
maxcrime 0.13107179586544052
maxtime 119

In [34]:
for postcode in list(lastdfdict.keys()):
    price_score=(lastdfdict[postcode]['Median Price']/maxmedprice)
    # smaller is better
    retail_score=(lastdfdict[postcode]["Businesses per Hectere"]/maxbusinesses)
    # bigger is better
    deprivation_score=(lastdfdict[postcode]["Deprivation Rank"]/maxdeprank)**2
    # bigger is better
    crime_score=(lastdfdict[postcode]["Crimes per 1000"]/maxcrimerank)**1.25
    # smaller is better
    time_score=(lastdfdict[postcode]["Median Time"]/maxtimerank)
    # smaller is better
    lastdfdict[postcode]["Total Score"]=(deprivation_score*retail_score)/(time_score*price_score*crime_score)
    # bigger is better
outputdf=pd.DataFrame.from_dict(data=lastdfdict,orient="index")
outputdf=outputdf[["local authority","Median Price","Businesses per Hectere","Deprivation Rank","Crimes per 1000","Median Time","Total Score"]]
savedf=outputdf.sort_values(by="Total Score",ascending=False)
savedf.to_excel("revised_weighted_savedf_houses_within_120mins.xlsx")

# Flat calculations

In [16]:
columns=["Transaction unique identifier","Price","Date of Transfer","Postcode","Property Type","Old/New","Duration","PAON","SAON","Street","Locality","Town/City","District","County","PPD Category Type","TBD"]
postcodes_with_train_times_df=pd.read_excel("C:\\Users\\Carl\\Housing\\postcodedfwithtimedf.xlsx")
pp2022=pd.read_csv("C:\\Users\\Carl\\Housing\\Data\\pp-2022.csv")
pp2022.columns=columns
postcodemappings=pd.read_csv(open("C:\\Users\\Carl\\Housing\\Data\\Postcode to LA.csv"),sep='\t',error_bad_lines=False)

deprivation_scores=pd.read_excel(open('C:\\Users\\Carl\\Housing\\Data\\Deprivation Scores.xlsx','rb'),"IMD2019")

retail_info=pd.read_excel(open('C:\\Users\\Carl\\Housing\\Data\\RetailInfo.xlsx','rb'),"Table 1",usecols=[1,7],skiprows=range(5))
retail_info=retail_info.dropna()
retail_info=retail_info.rename(columns={"Unnamed: 1":"Local Authority","47 : Retail":"Count"})
retail_info.set_index("Local Authority",inplace=True)
retail_infodict=retail_info.to_dict(orient="index")

crimedf=pd.read_excel(open("C:\\Users\\Carl\\Housing\\Data\\Crime Data.xlsx","rb"),"Table C3",skiprows=range(6))
crimedf.columns=[string.replace("\n","") for string in list(crimedf.columns)]
crimedf=crimedf[["Local Authority name","Total recorded crime (excluding fraud)"]]
crimedf.dropna(subset=["Local Authority name"],inplace=True)
crimedf=crimedf.set_index("Local Authority name")
crimedfdict=crimedf.to_dict(orient="index")

population_info=pd.read_excel(open('C:\\Users\\Carl\\Housing\\Data\\PopulationFigures.xlsx','rb'),"Ethnicity",usecols=[3,4],skiprows=range(6))
population_info=population_info.dropna()
population_info=population_info.rename(columns={" .1":"Local Authority","Number":"Population"})
population_info.set_index("Local Authority",inplace=True)
population_infodict=population_info.to_dict(orient="index")

areasizeinfo=pd.read_excel(open('C:\\Users\\Carl\\Housing\\Data\\SAM_LAD_DEC_2020_UK.xlsx','rb'),"SAM_LAD_2020",usecols=[1,2])
areasizeinfo=areasizeinfo.dropna()
areasizeinfo.rename(columns={"LAD20NM":"Local Authority","AREAEHECT":"Area (Hectares)"},inplace=True)
areasizeinfo.set_index("Local Authority",inplace=True)
areasizeinfodict=areasizeinfo.to_dict(orient="index")
areasizeinfodict["Hartlepool"]

dct={}
for year in range(2008,2021):
    df=pd.read_csv(str(os.getcwd())+"\\Data\\square footage\\KT1_"+str(year)+"_flat_data.csv",usecols=[1,2,3,4,31])
    dct[year]=df
flatsizesinkingston=pd.concat(dct.values())
flatsizesinkingston=flatsizesinkingston.reset_index()
flatsizesinkingston=flatsizesinkingston.drop(columns=["index"])
medianflatsizeinkingstonla=flatsizesinkingston[["total-floor-area"]].median().values[0]
print("medianflatsizeinkingstonla=",medianflatsizeinkingstonla)

medianflatsizeinkingstonla= 58.0

In [17]:
pd.set_option('display.max_rows', None)
#pp2020=pd.read_csv("C:\\Users\\Carl\\Housing\\Data\\pp-2020.csv")
#pp2020.columns=columns
#pp2021=pd.read_csv("C:\\Users\\Carl\\Housing\\Data\\pp-2021.csv")
#pp2021.columns=columns

print("shape of input df is",pp2022.shape)

pp2022['Property Type']=pp2022["Property Type"].str.replace("D","Detached")
pp2022['Property Type']=pp2022["Property Type"].str.replace("S","Semi-Detached")
pp2022['Property Type']=pp2022["Property Type"].str.replace("T","Terraced")
pp2022['Property Type']=pp2022["Property Type"].str.replace("F","Flat")
pp2022["Property Type"]=pp2022["Property Type"].str.replace("O","Other")

print("\nthis is the breakdown by house type across all areas\n",pp2022["Property Type"].value_counts())

fpp2022=pp2022[pp2022["Property Type"]=="Flat"]
print("\n flats sold since 2022\n",fpp2022.shape)

fpp2022.reset_index(inplace=True,drop=True)

fpp2022.dropna(subset=["Postcode"],inplace=True)
fpp2022.reset_index(inplace=True,drop=True)

fpp2022dict=fpp2022.to_dict(orient="index")
print(fpp2022dict[2])

for i in range(0,len(fpp2022)):
    try:
        postcode=list(fpp2022dict.get(i).items())[3][1]
        first_postcode=postcode.split(" ")[0]
        fpp2022dict[i]["First Postcode"]=first_postcode
    except:
        print(postcode)
print("\nFlat price dictionary since 2022 has",len(fpp2022dict.keys()),"keys\n")

fpp2022dictdf=pd.DataFrame.from_dict(fpp2022dict,orient="index")
print("\nFlat price dictionary df (with split postcode) since 2022 has",fpp2022dictdf.shape[0],"rows")


fpp2022dictdf['Month of Transfer'] = pd.DatetimeIndex(fpp2022dictdf['Date of Transfer']).month
fpp2022dictdf['Month of Transfer']=fpp2022dictdf['Month of Transfer'].replace(1,"January")
fpp2022dictdf['Month of Transfer']=fpp2022dictdf['Month of Transfer'].replace(2,"Febuary")
fpp2022dictdf['Month of Transfer']=fpp2022dictdf['Month of Transfer'].replace(3,"March")
fpp2022dictdf['Month of Transfer']=fpp2022dictdf['Month of Transfer'].replace(4,"April")
fpp2022dictdf['Month of Transfer']=fpp2022dictdf['Month of Transfer'].replace(5,"May")

unique_sold_first_postcodes=list(fpp2022dictdf["First Postcode"].unique())

print("\nthere are",len(unique_sold_first_postcodes),"postcodes that had a flat sale in 2022\n")

singlesalepostcodes=fpp2022dictdf[fpp2022dictdf.groupby('First Postcode')['Price'].transform('size') == 1]
print("\nthere were",len(singlesalepostcodes["First Postcode"].unique()),"postcodes with a single sale in 2022\n")

fpp2022dictdf=fpp2022dictdf[fpp2022dictdf.groupby('First Postcode')['Price'].transform('size') > 1]
print("\nthere were",len(fpp2022dictdf["First Postcode"].unique()),"postcodes more than a single sale in 2022\n")

fpp2022dictdf["Price"]=fpp2022dictdf["Price"].astype(str)
fpp2022dictdfgrouped=fpp2022dictdf.groupby(['First Postcode'])['Price'].apply(','.join).reset_index()
fpp2022dictdfgrouped
fpp2022dictdfgrouped.rename(columns={"Price":"All Prices for First Postcode"},inplace=True)
fpp2022dictdfgrouped.drop_duplicates(subset=["First Postcode"],inplace=True)
fpp2022dictdfgrouped.reset_index(inplace=True,drop=True)
print("flat prices grouped by postcode has",fpp2022dictdfgrouped.shape[0],"rows")

fpp2022dictdfgrouped[fpp2022dictdfgrouped["First Postcode"]=="KT1"]["All Prices for First Postcode"].values

postcodes_with_train_times_df.drop(columns=["Unnamed: 0"],inplace=True)
print("splitting postcodes in train time df...")
postcodes_with_train_times_df["First Postcode"]="tbd"
for i in range(0,len(postcodes_with_train_times_df)):
    postcode=postcodes_with_train_times_df.loc[i]["postcode"]
    split_postcode=postcode.split(" ")
    postcodes_with_train_times_df.loc[postcodes_with_train_times_df['postcode'] == postcode, 'First Postcode'] = split_postcode[0]
postcodes_with_train_times_df.head()
postcodes_with_train_times_df=postcodes_with_train_times_df[postcodes_with_train_times_df["train time to work"]<75]
print("there are",len(postcodes_with_train_times_df),"postcodes with 120 minutes of work by train")

print("merging train time df with house prices grouped by first postcode...")
finaldf=pd.merge(fpp2022dictdfgrouped,postcodes_with_train_times_df[["First Postcode","train time to work"]],on="First Postcode")
print("Done")
finaldf["train time to work"]=finaldf["train time to work"].astype(str)
print("Joining finaldf train times into a single comma seperated string...")
commutedf=finaldf.groupby("First Postcode")['train time to work'].apply(','.join).reset_index()
#commutedf.set_index("First Postcode",inplace=True)
print("Done")
print("merging finaldf with commuter df ...")
commutedf=pd.merge(finaldf,commutedf,on="First Postcode")
print("Done")
commutedf.drop(columns="train time to work_x",inplace=True)
commutedf.rename(columns={"train time to work_y":"train time to work"},inplace=True)
commutedf.drop_duplicates("First Postcode",inplace=True)
commutedf.head()
commutedf.set_index("First Postcode",inplace=True)
print("putting commutedf into a dictionary...")
commutedict=commutedf.to_dict(orient="index")
print("Done")
#print(commutedict)
#hpp2022dictdfgrouped.head()

shape of input df is (105501, 16)

this is the breakdown by house type across all areas
 Terraced         32859
Semi-Detached    28638
Detached         21687
Flat             18063
Other             4254
Name: Property Type, dtype: int64

 flats sold since 2022
 (18063, 16)

C:\Users\Carl\Anaconda3\lib\site-packages\ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

{'Transaction unique identifier': '{DE2D0CDF-7F05-51EE-E053-6C04A8C00671}', 'Price': 370000, 'Date of Transfer': '2022-03-31 00:00', 'Postcode': 'EX8 1BG', 'Property Type': 'Flat', 'Old/New': 'N', 'Duration': 'L', 'PAON': '17', 'SAON': 'FLAT 1', 'Street': 'MORTON CRESCENT', 'Locality': nan, 'Town/City': 'EXMOUTH', 'District': 'EAST DEVON', 'County': 'DEVON', 'PPD Category Type': 'A', 'TBD': 'A'}

Flat price dictionary since 2022 has 18056 keys


Flat price dictionary df (with split postcode) since 2022 has 18056 rows

there are 1885 postcodes that had a flat sale in 2022


there were 245 postcodes with a single sale in 2022


there were 1640 postcodes more than a single sale in 2022

flat prices grouped by postcode has 1640 rows
splitting postcodes in train time df...
there are 573 postcodes with 120 minutes of work by train
merging train time df with house prices grouped by first postcode...
Done
Joining finaldf train times into a single comma seperated string...
Done
merging finaldf with commuter df ...
Done
putting commutedf into a dictionary...
Done

In [23]:
print("calculating the median prices and median times for each postcode")
for postcode,data in commutedict.items():
    data=commutedict.get(postcode)
    prices=data.get("All Prices for First Postcode").split(",")
    prices=[float(price) for price in prices]
    times=data.get("train time to work").split(",")
    times=[float(time) for time in times]
    mediantime=round(statistics.median(times))
    medianprice=round(statistics.median(prices))
    if postcode=="KT1":
        print(medianprice,postcode,"this is the median price for KT1")
    commutedict[postcode]['Median Price']=medianprice
    commutedict[postcode]['Median Time']=mediantime
print("Done")
print("putting the last df into a df to adjust index and drop columns")
lastdf=pd.DataFrame.from_dict(commutedict,orient="index")
lastdf.reset_index(inplace=True)
lastdf=lastdf[["index","Median Price","Median Time"]]
lastdf.set_index("index",inplace=True)
print("Done")
print("putting the last df back into a dict as the last step")
lastdfdict=lastdf.to_dict(orient="index")
print("Lastdf written to dict")
lastdfdict.get("E10")

postcodemappings.reset_index(inplace=True)
postcodemappings.set_index("index",inplace=True)
print("postcode df being written to df")
dict0=postcodemappings.to_dict(orient="index")
postcodeladict={}
print("postcode df dict being split to get first postcode")
for i in range(1,len(dict0.keys())):
    vals=list(dict0.get(i).values())
    for string in vals:
        PC=string.split(",")[1]
        LAV=string.split(",")[6]
        FPC=PC.split(" ")[0]
    postcodeladict[FPC]=LAV
postcodeladict.get("E10")
print("getting local authority for first postcode")
for postcode in list(lastdfdict.keys()):
    try:
        localauthority=postcodeladict[postcode]
        lastdfdict[postcode]["local authority"]=localauthority
    except:
        lastdfdict[postcode]["local authority"]="LA not known"
lastdfdict["E10"]

for postcode in list(lastdfdict.keys()):
    if "Kingston upon Thames" in lastdfdict[postcode]["local authority"]:
        lastdfdict[postcode]['Median Price over Median Area (Kingston Only)']=405000/medianflatsizeinkingstonla
        print(405000/medianflatsizeinkingstonla)
    else:
        lastdfdict[postcode]['Median Price over Median Area (Kingston Only)']=0


print("getting population for local authority")

for postcode in list(lastdfdict.keys()):
    try:
        localauthority=lastdfdict.get(postcode)["local authority"]
        population=list(population_infodict[localauthority].values())[0]
        lastdfdict[postcode]["Population"]=population
    except:
        lastdfdict[postcode]["Population"]="Population not known"
lastdfdict["E10"]


print("getting deprivation rank for local authority")

deprivation_scores_grouped=deprivation_scores.groupby('Local Authority District name (2019)')[["Index of Multiple Deprivation (IMD) Rank"]].median()
deprivation_scores_grouped.loc["Adur"][0]
alldepscores=[]
for postcode in list(lastdfdict.keys()):
    localauthority=lastdfdict[postcode]["local authority"]
    try:
        deprivationscore=deprivation_scores_grouped.loc[localauthority][0]
        alldepscores.append(deprivationscore)
        lastdfdict[postcode]["Deprivation Rank"]=deprivationscore
    except:
        lastdfdict[postcode]["Deprivation Rank"]="Deprivation Unknown"
lastdfdict["E10"]


print("getting median price for area relative to median price within 2 hrs of work")

allprices=[]
for postcode in list(lastdfdict.keys()):
    allprices.append(lastdfdict[postcode]["Median Price"])
allmedianprice=statistics.median(allprices)
for postcode in list(lastdfdict.keys()):
    lastdfdict[postcode]["Postcode Median Price Relative to 2hr Radius Median Price"]=lastdfdict[postcode]["Median Price"]/allmedianprice
lastdfdict["E10"]


alltimes=[]
for postcode in list(lastdfdict.keys()):
    alltimes.append(lastdfdict[postcode]["Median Time"])
allmediantime=statistics.median(alltimes)
for postcode in list(lastdfdict.keys()):
    lastdfdict[postcode]["Postcode Median Time Relative to 2hr Radius Median Time"]=lastdfdict[postcode]["Median Time"]/allmediantime
lastdfdict["E10"]


print("getting retail counts for each local authority")

for postcode in list(lastdfdict.keys()):
    localauthority=lastdfdict[postcode]["local authority"]
    try:
        retaildict=retail_infodict.get(localauthority)
        retailcount=list(retaildict.values())[0]
        lastdfdict[postcode]["Retail Count"]=retailcount
    except:
        lastdfdict[postcode]["Retail Count"]="Retail Count Unknown"
lastdfdict["E10"]


print("getting crime counts for local authority")

for postcode in list(lastdfdict.keys()):
    localauthority=lastdfdict[postcode]["local authority"]
    try:
        crimecount=list(crimedfdict.get(localauthority).values())[0]
        lastdfdict[postcode]["Crime Count"]=crimecount
    except:
        lastdfdict[postcode]["Crime Count"]="Crime Count Unknown"
lastdfdict["E10"]

print("getting area for local authority")

for postcode in list(lastdfdict.keys()):
    localauthority=lastdfdict[postcode]["local authority"]
    try:
        area=list(areasizeinfodict.get(localauthority).values())[0]
        lastdfdict[postcode]["Area"]=area
    except:
        lastdfdict[postcode]["Area"]="Area Unknown"
lastdfdict["E10"]





print("getting postcodes with any unknown values")


unknowndict={}
for postcode in list(lastdfdict.keys()):
    lanacount = 0
    if (lastdfdict[postcode]["local authority"]=="LA not known"):
        lanacount += 1
    popnacount = 0
    if (lastdfdict[postcode]["Population"]=="Population not known"):
        popnacount += 1
    dinacount = 0
    if (lastdfdict[postcode]["Deprivation Rank"]=="Deprivation Unknown"):
        dinacount += 1
    areanacount=0
    if (lastdfdict[postcode]["Area"]=="Area Unknown"):
        areanacount += 1
    ccnacount = 0
    if (lastdfdict[postcode]["Crime Count"]=="Crime Count Unknown"):
        ccnacount += 1
    retailnacount = 0
    if (lastdfdict[postcode]["Retail Count"]=="Retail Count Unknown"):
        retailnacount += 1
    if sum([lanacount,popnacount,dinacount,areanacount,ccnacount,retailnacount])>0:
        unknowndict[postcode]={"LA Unknown":lanacount,"Pop Unknown":popnacount,"DepInd Unknown":dinacount,"Area Unknown":areanacount,"CC Unknown":ccnacount,"Retail Unknown":retailnacount}
postcodes_to_drop=list(unknowndict.keys())

print("dropping any postcodes from lastdfdict with any NA values")

for postcode in list(lastdfdict.keys()):
    if postcode in postcodes_to_drop:
        del lastdfdict[postcode]
print(len(lastdfdict))


# Deprivation Rank compared to mean 

mediandepscore=statistics.median(alldepscores)
print(mediandepscore)
for postcode in list(lastdfdict.keys()):
    localauthority=lastdfdict[postcode]["local authority"]
    print(localauthority)
    depscore=deprivation_scores_grouped.loc[localauthority][0]
    relativedepscore=depscore/mediandepscore
    lastdfdict[postcode]["Deprivation Score Relative to Nation Median"]=relativedepscore
lastdfdict["E10"]

# Total crimes per 1000 pop

for postcode in list(lastdfdict.keys()):
    relativecrimescore=lastdfdict[postcode]['Crime Count']/lastdfdict[postcode]['Population']
    lastdfdict[postcode]["Crimes per 1000"]=relativecrimescore
lastdfdict["E10"]

# LocAuth Crime rate compared to median Crime rate

allcrimerates=[]
for postcode in list(lastdfdict.keys()):
    allcrimerates.append(lastdfdict[postcode]["Crimes per 1000"])
allmediancrimes=statistics.median(allcrimerates)
for postcode in list(lastdfdict.keys()):
    lastdfdict[postcode]["Crime rate relative to National Median"]=lastdfdict[postcode]["Crimes per 1000"]/allmediancrimes
lastdfdict["E10"]


# Retail Businesses per Hectare

for postcode in list(lastdfdict.keys()):
    retailperhectare=lastdfdict[postcode]['Retail Count']/lastdfdict[postcode]['Area']
    lastdfdict[postcode]["Businesses per Hectere"]=retailperhectare
lastdfdict["E10"]

# LocAuth retail density compared to Median retail density

allretaildensity=[]
for postcode in list(lastdfdict.keys()):
    allretaildensity.append(lastdfdict[postcode]["Businesses per Hectere"])
allmedianretaildensity=statistics.median(allretaildensity)
for postcode in list(lastdfdict.keys()):
    lastdfdict[postcode]["Retail Score Relative to National Median"]=lastdfdict[postcode]["Businesses per Hectere"]/allmedianretaildensity
lastdfdict["KT1"]

calculating the median prices and median times for each postcode
405000 KT1 this is the median price for KT1
Done
putting the last df into a df to adjust index and drop columns
Done
putting the last df back into a dict as the last step
Lastdf written to dict
postcode df being written to df
postcode df dict being split to get first postcode
getting local authority for first postcode
6982.758620689655
6982.758620689655
6982.758620689655
6982.758620689655
getting population for local authority
getting deprivation rank for local authority
getting median price for area relative to median price within 2 hrs of work
getting retail counts for each local authority
getting crime counts for local authority
getting area for local authority
getting postcodes with any unknown values
dropping any postcodes from lastdfdict with any NA values
293
19672.0
St Albans
St Albans
Welwyn Hatfield
Welwyn Hatfield
Welwyn Hatfield
Bromley
Bromley
Bromley
Bromley
Bromley
Bromley
Bromley
Sevenoaks
Uttlesford
Chelmsford
Basildon
Brentwood
Brentwood
Brentwood
Harlow
Harlow
East Hertfordshire
East Hertfordshire
Chelmsford
Braintree
Braintree
Braintree
Colchester
Colchester
Braintree
Croydon
Croydon
Tandridge
Merton
Reigate and Banstead
Croydon
Croydon
Folkestone and Hythe
Canterbury
Folkestone and Hythe
Bexley
Bexley
Bexley
Bexley
Sevenoaks
Sevenoaks
Bexley
Bexley
Bexley
Tower Hamlets
Waltham Forest
Waltham Forest
Newham
Tower Hamlets
Newham
Waltham Forest
Tower Hamlets
Hackney
Newham
Waltham Forest
Hackney
Newham
Hackney
Hackney
Islington
Islington
City of London
Enfield
Broxbourne
Broxbourne
Enfield
Enfield
Enfield
Barnet
Welwyn Hatfield
Broxbourne
Guildford
Guildford
Woking
Woking
Guildford
Guildford
Guildford
Waverley
Waverley
Brent
Harrow
Harrow
Brent
Hillingdon
Hillingdon
Brent
Dacorum
Dacorum
Dacorum
Redbridge
Barking and Dagenham
Redbridge
Kingston upon Thames
Elmbridge
Elmbridge
Elmbridge
Elmbridge
Woking
Runnymede
Runnymede
Epsom and Ewell
Epsom and Ewell
Reigate and Banstead
Mole Valley
Mole Valley
Merton
Epsom and Ewell
Kingston upon Thames
Kingston upon Thames
Elmbridge
Elmbridge
Kingston upon Thames
Luton
Central Bedfordshire
Central Bedfordshire
Tonbridge and Malling
Maidstone
Medway
Tonbridge and Malling
Medway
Tonbridge and Malling
Medway
Medway
Islington
Barnet
Enfield
Haringey
Hackney
Haringey
Enfield
Islington
Camden
Enfield
Haringey
Islington
Islington
Haringey
Enfield
Westminster
Brent
Barnet
Camden
Barnet
Camden
Brent
Barnet
Reading
West Berkshire
Tandridge
Crawley
Mid Sussex
Mid Sussex
Mid Sussex
Reigate and Banstead
Mole Valley
Reigate and Banstead
Tandridge
Havering
Havering
Havering
Havering
Thurrock
Thurrock
Thurrock
Thurrock
Thurrock
Havering
Havering
Redbridge
Barking and Dagenham
Southwark
Greenwich
Lewisham
Lewisham
Lewisham
Lewisham
Southwark
Southwark
Greenwich
Croydon
Greenwich
Bromley
Southwark
Southwark
Southwark
Southwark
Croydon
Southwark
Lambeth
Greenwich
Lewisham
Southwark
Lewisham
Greenwich
Lewisham
Bromley
Stevenage
East Hertfordshire
East Hertfordshire
Central Bedfordshire
North Hertfordshire
North Hertfordshire
North Hertfordshire
South Cambridgeshire
Slough
Slough
Sutton
Sutton
Merton
Sutton
Sutton
Reigate and Banstead
Southend-on-Sea
Southend-on-Sea
Chelmsford
Basildon
Basildon
Thurrock
Southend-on-Sea
Southend-on-Sea
Rochford
Rochford
Castle Point
Southend-on-Sea
Wandsworth
Wandsworth
Richmond upon Thames
Richmond upon Thames
Wandsworth
Lambeth
Wandsworth
Merton
Westminster
Lambeth
Merton
Lambeth
Kensington and Chelsea
Hammersmith and Fulham
Lambeth
Lambeth
Tunbridge Wells
Tonbridge and Malling
Tonbridge and Malling
Sevenoaks
Sevenoaks
Sevenoaks
Tunbridge Wells
Ashford
Ashford
Maidstone
Wealden
Wealden
Sevenoaks
Tonbridge and Malling
Richmond upon Thames
Richmond upon Thames
Richmond upon Thames
Hounslow
Spelthorne
Spelthorne
Spelthorne
Spelthorne
Windsor and Maidenhead
Richmond upon Thames
Hounslow
Hounslow
Hounslow
Richmond upon Thames
Hounslow
Hillingdon
Ealing
Hillingdon
Hillingdon
Hammersmith and Fulham
Ealing
Hammersmith and Fulham
Westminster
Ealing
Ealing
Ealing
Ealing
Watford
Watford
Three Rivers
Dacorum
Hertsmere
Hertsmere

{'Median Price': 405000,
 'Median Time': 54,
 'local authority': 'Kingston upon Thames',
 'Median Price over Median Area (Kingston Only)': 6982.758620689655,
 'Population': 160060,
 'Deprivation Rank': 24742.0,
 'Postcode Median Price Relative to 2hr Radius Median Price': 1.4516129032258065,
 'Postcode Median Time Relative to 2hr Radius Median Time': 1.0,
 'Retail Count': 1105.0,
 'Crime Count': 11776,
 'Area': 3725.93,
 'Deprivation Score Relative to Nation Median': 1.257726718178121,
 'Crimes per 1000': 0.0735724103461202,
 'Crime rate relative to National Median': 0.8908753249795753,
 'Businesses per Hectere': 0.2965702522591675,
 'Retail Score Relative to National Median': 3.120374254618747}

In [24]:
lastdfdict["E10"]

{'Median Price': 370000,
 'Median Time': 34,
 'local authority': 'Waltham Forest',
 'Median Price over Median Area (Kingston Only)': 0,
 'Population': 258249,
 'Deprivation Rank': 11134.0,
 'Postcode Median Price Relative to 2hr Radius Median Price': 1.3261648745519714,
 'Postcode Median Time Relative to 2hr Radius Median Time': 0.6296296296296297,
 'Retail Count': 1360.0,
 'Crime Count': 22276,
 'Area': 3881.02,
 'Deprivation Score Relative to Nation Median': 0.565982106547377,
 'Crimes per 1000': 0.0862578364291827,
 'Crime rate relative to National Median': 1.0444809093431524,
 'Businesses per Hectere': 0.3504233423172259,
 'Retail Score Relative to National Median': 3.686991420260773}

In [25]:
lastdfdict = {key:val for key, val in lastdfdict.items() if lastdfdict[key]["Median Price"]>350000 and lastdfdict[key]["Median Price"]<550000}
for key,val in lastdfdict.items():
    print(key,lastdfdict[key]["Median Price"])

AL1 395000
E1 475000
E10 370000
E11 402500
E14 442500
E15 360000
E17 416000
E9 450000
HA4 363500
HA5 384000
KT1 405000
KT11 530000
KT4 355000
KT6 396375
KT7 365000
KT8 351000
N13 410000
N16 500000
N19 499725
N21 387500
N22 380000
N4 435000
N8 420000
NW10 370000
NW2 355988
NW4 395000
NW6 510750
NW7 445000
RH8 425250
RM9 455000
SE10 416000
SE15 397500
SE16 406500
SE17 418750
SE19 368000
SE21 459750
SE22 470000
SE23 400000
SE24 487500
SE26 352500
SE27 402500
SE3 416000
SE4 419265
SE5 392500
SE7 355000
SW14 451500
SW15 497500
SW16 390000
SW18 514250
SW19 444500
SW2 475000
SW20 366250
SW4 536250
SW8 475750
SW9 495000
TN5 370500
TW1 412500
TW11 375000
TW12 364000
TW2 399000
TW8 422500
W12 545000
W13 387000
W14 547500
W4 540000
W5 445000
W7 395000

In [26]:
maxmedprice=0
for postcode in list(lastdfdict.keys()):
    medprice=lastdfdict[postcode]["Median Price"]
    if medprice>maxmedprice:
        maxmedprice=medprice
print("maxprice",maxmedprice)
maxbusinesses=0
for postcode in list(lastdfdict.keys()):
    businessdens=lastdfdict[postcode]["Businesses per Hectere"]
    if businessdens>maxbusinesses:
        maxbusinesses=businessdens
print("maxbusinesses",maxbusinesses)
maxdeprank=0
for postcode in list(lastdfdict.keys()):
    deprank=lastdfdict[postcode]["Deprivation Rank"]
    if deprank>maxdeprank:
        maxdeprank=deprank
print("maxdep",maxdeprank)
maxcrimerank=0
for postcode in list(lastdfdict.keys()):
    crimerank=lastdfdict[postcode]["Crimes per 1000"]
    if crimerank>maxcrimerank:
        maxcrimerank=crimerank
print("maxcrime",maxcrimerank)
maxtimerank=0
for postcode in list(lastdfdict.keys()):
    timerank=lastdfdict[postcode]["Median Time"]
    if timerank>maxtimerank:
        maxtimerank=timerank
print("maxtime",maxtimerank)

maxprice 547500
maxbusinesses 1.026390001278781
maxdep 29646.0
maxcrime 0.13003353063409107
maxtime 70

In [27]:
lastdfdict["KT1"]

{'Median Price': 405000,
 'Median Time': 54,
 'local authority': 'Kingston upon Thames',
 'Median Price over Median Area (Kingston Only)': 6982.758620689655,
 'Population': 160060,
 'Deprivation Rank': 24742.0,
 'Postcode Median Price Relative to 2hr Radius Median Price': 1.4516129032258065,
 'Postcode Median Time Relative to 2hr Radius Median Time': 1.0,
 'Retail Count': 1105.0,
 'Crime Count': 11776,
 'Area': 3725.93,
 'Deprivation Score Relative to Nation Median': 1.257726718178121,
 'Crimes per 1000': 0.0735724103461202,
 'Crime rate relative to National Median': 0.8908753249795753,
 'Businesses per Hectere': 0.2965702522591675,
 'Retail Score Relative to National Median': 3.120374254618747}

In [28]:
for postcode in list(lastdfdict.keys()):
    price_score=(lastdfdict[postcode]['Median Price']/maxmedprice)
    # smaller is better
    retail_score=(lastdfdict[postcode]["Businesses per Hectere"]/maxbusinesses)
    # bigger is better
    deprivation_score=(lastdfdict[postcode]["Deprivation Rank"]/maxdeprank)**2
    # bigger is better
    crime_score=(lastdfdict[postcode]["Crimes per 1000"]/maxcrimerank)**1.25
    # smaller is better
    time_score=(lastdfdict[postcode]["Median Time"]/maxtimerank)
    # smaller is better
    lastdfdict[postcode]["Total Score"]=(deprivation_score*retail_score)/(time_score*price_score*crime_score)
    # bigger is better
outputdf=pd.DataFrame.from_dict(data=lastdfdict,orient="index")
outputdf=outputdf[["local authority","Median Price","Median Price over Median Area (Kingston Only)","Businesses per Hectere","Deprivation Rank","Crimes per 1000","Median Time","Total Score"]]
savedf=outputdf[(outputdf["Median Price"]>350000) & (outputdf["Median Price"]<550000)].sort_values(by="Total Score",ascending=False)
savedf.to_excel("revised_weighted_savedf_flats_within_75mins.xlsx")

In [29]:
savedf

,local authority,Median Price,Median Price over Median Area (Kingston Only),Businesses per Hectere,Deprivation Rank,Crimes per 1000,Median Time,Total Score
KT6,Kingston upon Thames,396375,6982.758621,0.296570,24742.0,0.073572,43,0.922222
KT1,Kingston upon Thames,405000,6982.758621,0.296570,24742.0,0.073572,54,0.718723
NW2,Barnet,355988,0.000000,0.352670,20414.0,0.075542,49,0.705775
NW4,Barnet,395000,0.000000,0.352670,20414.0,0.075542,45,0.692609
TW2,Richmond upon Thames,399000,0.000000,0.145541,27732.0,0.058538,50,0.646419
SE16,Southwark,406500,0.000000,0.564781,9405.0,0.109743,10,0.645466
SW14,Richmond upon Thames,451500,0.000000,0.145541,27732.0,0.058538,45,0.634727
TW1,Richmond upon Thames,412500,0.000000,0.145541,27732.0,0.058538,53,0.589871
TW11,Richmond upon Thames,375000,0.000000,0.145541,27732.0,0.058538,59,0.582873
TW12,Richmond upon Thames,364000,0.000000,0.145541,27732.0,0.058538,61,0.580799
NW7,Barnet,445000,0.000000,0.352670,20414.0,0.075542,50,0.553309
SW20,Merton,366250,0.000000,0.198011,21836.0,0.064209,54,0.489982
SW15,Wandsworth,497500,0.000000,0.319457,18736.0,0.082584,35,0.482602
E14,Tower Hamlets,442500,0.000000,0.644210,8648.0,0.130034,10,0.462576
SW19,Merton,444500,0.000000,0.198011,21836.0,0.064209,49,0.444922
SW18,Wandsworth,514250,0.000000,0.319457,18736.0,0.082584,38,0.430024
KT4,Epsom and Ewell,355000,0.000000,0.076292,29613.5,0.061250,51,0.402333
SE5,Southwark,392500,0.000000,0.564781,9405.0,0.109743,18,0.371383
SE23,Southwark,400000,0.000000,0.564781,9405.0,0.109743,20,0.327978
W12,Hammersmith and Fulham,545000,0.000000,0.603161,13706.0,0.111402,34,0.315190
E1,Tower Hamlets,475000,0.000000,0.644210,8648.0,0.130034,15,0.287284
E15,Newham,360000,0.000000,0.432914,8403.0,0.110165,16,0.277396
KT7,Elmbridge,365000,0.000000,0.051903,29646.0,0.055297,59,0.262063
SE17,Southwark,418750,0.000000,0.564781,9405.0,0.109743,24,0.261077
SE26,Southwark,352500,0.000000,0.564781,9405.0,0.109743,29,0.256671
NW10,Brent,370000,0.000000,0.442914,12061.0,0.089902,46,0.255105
KT8,Elmbridge,351000,0.000000,0.051903,29646.0,0.055297,64,0.251225
NW6,Brent,510750,0.000000,0.442914,12061.0,0.089902,34,0.250029
E10,Waltham Forest,370000,0.000000,0.350423,11134.0,0.086258,34,0.245061
W14,Hammersmith and Fulham,547500,0.000000,0.603161,13706.0,0.111402,45,0.237056
SE22,Southwark,470000,0.000000,0.564781,9405.0,0.109743,25,0.223304
N4,Islington,435000,0.000000,1.026390,9162.0,0.119830,43,0.216738
SE15,Lewisham,397500,0.000000,0.226540,9617.0,0.096718,16,0.202624
E11,Waltham Forest,402500,0.000000,0.350423,11134.0,0.086258,39,0.196392
W5,Ealing,445000,0.000000,0.328578,13161.0,0.085809,47,0.194379
SE27,Lambeth,402500,0.000000,0.379988,10620.5,0.105534,32,0.183530
N19,Islington,499725,0.000000,1.026390,9162.0,0.119830,45,0.180280
SW8,Lambeth,475750,0.000000,0.379988,10620.5,0.105534,28,0.177455
W13,Ealing,387000,0.000000,0.328578,13161.0,0.085809,62,0.169435
AL1,St Albans,395000,0.000000,0.039391,28912.0,0.056823,59,0.168946
W7,Ealing,395000,0.000000,0.328578,13161.0,0.085809,61,0.168725
KT11,Elmbridge,530000,0.000000,0.051903,29646.0,0.055297,66,0.161336
E9,Hackney,450000,0.000000,0.971435,7034.0,0.124822,30,0.159194
SE10,Greenwich,416000,0.000000,0.167503,11892.0,0.104511,20,0.158951
E17,Waltham Forest,416000,0.000000,0.350423,11134.0,0.086258,47,0.157675
SE19,Croydon,368000,0.000000,0.147418,13892.0,0.090770,33,0.155989
SE7,Greenwich,355000,0.000000,0.167503,11892.0,0.104511,24,0.155220
SW16,Lambeth,390000,0.000000,0.379988,10620.5,0.105534,40,0.151530
SE21,Southwark,459750,0.000000,0.564781,9405.0,0.109743,38,0.150186
SE24,Southwark,487500,0.000000,0.564781,9405.0,0.109743,36,0.149505
SW9,Lambeth,495000,0.000000,0.379988,10620.5,0.105534,32,0.149234
SE4,Lewisham,419265,0.000000,0.226540,9617.0,0.096718,22,0.139713
SW4,Lambeth,536250,0.000000,0.379988,10620.5,0.105534,33,0.133580
W4,Ealing,540000,0.000000,0.328578,13161.0,0.085809,58,0.129803
HA4,Hillingdon,363500,0.000000,0.110195,16368.0,0.084885,56,0.105010
N16,Hackney,500000,0.000000,0.971435,7034.0,0.124822,41,0.104835
N8,Haringey,420000,0.000000,0.381679,9598.0,0.113480,41,0.102845
SW2,Lambeth,475000,0.000000,0.379988,10620.5,0.105534,49,0.101563
TW8,Hounslow,422500,0.000000,0.189080,14130.5,0.092228,61,0.095616
N22,Haringey,380000,0.000000,0.381679,9598.0,0.113480,50,0.093210
HA5,Hillingdon,384000,0.000000,0.110195,16368.0,0.084885,62,0.089784
SE3,Greenwich,416000,0.000000,0.167503,11892.0,0.104511,36,0.088306
N13,Enfield,410000,0.000000,0.169120,9993.0,0.092493,49,0.054673
N21,Enfield,387500,0.000000,0.169120,9993.0,0.092493,55,0.051537
RH8,Tandridge,425250,0.000000,0.010677,24245.5,0.059724,51,0.032518
RM9,Barking and Dagenham,455000,0.000000,0.181305,6376.5,0.106363,28,0.031603
TN5,Wealden,370500,0.000000,0.006518,23547.0,0.039291,70,0.026425

In [63]:
savedfkt=savedf[savedf.index.str.startswith("KT")].sort_values(by="Total Score",ascending=False).head()
savedfsw=savedf[savedf.index.str.startswith("SW")].sort_values(by="Total Score",ascending=False).head()
savedftw=savedf[savedf.index.str.startswith("TW")].sort_values(by="Total Score",ascending=False).head()
savedffinal=pd.concat([savedfkt,savedfsw,savedftw])
savedffinal

,local authority,Median Price,Businesses per Hectere,Deprivation Rank,Crimes per 1000,Median Time,Total Score
KT6,Kingston upon Thames,396375,0.296570,24742.0,0.073572,43,0.922222
KT1,Kingston upon Thames,405000,0.296570,24742.0,0.073572,54,0.718723
KT4,Epsom and Ewell,355000,0.076292,29613.5,0.061250,51,0.402333
KT7,Elmbridge,365000,0.051903,29646.0,0.055297,59,0.262063
KT8,Elmbridge,351000,0.051903,29646.0,0.055297,64,0.251225
SW14,Richmond upon Thames,451500,0.145541,27732.0,0.058538,45,0.634727
SW20,Merton,366250,0.198011,21836.0,0.064209,54,0.489982
SW15,Wandsworth,497500,0.319457,18736.0,0.082584,35,0.482602
SW19,Merton,444500,0.198011,21836.0,0.064209,49,0.444922
SW18,Wandsworth,514250,0.319457,18736.0,0.082584,38,0.430024
TW2,Richmond upon Thames,399000,0.145541,27732.0,0.058538,50,0.646419
TW1,Richmond upon Thames,412500,0.145541,27732.0,0.058538,53,0.589871
TW11,Richmond upon Thames,375000,0.145541,27732.0,0.058538,59,0.582873
TW12,Richmond upon Thames,364000,0.145541,27732.0,0.058538,61,0.580799
TW8,Hounslow,422500,0.189080,14130.5,0.092228,61,0.095616

In [17]:
savedf["Area"]=""
savedf["Sub-Area"]=""
savedf["Comment"]=""
savedf.loc["KT6","Area"]="Kingston"
savedf.loc["KT6","Sub-Area"]="Surbiton"
savedf.loc["KT6","Sub-Area"]="Surbiton"
savedf.loc["KT1","Area"]="Kingston"
savedf.loc["KT1","Sub-Area"]="Centre"
savedf.loc["SW14","Area"]="Kingston"
savedf.loc["SW14","Sub-Area"]="East Sheen"
savedf.loc["TW2","Area"]="Twickenham"
savedf.loc["TW2","Sub-Area"]="Whitton"
savedf.loc["TW1","Area"]="Twickenham"
savedf.loc["TW1","Sub-Area"]="Center"
savedf.loc["TW11","Area"]="Twickenham"
savedf.loc["TW11","Sub-Area"]="Teddington"
savedf.loc["TW12","Area"]="Twickenham"
savedf.loc["TW12","Sub-Area"]="Hampton"
#savedf.sort_values(by="Total Score",ascending=False)

In [30]:
savedf=savedf[savedf["Area"].str.len()>1]
savedf.sort_values(by="Total Score",ascending=False)

,local authority,Median Price,Businesses per Hectere,Deprivation Rank,Crimes per 1000,Median Time,Total Score,Area,Sub-Area
KT6,Kingston upon Thames,396375,0.296570,24742.0,0.073572,43,0.922222,Kingston,Surbiton
KT1,Kingston upon Thames,405000,0.296570,24742.0,0.073572,54,0.718723,Kingston,Centre
TW2,Richmond upon Thames,399000,0.145541,27732.0,0.058538,50,0.646419,Twickenham,Whitton
SW14,Richmond upon Thames,451500,0.145541,27732.0,0.058538,45,0.634727,Kingston,East Sheen
TW1,Richmond upon Thames,412500,0.145541,27732.0,0.058538,53,0.589871,Twickenham,Center
TW11,Richmond upon Thames,375000,0.145541,27732.0,0.058538,59,0.582873,Twickenham,Teddington
TW12,Richmond upon Thames,364000,0.145541,27732.0,0.058538,61,0.580799,Twickenham,Hampton

In [32]:
savedf.groupby('Area', as_index=False)['Total Score'].mean()

         Area  Total Score
0    Kingston     0.758557
1  Twickenham     0.599990

In [21]:
outputdf=outputdf[outputdf["local authority"]!="City of London"]
outputdf=outputdf[outputdf["local authority"]!="Westminster"]
outputdf[(outputdf["Median Time"]<75)].sort_values(by="Total Score",ascending=False)

,local authority,Median Price,Businesses per Hectere,Deprivation Rank,Crimes per 1000,Median Time,Total Score
SE20,Bromley,252500,0.061945,24247.0,0.072116,27,7.134760
CM13,Brentwood,276750,0.016653,26511.0,0.073341,34,5.260215
CM15,Brentwood,272000,0.016653,26511.0,0.073341,38,4.569036
BR7,Bromley,310000,0.061945,24247.0,0.072116,34,3.711558
SE9,Bromley,300000,0.061945,24247.0,0.072116,37,3.434256
KT19,Epsom and Ewell,265000,0.076292,29613.5,0.061250,57,3.227004
BR6,Bromley,320000,0.061945,24247.0,0.072116,38,2.995137
CM14,Brentwood,275000,0.016653,26511.0,0.073341,50,2.977826
CM23,East Hertfordshire,256250,0.015452,27822.0,0.051356,58,2.918367
GU22,Woking,262500,0.104554,27122.0,0.064326,55,2.896720
KT13,Elmbridge,331500,0.051903,29646.0,0.055297,50,2.813539
KT12,Elmbridge,290995,0.051903,29646.0,0.055297,57,2.810559
DA5,Bexley,260000,0.093290,21124.0,0.064143,41,2.769603
BR3,Bromley,345000,0.061945,24247.0,0.072116,39,2.573307
CR5,Reigate and Banstead,272994,0.030973,25682.0,0.059767,54,2.517320
KT8,Elmbridge,280000,0.051903,29646.0,0.055297,64,2.502801
SM6,Sutton,270000,0.133416,23157.0,0.067485,48,2.482894
KT4,Epsom and Ewell,355000,0.076292,29613.5,0.061250,51,2.459137
AL5,St Albans,320000,0.039391,28912.0,0.056823,55,2.445616
TW19,Windsor and Maidenhead,260000,0.030238,29651.0,0.068262,71,2.394596
DA15,Bexley,297000,0.093290,21124.0,0.064143,40,2.354121
GU7,Waverley,267500,0.012747,28993.0,0.045520,68,2.340660
SE16,Southwark,406500,0.564781,9405.0,0.109743,10,2.331459
BR1,Bromley,328000,0.061945,24247.0,0.072116,44,2.316473
KT17,Epsom and Ewell,335000,0.076292,29613.5,0.061250,57,2.270393
BR2,Bromley,300000,0.061945,24247.0,0.072116,49,2.253415
BR8,Sevenoaks,257500,0.009991,23036.0,0.069987,54,2.210847
SM5,Sutton,285000,0.133416,23157.0,0.067485,50,2.153493
KT22,Mole Valley,280000,0.012388,27910.0,0.048914,66,2.118204
CR3,Tandridge,280000,0.010677,24245.5,0.059724,55,2.101272
RH4,Mole Valley,258500,0.012388,27910.0,0.048914,72,2.095710
GU1,Guildford,305000,0.013657,27146.0,0.064614,59,2.085379
DA7,Bexley,262475,0.093290,21124.0,0.064143,50,2.027526
SW14,Richmond upon Thames,421500,0.145541,27732.0,0.058538,45,2.011168
CR4,Merton,285000,0.198011,21836.0,0.064209,49,1.973721
KT6,Kingston upon Thames,387500,0.296570,24742.0,0.073572,43,1.944287
KT7,Elmbridge,360000,0.051903,29646.0,0.055297,59,1.939552
KT9,Kingston upon Thames,286000,0.296570,24742.0,0.073572,59,1.907847
KT5,Kingston upon Thames,317000,0.296570,24742.0,0.073572,54,1.867201
RM3,Havering,265000,0.064653,20074.0,0.071774,49,1.860399
TW2,Richmond upon Thames,400000,0.145541,27732.0,0.058538,50,1.857456
SM2,Sutton,282500,0.133416,23157.0,0.067485,56,1.841009
E14,Tower Hamlets,435000,0.644210,8648.0,0.130034,10,1.780732
TN13,Sevenoaks,350000,0.009991,23036.0,0.069987,46,1.774502
TW1,Richmond upon Thames,391000,0.145541,27732.0,0.058538,53,1.761102
SG3,North Hertfordshire,255000,0.011055,24555.0,0.046675,70,1.727124
SG13,East Hertfordshire,297330,0.015452,27822.0,0.051356,71,1.723980
SM7,Reigate and Banstead,307500,0.030973,25682.0,0.059767,62,1.711605
WD3,Three Rivers,395000,0.038278,28666.0,0.051926,56,1.706309
RM11,Havering,261500,0.064653,20074.0,0.071774,53,1.687126
SE14,Lewisham,325000,0.226540,9617.0,0.096718,16,1.684905
KT15,Runnymede,280750,0.033316,23339.0,0.081543,61,1.660318
GU8,Waverley,318000,0.012747,28993.0,0.045520,73,1.623538
KT21,Mole Valley,320000,0.012388,27910.0,0.048914,69,1.621893
IG3,Redbridge,345000,0.264911,17735.0,0.085712,35,1.619320
TW12,Richmond upon Thames,364000,0.145541,27732.0,0.058538,61,1.587876
AL1,St Albans,400000,0.039391,28912.0,0.056823,59,1.575032
N11,Barnet,319975,0.352670,20414.0,0.075542,47,1.543606
TW15,Spelthorne,255000,0.055706,20382.5,0.077366,59,1.537899
KT20,Reigate and Banstead,304500,0.030973,25682.0,0.059767,69,1.479463
SE10,Greenwich,376400,0.167503,11892.0,0.104511,20,1.479079
WD6,Hertsmere,311000,0.043509,21427.5,0.073427,54,1.441162
RH2,Reigate and Banstead,305500,0.030973,25682.0,0.059767,70,1.440771
TW11,Richmond upon Thames,405000,0.145541,27732.0,0.058538,59,1.422338
KT1,Kingston upon Thames,405000,0.296570,24742.0,0.073572,54,1.292997
HA1,Harrow,325000,0.231847,20044.0,0.065089,51,1.286144
HA2,Harrow,267500,0.231847,20044.0,0.065089,62,1.284981
RH8,Tandridge,423000,0.010677,24245.5,0.059724,51,1.267353
TW16,Spelthorne,265000,0.055706,20382.5,0.077366,65,1.255386
SW20,Merton,350000,0.198011,21836.0,0.064209,54,1.253587
EN5,Barnet,339000,0.352670,20414.0,0.075542,51,1.252283
SM1,Sutton,310000,0.133416,23157.0,0.067485,67,1.223801
HP4,Dacorum,306000,0.020708,22667.0,0.060802,66,1.222901
E15,Newham,340000,0.432914,8403.0,0.110165,16,1.202185
NW4,Barnet,395000,0.352670,20414.0,0.075542,45,1.201276
CR2,Croydon,282500,0.147418,13892.0,0.090770,38,1.185298
SE18,Greenwich,286000,0.167503,11892.0,0.104511,31,1.157229
SE7,Greenwich,370000,0.167503,11892.0,0.104511,24,1.154493
SM4,Merton,360000,0.198011,21836.0,0.064209,56,1.137919
GU4,Guildford,386000,0.013657,27146.0,0.064614,70,1.133404
NW2,Barnet,380000,0.352670,20414.0,0.075542,49,1.120438
SE25,Croydon,279000,0.147418,13892.0,0.090770,40,1.118238
EN6,Welwyn Hatfield,291750,0.021229,20388.0,0.074230,64,1.112920
SE15,Lewisham,432500,0.226540,9617.0,0.096718,16,1.097542
SE19,Croydon,342500,0.147418,13892.0,0.090770,33,1.097157
KT3,Merton,425000,0.198011,21836.0,0.064209,49,1.083851
NW7,Barnet,383750,0.352670,20414.0,0.075542,50,1.071099
TN12,Tonbridge and Malling,340000,0.012242,22360.5,0.069393,64,1.064084
AL9,Welwyn Hatfield,304954,0.021229,20388.0,0.074230,64,1.041427
SW19,Merton,445000,0.198011,21836.0,0.064209,49,1.011610
WD17,Watford,294750,0.244978,18834.0,0.087230,62,0.980885
CR7,Croydon,260000,0.147418,13892.0,0.090770,47,0.975942
SS9,Southend-on-Sea,260000,0.095043,14923.0,0.115330,52,0.967717
TW17,Spelthorne,299950,0.055706,20382.5,0.077366,69,0.953167
SE5,Southwark,414500,0.564781,9405.0,0.109743,18,0.937612
SE2,Greenwich,260000,0.167503,11892.0,0.104511,40,0.910879
TN5,Wealden,370500,0.006518,23547.0,0.039291,70,0.906865
EN11,Broxbourne,266500,0.062206,17914.0,0.067130,68,0.898622
SE23,Southwark,387000,0.564781,9405.0,0.109743,20,0.887375
UB7,Hillingdon,268500,0.110195,16368.0,0.084885,62,0.852096
CR8,Croydon,280000,0.147418,13892.0,0.090770,48,0.846120
SE8,Lewisham,319500,0.226540,9617.0,0.096718,26,0.834476
AL6,Welwyn Hatfield,310000,0.021229,20388.0,0.074230,74,0.817260
SE13,Lewisham,381000,0.226540,9617.0,0.096718,23,0.770196
UB3,Hillingdon,309500,0.110195,16368.0,0.084885,58,0.760956
TW13,Hounslow,270000,0.189080,14130.5,0.092228,55,0.753749
SE6,Lewisham,294998,0.226540,9617.0,0.096718,31,0.722452
HA4,Hillingdon,361000,0.110195,16368.0,0.084885,56,0.636721
SE17,Southwark,403000,0.564781,9405.0,0.109743,24,0.635249
UB2,Hounslow,300000,0.189080,14130.5,0.092228,56,0.626401
SE26,Southwark,352500,0.564781,9405.0,0.109743,29,0.584633
UB6,Ealing,272800,0.328578,13161.0,0.085809,59,0.579474
E10,Waltham Forest,390000,0.350423,11134.0,0.086258,34,0.554611
HA3,Brent,280000,0.442914,12061.0,0.089902,53,0.549689
HA5,Hillingdon,367500,0.110195,16368.0,0.084885,62,0.532131
SE3,Greenwich,415000,0.167503,11892.0,0.104511,36,0.529036
E4,Waltham Forest,259750,0.350423,11134.0,0.086258,53,0.524272
W13,Ealing,281250,0.328578,13161.0,0.085809,62,0.513869
UB9,Hillingdon,408750,0.110195,16368.0,0.084885,58,0.501376
E11,Waltham Forest,370000,0.350423,11134.0,0.086258,39,0.488544
SE27,Lambeth,425000,0.379988,10620.5,0.105534,32,0.485828
HA9,Brent,312500,0.442914,12061.0,0.089902,53,0.466207
N17,Haringey,280000,0.381679,9598.0,0.113480,45,0.444945
SW16,Lambeth,378500,0.379988,10620.5,0.105534,40,0.413621
W3,Ealing,390000,0.328578,13161.0,0.085809,52,0.409710
N15,Haringey,321000,0.381679,9598.0,0.113480,42,0.402005
HA0,Brent,300000,0.442914,12061.0,0.089902,63,0.382450
E7,Newham,357500,0.432914,8403.0,0.110165,34,0.359946
EN4,Enfield,280500,0.169120,9993.0,0.092493,55,0.356000
TW8,Hounslow,420000,0.189080,14130.5,0.092228,61,0.332619
TW7,Hounslow,361620,0.189080,14130.5,0.092228,71,0.331551
SE21,Southwark,398500,0.564781,9405.0,0.109743,38,0.324266
W7,Ealing,395000,0.328578,13161.0,0.085809,61,0.316365
E5,Hackney,302402,0.971435,7034.0,0.124822,35,0.310404
E17,Waltham Forest,416501,0.350423,11134.0,0.086258,47,0.309195
SE24,Southwark,438750,0.564781,9405.0,0.109743,36,0.304396
EN2,Enfield,280000,0.169120,9993.0,0.092493,63,0.291169
EN1,Enfield,300000,0.169120,9993.0,0.092493,61,0.275560
N22,Haringey,355500,0.381679,9598.0,0.113480,50,0.265551
N13,Enfield,383000,0.169120,9993.0,0.092493,49,0.265339
N4,Islington,430000,1.026390,9162.0,0.119830,43,0.228074
N21,Enfield,385000,0.169120,9993.0,0.092493,55,0.221390
N16,Hackney,446500,0.971435,7034.0,0.124822,41,0.136458

In [12]:
outputdf[(outputdf["Postcode Median Price Relative to 2hr Radius Median Price"]<1) & (outputdf["Postcode Median Time Relative to 2hr Radius Median Time"]<1)].sort_values(by="Total Score",ascending=False)["local authority"].to_dict()

{'IG1': 'Redbridge',
 'KT9': 'Kingston upon Thames',
 'CR4': 'Merton',
 'WD19': 'Watford',
 'SE18': 'Greenwich',
 'IG11': 'Barking and Dagenham',
 'SM6': 'Sutton',
 'SM5': 'Sutton',
 'GU21': 'Woking',
 'CR0': 'Croydon',
 'SE2': 'Greenwich',
 'RM9': 'Barking and Dagenham',
 'DA17': 'Bexley',
 'DA8': 'Bexley',
 'SE25': 'Croydon',
 'CR7': 'Croydon',
 'DA15': 'Bexley',
 'TW13': 'Hounslow',
 'UB2': 'Hounslow',
 'DA1': 'Bexley',
 'RM13': 'Havering',
 'N18': 'Enfield',
 'DA16': 'Bexley',
 'EN3': 'Enfield',
 'LU1': 'Luton',
 'DA7': 'Bexley',
 'N9': 'Enfield',
 'BR1': 'Bromley',
 'UB3': 'Hillingdon',
 'RG1': 'Reading',
 'UB7': 'Hillingdon',
 'RM3': 'Havering',
 'SG1': 'Stevenage',
 'SS9': 'Southend-on-Sea',
 'SS0': 'Southend-on-Sea',
 'EN8': 'Broxbourne',
 'EN10': 'Broxbourne',
 'EN11': 'Broxbourne',
 'SS15': 'Basildon',
 'SS16': 'Basildon',
 'CM20': 'Harlow',
 'SS7': 'Castle Point',
 'RH6': 'Reigate and Banstead',
 'RH10': 'Crawley',
 'CM19': 'Harlow',
 'ME4': 'Medway',
 'RM19': 'Thurrock',
 'RM15': 'Thurrock',
 'ME2': 'Medway',
 'RM17': 'Thurrock',
 'RM18': 'Thurrock',
 'RM16': 'Thurrock',
 'CM23': 'East Hertfordshire',
 'CM1': 'Chelmsford',
 'SS11': 'Chelmsford',
 'SS17': 'Thurrock',
 'TN2': 'Tunbridge Wells',
 'TN9': 'Tonbridge and Malling',
 'CM3': 'Chelmsford',
 'SS6': 'Rochford',
 'TN12': 'Tonbridge and Malling',
 'SS4': 'Rochford',
 'SS5': 'Rochford',
 'SG6': 'North Hertfordshire',
 'BR8': 'Sevenoaks',
 'DA3': 'Sevenoaks',
 'CO5': 'Colchester',
 'TN15': 'Sevenoaks',
 'TN23': 'Ashford',
 'CM8': 'Braintree'}